<div>
  <div class="manage-accounts">
    <div>{{"MA_DIV_MANAGE_ACCOUNTS" | translate}}</div>
    <button #invokeAddAccount class="float-right add-account-btns font-weight-bold cursor-pointer mr-3"
      (click)="addNewAccount()"><i class="fa fa-plus mr-1"></i>{{"MA_BUTTON_ADD_ACCOUNT" | translate}}</button>
  </div>
  <div class="border border-dark mt-1" *ngFor="let accounts of user.accounts; let i = index">
    <div class="p-2 bank-name" [ngStyle]="{'background': accounts.primaryColor}">
      <img *ngIf="accounts.logo" [src]="'data:image/jpg;base64,'+accounts.logo | safeHtml" class="image-logo">
      <img *ngIf="!accounts.logo" src="../assets/default.png" class="image-logo">
      <span class="instname-color ml-2" [ngClass]="{'text-body': !accounts.primaryColor}">{{accounts.inst_name}}</span>
      <span class="float-right m-2 white">
        <div class="dropdown">
          <i class="fa fa-cog cursor-pointer" id="dropdownMenuButton" data-target="dropdownnotifyButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div id="dropdownnotifyButton" class="dropdown-menu dropdown-position" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item cursor-pointer" (click)="editAccounts(accounts.id)">{{"MA_A_EDIT" | translate}}</a>
            <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#deleteIndividually"
              (click)="passDltValue(accounts.id, i, 'ACCOUNTS')">{{"MA_A_DELETE" | translate}}</a>
          </div>
        </div>
        <div class="number-span d-none" *ngIf="accounts.subAccountsLength">{{accounts.subAccountsLength.length}}</div>
      </span>
    </div>
    <div class="gray-bg">
      <div *ngFor="let subAccount of accounts.accounts; let j = index">
        <div class="p-3"
          *ngIf="subAccount.type == 'depository' || subAccount.type == 'credit' || subAccount.type == 'brokerage' || subAccount.type == 'loan'">
          <div class="row ml-3 mr-3">
            <div class="col-md-9 col-sm-8 col-8">
              <div class="cursor-pointer main-account-check font-weight-bold">
                <span (click)="showAccount(accounts.accounts, j)" class="cursor-pointer" [ngClass]="{'account-inactive': subAccount.status && subAccount.status === 'INACTIVE'}">
                  <i class="fa fa-angle-right mr-2 font-weight-bold" *ngIf="!subAccount.showDetails"></i>
                  <i class="fa fa-angle-down mr-2 font-weight-bold" *ngIf="subAccount.showDetails"></i>
                  {{subAccount.official_name}}
                </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-4 text-right" [ngClass]="{'amount-dollar ':subAccount.type === 'depository'}">
              {{subAccount.balances.current | currency}}
            </div>
          </div>
          <div class="ml-4 mt-2" *ngIf="subAccount.showDetails">
            <div class="row ml-3 mr-3">
              <div class="col-lg-4 col-md-6 col-sm-6 col-7">
                {{"MA_DIV_NAME" | translate}}
                <div>
                  <input class="form-control" [(ngModel)]="subAccount.official_name" placeholder="" />
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-5">
                {{"MA_DIV_STATUS" | translate}}
                <div>
                  <select class="form-control cursor-pointer" name="status{{j+1}}" [(ngModel)]="subAccount.status">
                    <option value="ACTIVE">{{"MA_OPTION_ACTIVE" | translate}}</option>
                    <option value="INACTIVE">{{"MA_OPTION_NOT_ACTIVE" | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-2">
                <button class="float-right save-account-btn font-weight-bold cursor-pointer mt-4 button-height"
                  (click)="setStatusOfAccount(accounts.id, subAccount)">{{"MA_BUTTON_SAVE" | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border border-dark mt-3">
    <div class="p-3 bank-name bg-info instname-color">
      {{"MA_DIV_PROPERTIES" | translate}}
      <span class="float-right white">
        <div class="dropdown">
          <i class="fa fa-cog cursor-pointer" id="dropdownMenuButton" data-target="dropdownnotifyButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div id="dropdownnotifyButton" class="dropdown-menu dropdown-position1" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item cursor-pointer"
              (click)="propertyHandler('callingAddProperty')">{{"MA_A_ADD_PROPERTY" | translate}}</a>
            <a class="dropdown-item cursor-pointer" *ngIf="(user.properties.length > 0)" data-toggle="modal"
              data-target="#exampleModalCenter"
              (click)="deleteAll('All_Property')">{{"MA_A_DELETE_ALL" | translate}}</a>
          </div>
        </div>
      </span>
    </div>
    <div class="text-center pt-2 pb-2" *ngIf="!(user.properties.length > 0)">{{"MA_DIV_NO_PROPERTY_ADDED" | translate}}
    </div>
    <div class="p-3 gray-bg" *ngFor="let value of user.properties; let i = index">
      <div class="row ml-3 mr-3">
        <div class="col-md-9 col-sm-8 col-8">
          <div class="cursor-pointer main-account-check font-weight-bold">
            <span (click)="showAccount(user.properties, i)" class="cursor-pointer">
              <i class="fa fa-angle-right mr-2 font-weight-bold" *ngIf="!value.showDetails"></i>
              <i class="fa fa-angle-down mr-2 font-weight-bold" *ngIf="value.showDetails"></i>
              <span *ngIf="!value.subtypeToUpdate">{{value.type}} {{value.nameToUpdate}}</span>
              <span *ngIf="value.subtypeToUpdate">{{value.type}} ({{value.subtypeToUpdate}})</span>
            </span>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-4 amount-dollar text-right">
          {{value.estimated_value | currency}}
        </div>
      </div>
      <div class="ml-4 mt-2 position1" *ngIf="value.showDetails">
        <div class="row ml-3 mr-3">
          <div class="col-sm-12">
            {{"MA_DIV_NAME" | translate}}
            <div *ngIf="!value.subtypeToUpdate">
              <input class="form-control name-details button-align" [(ngModel)]="value.name" placeholder="" />
              <button class="float-right save-account-btn font-weight-bold cursor-pointer button-height"
              (click)="updatePropertyName(value, i)">{{"MA_BUTTON_SAVE" | translate}}</button>
            <button class="float-right delete-account-btn font-weight-bold cursor-pointer mr-3 button-height"
              data-toggle="modal" data-target="#deleteIndividually"
              (click)="passDltValue(value, i, 'PROPERTY')">{{"MA_BUTTON_DELETE" | translate}}</button>
            </div>
            <div *ngIf="value.subtypeToUpdate">
              <input class="form-control name-details button-align" [(ngModel)]="value.subtype" placeholder="" />
              <button class="float-right save-account-btn font-weight-bold cursor-pointer button-height"
                (click)="updatePropertyName(value, i)">{{"MA_BUTTON_SAVE" | translate}}</button>
              <button class="float-right delete-account-btn font-weight-bold cursor-pointer mr-3 button-height"
                data-toggle="modal" data-target="#deleteIndividually"
                (click)="passDltValue(value, i, 'PROPERTY')">{{"MA_BUTTON_DELETE" | translate}}</button>

            </div>
          </div>
        </div>
        <div class="row ml-3 mr-3 mt-3" *ngIf="(value.type == 'Real Estate')">
          <div class="col-sm-12" *ngIf="value.other_detail">
            <p>{{"MA_P_ADDRESS" | translate}}</p>
            <p class="font-weight-bold">
              {{value.other_detail.address}} {{value.other_detail.city}} {{value.other_detail.state}}
              {{value.other_detail.country}} {{value.other_detail.zipid}}
            </p>
          </div>
        </div>
        <div class="row ml-3 mr-3 mt-3" *ngIf="(value.type == 'Real Estate')">
          <div class="col-sm-4">
            <div class="zestimate cursor-pointer">{{"MA-DIV_ZESTIMATE" | translate}}</div>
            <div class="mt-2">{{value.estimated_value | currency}}</div>
          </div>
          <div class="col-sm-8">
            <div><img src="../assets/zillow.png" class="zillow-img"></div>
            <div class="zillow-text">{{"MA_DIV_T_AND_C" | translate}}</div>
          </div>
        </div>

        <div class="row ml-3 mr-3 mt-3 position2" *ngIf="value.prices && value.prices.length > 0">
          <div>
            <span class="font-weight-bold">{{"MA_SPAN_DATE_UPDATED" | translate}}</span> {{value.prices[i].dateUpdated}}
          </div>
          <div class="pl-4">
            <span class="font-weight-bold">{{"MA_SPAN_ONGOING_PRICE" | translate}}
            </span>{{value.prices[i].zEstimate | currency}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete confirmation modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{"MA_H5_CONFIRM" | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ "MA_DIV_CONFIRMATION_D_ALL" | translate}} {{dynamicText}}?
        </div>
        <div class="modal-footer">
          <button #closeBtn type="button" class="btn btn-primary"
            data-dismiss="modal">{{"MA_BUTTON_CANCEL" | translate}}</button>
          <button type="button" class="btn btn-danger"
            (click)="callDeleteAll(dynamicText)">{{"MA_BUTTON_DELETE" | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteIndividually" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> {{"MA_H5_CONFIRM" | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ "MA_DIV_CONFIRMATION_D_THIS" | translate}} {{dynamicText}}?
        </div>
        <div class="modal-footer">
          <button #propertBtnClose type="button" class="btn btn-primary"
            data-dismiss="modal">{{"MA_BUTTON_CANCEL" | translate}}</button>
          <button type="button" class="btn btn-danger"
            (click)="deleteIndividual(propertyVariable.value, propertyVariable.index, dynamicText)">{{"MA_BUTTON_DELETE" | translate}}</button>
        </div>
      </div>
    </div>
  </div>


</div>