.add-account-btns{
  background:#337ab7;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: 0px;
}
.manage-accounts{
  font-size:25px;
  display: flex;
  justify-content: space-between;
}
.bank-name{
  font-size:20px;
  background:#dcdcdc;
  color:#666666;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-left: 1.2rem !important;
}
.white{
  color:#ffffff !important;
}

.account-inactive{
  color: #333333;
  opacity: 0.5;
}
.main-account-check{
  font-size:15px;
}
.amount-dollar{
  color:#46a81b;
}
.save-account-btn{
  background:#337ab7;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: 0px;
  width: 120px;
}
.delete-account-btn{
  background:red;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: 0px;
  width: 120px;
}
.info-message{
  color:red;
  font-size:17px;
}
.name-details{
  width:250px;
}
.zestimate{
  color: #46a81b;
  text-decoration:underline;
  font-size:14px;
  font-weight:bold;
}
.zillow-img{
  width:20%;
}
.zillow-text{
  font-size:14px;
  color:#A9A9A9;
}
.image-logo{
  width:50px;
  height:50px;
}
.gray-bg{
  background:#f2f1f2;
  margin-left:1px;
  margin-right:0px;
}
.button-align{
  display:inline;
}
.button-height{
  height:36px;
}
.number-span {
  position: relative;
  bottom: 42px;
  height: 25px;
  width: 25px;
  background: #337ab7;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px 9px;
  color:#ffffff;
}
.margin-cog{
  margin-top:-20px;
}

@media only screen and (max-width: 600px) {
  .manage-accounts {
    font-size:15px;
    margin-left:10px;
  }
 .info-message {
    display:none;
  }
}
.dropdown-position{
   z-index:1;
   min-width:0px;
   left:50px;
   transform: translate3d(-70px,26px, 0px) !important;
}
.instname-color{
  color:#ffffff;
}
.dropdown-position1{
  z-index:1;
  min-width:0px;
  left:50px;
}
.position1{
  position:relative;
}
.position2{
  position:absolute;
  top:0;
  right:0
}
