<div class="modal-body custom-modal">
  <div class="container" *ngIf="realEstateCurrentDiv == 'selectPropertyType'">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4> {{"APM_H4_ADD_YOUR_PROPERTY" | translate}}</h4>
        <p class="small"> {{"APM_P_ADD_TO_NEXUS" | translate}}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-3 col-md-3 col-lg-3 set-padding">
        <div class="text-center hover-color pt-3 pb-3" (click)="changeModalDiv('realEstateI')">
          <i class="fa fa-plus plus-icon" aria-hidden="true"></i><br> {{"APM_I_REAL_ESTATE" | translate}} <br><i class="fa fa-home icon-size" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 set-padding" (click)="changeModalDiv('VehicleI')">
        <div class="text-center hover-color pt-3 pb-3">
          <i class="fa fa-plus plus-icon" aria-hidden="true"></i><br> {{"APM_I_VEHICLE" | translate}}  <br><i class="fa fa-car icon-size" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 set-padding" (click)="changeModalDiv('cashOrDebtI')">
        <div class="text-center hover-color pt-3 pb-3">
          <i class="fa fa-plus plus-icon" aria-hidden="true"></i><br> {{"APM_I_CASH_OR_DEBT" | translate}}  <br><i class="fa fa-usd icon-size" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 set-padding" (click)="changeModalDiv('otherI')">
        <div class="text-center hover-color pt-3 pb-3">
          <i class="fa fa-plus plus-icon" aria-hidden="true"></i><br> {{"APM_I_Other" | translate}} <br><i class="fa fa-cube icon-size" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Real Estate -->
  <div class="container" *ngIf="realEstateCurrentDiv == 'realEstateI'">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>{{"APM_H4_LET_FIND_THE_VALUE_OF_YOUR_HOME" | translate}}</h4>
        <p class="small"> {{"APM_P_PLEASE_ENTER_YOUR_ADDRESS" | translate}}.</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-2"></div>
      <div class="col-12 col-sm-8">
        <input type="text" class="form-control" name="realEstateAddress" [(ngModel)]="realEstateData.address" placeholder="{{'APM_DIV_STREET_ADDRESS' | translate}}">
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-sm-2"></div>
      <div class="col-6 col-sm-4 padding-r">
        <input type="text" class="form-control" name="realEstateCity" [(ngModel)]="realEstateData.city" placeholder="{{'EPM_DIV_CITY' | translate}}">
      </div>
      <div class="col-6 col-sm-4 padding-l">
        <input type="text" class="form-control" name="realEstateState" [(ngModel)]="realEstateData.state" placeholder="{{'EPM_DIV_STATE' | translate}}">
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-sm-2"></div>
      <div class="col-8 col-sm-5 padding-r">
        <input type="text" class="form-control" name="realEstateCountry" [(ngModel)]="realEstateData.country" placeholder="{{'EPM_DIV_COUNTRY' | translate}}">
      </div>
      <div class="col-4 col-sm-3 padding-l">
        <input type="text" class="form-control" name="realEstateZip" [(ngModel)]="realEstateData.zip" placeholder="{{'APM_DIV_ZIP' | translate}}">
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 text-center">
          {{"APM_DIV_AUTOMATICALLY_GET" | translate}} <a>{{"APM_A_CLICK_HERE" | translate}}</a>.
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-info" [disabled]="!(realEstateData.address && realEstateData.city && realEstateData.state)"
          (click)="addressIntegration('realEstateII', realEstateData)"> {{"APM_BUTTON_NEXT" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'realEstateII'">
    <div class="row mb-5">
      <div class="col-sm-12 text-center mb-5">
        <h4> {{"APM_H4_LOCATING_YOUR_ADDRESS" | translate}}...</h4>
        <p class="small mt-2 mb-2"> {{"APM_H4_SEARCHING_POSSIBLE_MATCHES_ON" | translate}} </p>
        <p class="mt-0 mb-0"><img src="../assets/zillow.png" alt="" width="125"></p>
        <p class="mt-1"><img src="../assets/loading-icon.gif" alt="" width="100"></p>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'addAddressDiv'">
    <div class="row">
      <div class="col-sm-12 text-center mb-2">
        <h4> {{"APM_H4_HERE_WHAT_WE_FOUND" | translate}}</h4>
        <p class="small mb-2"> {{"APM_P_PLEASE_SELECT_YOUR_ADDRESS" | translate}} </p>
        <p class="mt-0 mb-0"><img src="../assets/zillow.png" alt="" width="125"></p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-1 col-sm-1 col-md-1 col-lg-3"></div>
      <div class="col-10 col-sm-10 col-md-10 col-lg-6 text-center mb-5">
        <div class="text-center hover-color pt-2" (click)="changeModalDiv('realEstateIII')">
          <i class="fa fa-plus plus-icon" aria-hidden="true"></i><br>
          <p class="small" *ngIf="realEstateData.objAddress">
            {{realEstateData.objAddress.street}}, {{realEstateData.objAddress.city}}, {{realEstateData.objAddress.state}} {{realEstateData.objAddress.zipcode}}
          </p>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-3"></div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'realEstateIII'">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4> {{"APM_H4_EDIT_YOUR_REAL_ESTATE_DETAILS" | translate}} </h4>
        <p class="small"> {{"APM_P_PLEASE_ANSWER_THE_FOLLOWING_QUESTION" | translate}} n</p>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-lg-1"></div>
      <div class="col-sm-6 col-md-6 col-lg-5">
        <p class="common-font"> {{"APM_P_WHAT_KIND_OF_RESIDENCE_IS_THIS" | translate}} </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-5">
        <select class="form-control custom-select" name="realEstateName" [(ngModel)]="realEstateData.name">
          <option> {{"APM_P_WHAT_KIND_OF_RESIDENCE_IS_THIS" | translate}} </option>
          <option> {{"APM_OPTION_INVESTMENT_PROPERTY" | translate}} </option>
          <option> {{"APM_OPTION_VACATION_HOME" | translate}} </option>
          <option>{{"APM_OPTION_OTHER" | translate}}</option>
        </select>
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row ">
      <div class="col-lg-1"></div>
      <div class="col-sm-6 col-md-6 col-lg-5">
        <p class="common-font"> {{"APM_P_ITS_ESTIMATED_VALUE" | translate}}?</p>
      </div>
      <div class="col-8 col-sm-4 col-md-4 col-lg-3 input-group">
        <div class="input-group-append">
          <span class="input-group-text bg-none set-group">$</span>
        </div>
        <input type="number" class="form-control set-input" placeholder="" [(ngModel)]="realEstateData.estimated_value" step="0.01" name="realEstateEstimatedValue">
      </div>
      <div class="col-4 col-sm-2 col-md-2 col-lg-3 pl-0">
        <a href="https://www.zillow.com/corp/Terms.htm" target="_blank" class="cursor-pointer no-underline">
          <img src="../assets/zillow.png" alt="" class="zillow-img">
          <div class="text-secondary small-size"> {{"APM_DIV_TERMS_AND_CONDITIONS" | translate}} </div>
        </a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-1"></div>
      <div class="col-sm-6 col-md-6 col-lg-5">
        <p class="common-font"> {{"APM_P_PROPERTY_NAME" | translate}} </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-5">
        <input type="text" class="form-control" placeholder="{{'APM_DIV_ITALIAN_HOME' | translate}}" [(ngModel)]="realEstateData.subtype" name="realEstateSubtype">
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-primary" [disabled]="!(realEstateData.name && realEstateData.estimated_value)" (click)="validateAndAddProperty('successDiv', realEstateData)">Add IT</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'successDiv'">
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        <h4> {{"APM_H4_WE_GOT_YOUR_PROPERTY" | translate}} </h4>
        <p class="small"> {{"APM_P_FINANCIAL_OVERVIEW" | translate}} </p>
      </div>
    </div>
    <div class="row mt-5 mb-5 ml-0 mr-0">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-primary btn-Overview text-uppercase common-font mr-4" style="height:40px;"
          (click)="closeModal()"> {{"APM_BUTTON_GO_TO_OVERVIEW" | translate}} </button>
        <button type="button" class="btn btn-primary text-uppercase common-font" style="height:40px;"
          (click)="changeModalDiv('selectPropertyType')"> {{ "APM_BUTTON_ADD_ANOTHER_PROPERTY" | translate}} </button>
      </div>
    </div>
  </div>

  <!-- Vehicle -->
  <div class="container" *ngIf="realEstateCurrentDiv == 'VehicleI'">
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        <h4> {{"APM_H4_LET_FIND_THE_VALUE_OF_YOUR_VEHICLE" | translate}}</h4>
        <p class="small"> {{"APM_H4_WHAT_YOUD_LIKE_TO_ADD" | translate}}</p>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-2 col-sm-3"></div>
      <div class="col-8 col-sm-6">
        <select class="form-control custom-select" [(ngModel)]="vehicleData.name" name="vehicleName">
          <option value="Automobile"> {{"APM_OPTION_AUTOMOBILE" | translate}} </option>
          <option value="Boat"> {{"APM_OPTION_BOAT" | translate}} </option>
          <option value="Motorcycle"> {{"APM_OPTION_MOTORCYCLE" | translate}} </option>
          <option value="Snowmobile"> {{"APM_OPTION_SNOWMOBILE" | translate}} </option>
          <option value="Bicycle"> {{"APM_OPTION_BICYCLE" | translate}} </option>
          <option value="Commercial Vehicle"> {{"APM_OPTION_COMMERCIAL VEHICLE" | translate}} </option>
          <option value="Other"> {{"APM_OPTION_OTHER" | translate}} </option>
        </select>
      </div>
      <div class="col-2 col-sm-3"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center mt-5">
        <button type="button" [disabled]="!(vehicleData.name)" (click)="changeModalDiv('VehicleII')" class="btn btn-primary">{{"APM_BUTTON_NEXT" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'VehicleII'">
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        <h4> {{"APM_H4_FIND_THE_VALUE" | translate}} {{vehicleData.name}}</h4>
        <p class="small"> {{"APM_P_PLEASE_ANSWER_QUESTIONS" | translate}} </p>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-4 col-12 col-sm-4 col-md-4 top-sp">
          <select class="form-control custom-select"  [(ngModel)]="vehicleData.year" name="vehicleYear" #yearOptions required>
            <option disabled="disabled" value="year"> {{"APM_OPTION_YEAR" | translate}}</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            <option>2007</option>
            <option>2006</option>
            <option>2005</option>
            <option>2004</option>
            <option>2003</option>
            <option>2002</option>
            <option>2001</option>
          </select>
        </div>
        <div class="col-lg-4 col-12 col-sm-4 col-md-4 top-sp">
          <select class="form-control custom-select" [(ngModel)]="vehicleData.brand" name="vehicleBrand" #brandOptions required>
            <option disabled="disabled" value="brand"> {{"APM_OPTION_MAKE" | translate}} </option>
            <option> Acura</option>
            <option> Alfa Romeo</option>
            <option> Audi</option>
            <option> BMW</option>
            <option> Buick</option>
            <option> Cadicial</option>
            <option> Cadicial</option>
            <option> Chevrolet</option>
            <option> Chrysler</option>
            <option> Dodge</option>
            <option> Flat</option>
            <option> GMC</option>
            <option>Honda</option>
          </select>
        </div>
        <div class="col-lg-4 col-12 col-sm-4 col-md-4 top-sp">
          <select class="form-control custom-select" [(ngModel)]="vehicleData.model" name="vehicleModel" #modelOptions required>
            <option disabled="disabled" value="model">{{"APM_OPTION_MODEL" | translate}}</option>
            <option>A3</option>
            <option>A4</option>
            <option>A5</option>
            <option>A6</option>
            <option>A7</option>
            <option>A8</option>
            <option>Q3</option>
            <option>Q4</option>
            <option>S3</option>
            <option>S4</option>
            <option>S5</option>
            <option>S6</option>
            <option>S7</option>
            <option>S8</option>
          </select>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-8 col-lg-8 col-12 col-sm-8 top-mp">
          <select class="form-control custom-select" [(ngModel)]="vehicleData.trim" name="vehicleTrim" #trimOptions required>
            <option disabled="disabled" value="trim">{{"APM_OPTION_TRIM" | translate}}</option>
            <option>Premium sedan 4D</option>
            <option>Premium plus sedan 4D</option>
          </select>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 top-sp">
          <input type="text" class="form-control" placeholder="{{'APM_DIV_MILES' | translate}}" [(ngModel)]="vehicleData.miles" name="vehicleMiles">
        </div>
      </div>
      <div class="row mt-4 mb-5">
        <div class="col-sm-12 text-center">
          <!-- <p class="small">Or, Manually track your {{vehicleData.name}}'s value by <a href="#">clicking here</a></p> -->
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center mt-3">
          <button type="button" (click)="changeModalDiv('VehicleIII')" class="btn btn-primary btn-md"
            [disabled]="yearOptions.value=='year' || brandOptions.value=='brand' || modelOptions.value=='model' || trimOptions.value=='trim'">{{"APM_BUTTON_SHOW_ME" | translate}}</button>
        </div>
      </div>
    </form>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'VehicleIII'">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>{{"APM_H4_EDIT_THE_DETAILS_OF_YOUR" | translate}} {{vehicleData.brand}} {{vehicleData.model}}</h4>
        <p class="small">{{"APM_P_PLEASE_ANSWER_QUESTIONS" | translate}} </p>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font">{{"APM_P_IDENTIFIER_NAME_FOR_PROPERTY" | translate}}</p>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="{{'APM_DIV_VEHICLE_NAME' | translate}}" [(ngModel)]="vehicleData.subtype" name="vehicleSubtype">
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font">{{"APM_P_ESTIMATED_VALUE" | translate}}</p>
        <!-- <p class="small">Powered by Kelley Blue Book</p> -->
      </div>
      <div class="col-sm-5">
        <input type="number" class="form-control" [(ngModel)]="vehicleData.estimated_value" name="vehicleEstimatedValue" placeholder="$">
        <!-- <p class="small mt-1">This is our best estimate based on available data see <a href="http://KBB.com">KBB.com</a> for a detailed estimate</p> -->
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-primary" [disabled]="!(vehicleData.estimated_value)" (click)="validateAndAddProperty('successDiv',vehicleData)">{{"APM_BUTTON_ADD_IT" | translate}}</button>
      </div>
    </div>
  </div>

  <!-- Cash or Debt -->
  <div class="container" *ngIf="realEstateCurrentDiv == 'cashOrDebtI'">
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        <h4>{{"APM_H4_VALUE_CASH_AND_DEBT" | translate}}</h4>
        <p class="small">{{"APM_P_PLEASE_SELECT" | translate}}</p>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-2 col-sm-3"></div>
      <div class="col-8 col-sm-6">
        <select class="form-control custom-select" [(ngModel)]="cashOrDebtData.name" name="cashOrDebtName">
          <option value = "Debt">{{"APM_OPTION_DEBT" | translate}}</option>
          <option value = "Cash">{{"APM_OPTION_CASH" | translate}}</option>
        </select>
      </div>
      <div class="col-2 col-sm-3"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center mt-5">
        <button type="button" class="btn btn-primary" [disabled]="!(cashOrDebtData.name)" (click)="changeModalDiv('cashOrDebtII')">{{"APM_BUTTON_NEXT" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'cashOrDebtII'">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>{{"APM_H4_EDIT_THE_DETAILS_OF_YOUR" | translate}} {{cashOrDebtData.name}}</h4>
        <p class="small">{{"APM_P_PLEASE_ANSWER_QUESTIONS" | translate}} </p>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font">{{"APM_P_IDENTIFIER_NAME_FOR_PROPERTY" | translate}} </p>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="{{'APM_DIV_ITALIAN_HOME' | translate}}" [(ngModel)]="cashOrDebtData.subtype" name="cashOrDebtSubtype">
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row mb-5">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font ns-required">{{"APM_P_TOTAL_AMOUNT" | translate}}</p>
      </div>
      <div class="col-sm-5">
        <input type="number" class="form-control" [(ngModel)]="cashOrDebtData.estimated_value" name="cashOrDebtEstimatedValue" placeholder="$">
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-primary" [disabled]="!(cashOrDebtData.estimated_value)" (click)="validateAndAddProperty('successDiv',cashOrDebtData)">{{"APM_BUTTON_ADD_IT" | translate}}</button>
      </div>
    </div>
  </div>

  <!-- Other -->
  <div class="container" *ngIf="realEstateCurrentDiv == 'otherI'">
    <div class="row mb-3">
      <div class="col-sm-12 text-center">
        <h4>{{"APM_H4_LIKE_TO_ADD" | translate}}</h4>
        <p class="small">{{"APM_P_PLEASE_SELECT_BELOW" | translate}}.</p>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-2 col-sm-3"></div>
      <div class="col-8 col-sm-6">
        <select class="form-control custom-select" [(ngModel)]="otherData.name" name="otherName">
          <option value="Artwork">{{"APM_OPTION_ARTWORK" | translate}}</option>
          <option>{{"APM_OPTION_APPLIANCE" | translate}}</option>
          <option>{{"APM_OPTION_BEDDING_DRAPES_LINEN" | translate}}</option>
          <option>{{"APM_OPTION_BOOKS_CDS_DVDS_TAPES" | translate}}</option>
          <option>{{"APM_OPTION_CAMERA" | translate}}</option>
          <option>{{"APM_OPTION_CLOTHING" | translate}}</option>
          <option>{{"APM_OPTION_COLECTIBLE" | translate}}</option>
          <option>{{"APM_OPTION_COLECTIBLE" | translate}}</option>
          <option>{{"APM_OPTION_COOKING" | translate}}</option>
          <option>{{"APM_OPTION_CUTLERY_SILVERWARE" | translate}}</option>
          <option>{{"APM_OPTION_DECORATIONS" | translate}}</option>
          <option>{{"APM_OPTION_DISHES_FINE_CHINA" | translate}}</option>
          <option>{{"APM_OPTION_ELECTRONICS" | translate}}</option>
          <option>{{"APM_OPTION_FURNITURE" | translate}}</option>
          <option>{{"APM_OPTION_GARDENING" | translate}}</option>
          <option>{{"APM_OPTION_GLASS_CRYSTAL" | translate}}</option>
          <option>{{"APM_OPTION_GOLD" | translate}}</option>
          <option>{{"APM_OPTION_MISCELLANEOUS_ITEMS" | translate}}</option>
          <option>{{"APM_OPTION_MUSICAL_INSTRUMENTS" | translate}}</option>
          <option>{{"APM_OPTION_RUG" | translate}}</option>
          <option>{{"APM_OPTION_SPORTS_GOODS" | translate}}</option>
          <option>{{"APM_OPTION_TOOLS" | translate}}</option>
          <option>{{"APM_OPTION_TOYS" | translate}}</option>
        </select>
      </div>
      <div class="col-2 col-sm-3"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center mt-5">
        <button type="button" class="btn btn-primary" [disabled]="!(otherData.name)" (click)="changeModalDiv('otherII')">{{"APM_BUTTON_NEXT" | translate}}</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="realEstateCurrentDiv == 'otherII'">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4>{{"APM_H4_EDIT_THE_DETAILS_OF_YOUR" | translate}} {{otherData.name}}</h4>
        <p class="small">{{"APM_P_PLEASE_ANSWER_QUESTIONS" | translate}}</p>
      </div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font">{{"APM_P_IDENTIFIER_NAME_FOR_PROPERTY" | translate}} </p>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" placeholder="{{'APM_DIV_ITALIAN_HOME' | translate}}" [(ngModel)]="otherData.subtype" name="otherSubtype">
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font">{{"APM_P_ESTIMATED_VALUE" | translate}}?</p>
      </div>
      <div class="col-sm-3">
        <input type="number" class="form-control" [(ngModel)]="otherData.estimated_value" name="otherEstimatedValue" placeholder="$">
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row mt-5 mb-3">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="common-font">{{"APM_P_PROPERTY_ASSOCIATED_WITH_LOAN_MORTGAGE_CREDIT" | translate}} </p>
      </div>
      <div class="col-sm-4">
        <select class="form-control custom-select">
          <option>N/A</option>
          <option>{{"APM_OPTION_DEBT" | translate}} </option>
        </select>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-primary" [disabled]="!(otherData.estimated_value)" (click)="validateAndAddProperty('successDiv',otherData)">{{"APM_BUTTON_ADD_IT" | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer property-modal-footer">
  <div class="text-center w-100">
    <span *ngIf="!(realEstateCurrentDiv == 'selectPropertyType' || realEstateCurrentDiv == 'successDiv')" 
      class="back" (click)="backDiv()">{{"APM_SPAN_BACK" | translate}}</span>
    <i class="fa fa-lock" aria-hidden="true"></i>{{ "APM_I_SECURITY" | translate}} 
    <span (click)="closeModal()" class="cancel">{{"APM_SPAN_CANCEL" | translate}}</span>
  </div>
</div>