.custom-modal{
  min-height: 70vh;
}
.property-modal-footer{
    padding:10px !important;
    justify-content: normal !important;
    color: #ffffff;
    background: #333333;
    border:1px solid;
    font-size:14px;
  }
  .common-font{
    font-size: 0.9rem;
  }
  .w-100{
    width:100%;
  }
  .cancel{
    float:right;
  }
  .back{
    float:left;
  }
  .back:hover, .cancel:hover{
    cursor:pointer;
  }
  .icon-size{
    font-size:2.2rem;
  }
  .plus-icon{
    font-size:1.2rem;
  }
  .hover-color{
    line-height:1.5rem;
    border:1px solid #999999;
  }
  .hover-color:hover .fa {
    color:#008198;
  }
  .hover-color:hover{
    border:1px solid #666666;
  }
  .set-padding{
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
    z-index: 9999;
  }
  .bg-none{
    background: none;
  }
  .set-group{
    border-right:0;
    border-radius: 0.25rem !important;
    padding-right: 4px;
  }
  .set-input{
    border-left:0;
    padding-left: 0px;
    margin-left: -3px;
  }
  .small-size {
    font-size: 9px;
    white-space: nowrap;
    text-decoration: none;
  }
  .zillow-img{
    width: 70px;
  }
  .no-underline:hover{
    text-decoration: none !important;
  }
  input::placeholder {
    color:#d8d2d2;
  }
 
  @media screen and (max-width: 575px){
    .set-padding{
      margin-top:0.25rem;
      padding-left:25px;
      padding-right:25px;
    }
    .top-sp {
      margin-top: 10px;
    }
    .top-mp{
      margin-top:1px;
    }
  }
  
  @media screen and (max-width:350px){
    .property-modal-footer{
      font-size:12px;
    }
    .padding-r{
      padding-right:2px;
    }
    .padding-l{
      padding-left:2px;
    }
  }
  
  @media screen and (max-width:480px){
    .padding-r{
      padding-right:4px;
    }
    .padding-l{
      padding-left:4px;
    }
    .btn-Overview{
      margin-right: 0 !important;
      margin-bottom: 16px !important;
    }
  }