<div class="modal-body">
  <div class="container" *ngIf="displayCurrentDiv == 'welcomeDiv'">
    <div class="row  ns-font-34 ns-justify-text">
      <div>Hi Carlos!</div>
    </div>
    <div class="row  ns-font-34 ns-text-center">
      <div>Welcome to <img src="assets/nexus-log.png" alt="" class="nexusLogo-size carlos-font" /> </div>
    </div>
    <div class="">
      <div class="row mt-3 ns-justify-text">
        <div class="col-md-1 display-tick" for="check1">
          <img src="assets/greenTick.png" alt="" class="mr-2 tick-size" /></div>
        <div class="col-md-10 display-text ns-font-23">Nexus is working with Nissan to get you approved for a new car
          with just
          few clicks</div>
      </div>

      <div class="row mt-3 ns-justify-text">
        <div class="col-md-1 display-tick" for="check2">
          <img src="assets/greenTick.png" alt="" class="mr-2 tick-size" /></div>
        <div class=" col-md-10 display-text ns-font-23">We will do our best to get you into a new car while not
          increasing your
          monthly payments</div>
      </div>

      <div class="row mt-3 ns-justify-text">
        <div class="col-md-1 display-tick">
          <img src="assets/greenTick.png" alt="" class="mr-2 tick-size" />
        </div>
        <div class="col-md-10 display-text ns-font-23"> Nissan will never have access to your personal information
          without your
          permission
        </div>
      </div>

      <div class="row margin15 mt-4 ns-justify-text ns-font-13">
        <div class="font-last">Nexus is a secured online personal financial platform, click 'Continue' and verify your
          information in the next screens</div>
      </div>
    </div>
    <div class="row  mt-5 ns-justify-text">
      <button type="button" class="btn btn-lg continue-button" (click)="changeModalDiv('userDetailsDiv')">
        <i class="fa fa-lock mr-3" aria-hidden="true"></i> Continue
      </button>
    </div>
  </div>

  <!-- User details form -->
  <div class="container" *ngIf="displayCurrentDiv == 'userDetailsDiv'">
    <div class="modal-header">
      <div class=""><img src="assets/nexus-log.png" alt="" class="nexusLogo-size1" /></div>
      <span class="pr-1"><img src="../../assets/Nissan-logo.png" style="height:60px ;"></span>
    </div>

    <div class="modal-body">
      <div class="row">
        <div id="greenCircle1">
          <div id="p12"></div>
        </div>
        <div class="col-md-4">Personal Information</div>
        <div class="greyCircle1">
        </div>
        <div class="col-md-4"> Employment</div>
      </div>

      <div class="mt-4">Please verify your information below</div>

      <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr "> First Name</label>
        </div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr"> Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ns-font-13 ns-font-weight-bold">Name</div>
        <div class="form-group col-md-5 marginb0">
          <input type="text" class="form-control" name="firstName" (keypress)="alphabetOnly($event)"
            [(ngModel)]="userAttributes.first_name" maxlength="30">
        </div>
        <div class="form-group col-md-5 marginb0">
          <input type="text" class="form-control" name="lastName" (keypress)="alphabetOnly($event)"
            [(ngModel)]="userAttributes.last_name" maxlength="30">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr">Date of Birth</label>
          <div class="input-group">
            <input type="text" name="DOB" [(ngModel)]="userAttributes.dobInDate" class="form-control"
              [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [maxDate]="maxDate" placement="bottom" #dp="bsDatepicker"
              bsDatepicker>
            <div class="input-group-append">
              <span class="input-group-text bg-none" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen"><i
                  class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr">Home Phone Number</label>
        </div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr">Cell Phone Number</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ns-font-13 ns-font-weight-bold">Contact</div>
        <div class="form-group col-md-5 marginb0">
          <input type="text" class="form-control" name="homePhone" (keypress)="numberOnly($event)"
            (ngModelChange)="userAttributes.home_phone = $event" maxlength="14"
            [ngModel]="userAttributes.home_phone | phoneNumber">
        </div>
        <div class="form-group col-md-5 marginb0">
          <input type="text" class="form-control" name="phoneNumbers" (keypress)="numberOnly($event)"
            (ngModelChange)="userAttributes.phone_numbers = $event" maxlength="14"
            [ngModel]="userAttributes.phone_numbers | phoneNumber">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="form-group col-md-10 font-color marginb0">
          <label for="usr">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="userAttributes.emails">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="form-group col-md-10 font-color marginb0">
          <label for="usr">Address1</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ns-font-13 ns-font-weight-bold">Address</div>
        <div class="form-group col-md-10 marginb0">
          <input type="text" class="form-control" [(ngModel)]="userAttributes.address.street" name="street"
            maxlength="45">
        </div>

      </div>
      <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="form-group col-md-10 font-color marginb0">
          <label for="usr">Address2</label>
          <input type="text" class="form-control" [(ngModel)]="userAttributes.address.street2" name="street2"
            maxlength="45">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr">City</label>
          <input type="text" class="form-control" [(ngModel)]="userAttributes.address.city" name="city" maxlength="20">
        </div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr">State</label>
          <input type="text" class="form-control" [(ngModel)]="userAttributes.address.state" name="state"
            maxlength="20">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="form-group col-md-5 font-color marginb0">
          <label for="usr">Zip</label>
          <input type="text" class="form-control" [(ngModel)]="userAttributes.address.zip" name="zipCode"
            maxlength="10">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="next-btn cursor-pointer"
        (click)="updateUserProfile('employerDetailsDiv')">Next</button>
    </div>
  </div>

  <!-- Employer details form -->
  <div class="container" *ngIf="displayCurrentDiv == 'employerDetailsDiv'">
    <div class="modal-header">
      <div class=""><img src="assets/nexus-log.png" alt="" class="nexusLogo-size1" /></div>
      <span class="pr-1"><img src="../../assets/Nissan-logo.png" style="height:60px ;"></span>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="wrapper">
        </div>
        <div class="col-md-4">Personal Information</div>
        <div id="circle">
          <div id="p1"></div>
        </div>
        <div class="col-md-4">Employment
        </div>
      </div>
      <div class="mt-4">Please verify your information below</div>

      <div *ngFor="let empDetails of userAttributes.employers; let i = index">
        <div *ngIf="empDetails.origin == 'csv'">
          <div class="row mt-4">
            <div class="col-md-4 ns-font-13 ns-font-weight-bold">Current Employer</div>
            <div class="form-group col-md-8 font-color">
              <label for="usr">Employer Name </label>
              <input type="text" class="form-control" name="empName" [(ngModel)]="empDetails.employer_name">
            </div>
            <div class="col-md-4"></div>
            <div class="form-group col-md-8 font-color">
              <label for="usr"> Employer Phone Number</label>
              <input type="text" class="form-control" name="empNumber" [ngModel]="empDetails.phone_number | phoneNumber"
                (keypress)="numberOnly($event)" (ngModelChange)="empDetails.phone_number = $event" maxlength="14">
            </div>
            <div class="col-md-4"></div>
            <div class="form-group col-md-8 font-color">
              <label for="usr">Self Employed?</label><br>
              <label class="radio-inline col-md-3">
                <input type="radio" name="optradio" class="radio-size" [(ngModel)]="empDetails.self_employed"
                  [value]="1"> YES
              </label>
              <label class="radio-inline col-md-3">
                <input type="radio" name="optradio" class="radio-size" [(ngModel)]="empDetails.self_employed"
                  [value]="0"> NO
              </label>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-md-4 ns-font-13 ns-font-weight-bold">Current Employer Address</div>
            <div class="form-group col-md-8 font-color">
              <label for="usr">Address1</label>
              <input type="text" class="form-control" name="address1" [(ngModel)]="empDetails.address.street1">
            </div>

            <div class="col-md-4"></div>
            <div class="form-group col-md-8 font-color">
              <label for="usr">Address2</label>
              <input type="text" class="form-control" name="address2" [(ngModel)]="empDetails.address.street2">
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="form-group col-md-6 font-color">
                  <label for="usr">City</label>
                  <input type="text" class="form-control" name="city" [(ngModel)]="empDetails.address.city">
                </div>
                <div class="form-group col-md-6 font-color">
                  <label for="usr">State</label>
                  <input type="text" class="form-control" name="state" [(ngModel)]="empDetails.address.state">
                </div>
              </div>
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="form-group col-md-6 font-color">
                  <label for="usr">Zip</label>
                  <input type="text" class="form-control" name="zipCode" [(ngModel)]="empDetails.address.zipCode">
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-md-4 ns-font-13 ns-font-weight-bold">Employment</div>
            <div class="form-group col-md-8 font-color">
              <label for="usr">Occupation</label>
              <input type="text" class="form-control" name="occupation" [(ngModel)]="empDetails.occupation">
            </div>

            <div class="col-md-4"></div>
            <div class="form-group col-md-4 font-color">
              <label for="usr">Employment Start date</label>
              <input type="text" class="form-control text-secondary" [(ngModel)]="empDetails.from_duration_in_date"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [maxDate]="maxDate" placement="top" #dp="bsDatepicker"
                bsDatepicker (bsValueChange)="calculateDuration($event, i)">
            </div>
            <div class="col-md-4 pt-4">
              <span class="text-success" *ngIf="empDetails.dateDuration">{{empDetails.dateDuration}}</span>
            </div>
            <div class="col-md-4"></div>
            <div class="form-group col-md-4 font-color">
              <label for="usr">Income Per Month</label>
              <input type="text" class="form-control" name="incomePerMonth" [(ngModel)]="empDetails.income">
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="next-btn cursor-pointer"
        (click)="setEmployerDetails('previousEmployerDiv')">Next</button>
    </div>
  </div>

  <!-- Previous employer details form -->
  <div class="container" *ngIf="displayCurrentDiv == 'previousEmployerDiv'">
    <div class="modal-header">
      <div class=""><img src="assets/nexus-log.png" alt="" class="nexusLogo-size1" /></div>
      <span class="pr-1"><img src="../../assets/Nissan-logo.png" style="height:60px ;"></span>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="wrapper">
        </div>
        <div class="col-md-4">Personal Information</div>
        <div class="wrapper">
        </div>
        <div class="col-md-4">Employment
        </div>
      </div>
      <div class="mt-4">Please verify your information below</div>

      <div class="row mt-4">
        <div class="col-md-4 ns-font-13 ns-font-weight-bold">Previous Employer</div>
        <div class="form-group col-md-8 font-color">
          <label for="usr">Employer Name </label>
          <input type="text" class="form-control" name="empName" [(ngModel)]="previousEmployerData.employer_name">
        </div>
        <div class="col-md-4"></div>
        <div class="form-group col-md-8 font-color">
          <label for="usr"> Employer Phone Number</label>
          <input type="text" class="form-control" name="empNumber"
            [ngModel]="previousEmployerData.phone_number | phoneNumber" (keypress)="numberOnly($event)"
            (ngModelChange)="previousEmployerData.phone_number = $event" maxlength="14">
        </div>
        <div class="col-md-4"></div>
        <div class="form-group col-md-8 font-color">
          <label for="usr">Self Employed?</label><br>
          <label class="radio-inline col-md-3">
            <input type="radio" name="optradio" class="radio-size" [(ngModel)]="previousEmployerData.self_employed"
              [value]="1"> YES
          </label>
          <label class="radio-inline col-md-3">
            <input type="radio" name="optradio" class="radio-size" [(ngModel)]="previousEmployerData.self_employed"
              [value]="0"> NO
          </label>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-4 ns-font-13 ns-font-weight-bold">Previous Employer Address</div>
        <div class="form-group col-md-8 font-color">
          <label for="usr">Address1</label>
          <input type="text" class="form-control" name="address1" [(ngModel)]="previousEmployerData.address.street1">
        </div>

        <div class="col-md-4"></div>
        <div class="form-group col-md-8 font-color">
          <label for="usr">Address2</label>
          <input type="text" class="form-control" name="address2" [(ngModel)]="previousEmployerData.address.street2">
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="form-group col-md-6 font-color">
              <label for="usr">City</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="previousEmployerData.address.city">
            </div>
            <div class="form-group col-md-6 font-color">
              <label for="usr">State</label>
              <input type="text" class="form-control" name="state" [(ngModel)]="previousEmployerData.address.state">
            </div>
          </div>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="form-group col-md-6 font-color">
              <label for="usr">Zip</label>
              <input type="text" class="form-control" name="zipCode" [(ngModel)]="previousEmployerData.address.zipCode">
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-md-4 ns-font-13 ns-font-weight-bold">Employment</div>
        <div class="form-group col-md-8 font-color">
          <label for="usr">Occupation</label>
          <input type="text" class="form-control" name="occupation" [(ngModel)]="previousEmployerData.occupation">
        </div>

        <div class="col-md-4"></div>
        <div class="form-group col-md-4 font-color">
          <label for="usr">Employment Start date</label>
          <input type="text" class="form-control text-secondary"
            [(ngModel)]="previousEmployerData.from_duration_in_date" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
            [maxDate]="maxDate" placement="top" #dp="bsDatepicker" bsDatepicker
            (bsValueChange)="calculateDuration($event, 'previousEmployer')">
        </div>
        <div class="col-md-4 pt-4">
          <span class="text-success"
            *ngIf="previousEmployerData.dateDuration">{{previousEmployerData.dateDuration}}</span>
        </div>
        <div class="col-md-4"></div>
        <div class="form-group col-md-4 font-color">
          <label for="usr">Income Per Month</label>
          <input type="text" class="form-control" name="incomePerMonth" [(ngModel)]="previousEmployerData.income">
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="skip-btn cursor-pointer" (click)="closeModal('reload')">No Previous Employer</a>
      <button type="button" class="next-btn cursor-pointer"
        (click)="setPreviousEmployerDetails(previousEmployerData)">Submit</button>
    </div>
  </div>

</div>