.nexusLogo-size{
    width:30%;
    vertical-align: sub;
}
.tick-size{
    height:40px;
    color:#94e53d !important;
}
.nexusLogo-size1{
    width:22%;
    height:50px;
    
}
.m-15{
    margin: 15px;
}


.check-font{
    font-size:24px;
}

.continue-button{
    width:30%;
    height:70px;
    font-size:26px;
    background:forestgreen;
    color:white;
    font-weight:800;
}
.margin15{
    margin:15px;
}
.display-tick{
    display:inline-block;
    line-height:4;
}
.display-text{
    display:inline-block;
    word-break:break-word;
}

.font-color{
    color:#5a5b5a;
    font-size:13px;
}
.radio-size{
    border: 0px;
    width: 50%;
    height: 2em;
    vertical-align:middle;
}
.next-btn{
    height: 40px;
    width: 12%;
    color: white;
    background: forestgreen;
}
.skip-btn{
    color: red !important;
    text-decoration: underline !important;
    margin-right: 1.5rem;
    font-weight: 600;
}
.marginb0{
    margin-bottom:0px !important;
}
.wrapper{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid green;
    overflow: hidden;
    background: green;
  }
  
  .one{
    display: inline-block;
    background-color: green;
    height: 80px; width:30px;
  
  }
  
  .two{
    display: inline-block;
    /* background-color: white; */
    background-color:green;
    height: 100px; width:50px;
  }
  .greyCircle1{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 3px solid grey;
    overflow: hidden;
  }
  
  .one1{
    display: inline-block;
    background-color: green;
    height: 80px;

  
  }
  
  .two1{
    display: inline-block;
    background-color: white;
    height: 100px; width:50px;
  }
  #circle {
    border-radius: 100%;
    height:20px;
    width: 3%;
    background: green;
    border: 3px solid green;
}


#p1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
    width: 49%;
    height: 100%;
}
#greenCircle1 {
    border-radius: 100%;
    height: 21px;
    width: 3%;
    background: green;
    border: 3px solid green;
}


#p12 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: white;
    width: 49%;
    height: 100%;
}


