.custom-select{
  width: 66% !important;
  border-radius: 0px !important;
  height: 32px !important;
  font-size: 14px;
}
/* .abc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/*end toggle css*/
.canvas-div{
  border: 1px solid black;
  padding: 15px;
}
.f-weight{
  font-weight: bold;
}
.blue{
  color:blue;
  text-align: center;
}
.chart-container {
  position: relative;
  margin: auto;
  height: 70vh;
}
.button-values{
  width: 126px;
  padding: 20px 0px 20px 0px;
  margin: 15px 2px 0px 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 9px !important;
}
.active-btn {
  background-color: #46a81b;
  font-weight:bold ;
  color:#ffffff;
}
.graph-width{
  width:88%;
  margin:0 auto ;
}
.set-overview{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link-overview{
  border-bottom: 2px solid #F5BF13;
  color: #F5BF13 !important;
  cursor: pointer !important;
}
@media only screen and (max-width: 600px) {
   .button-values {
     width:100% ;
     height:30px;
     margin:5px !important;
     padding:0px ;
   }
   .width-line {
     width:80%;
     margin:0 auto;
   }
   .graph-width{
     width:unset;
   }
 }
@media only screen and (min-width: 600px) and (max-width: 800px) {
   .button-values {
     width:74px ;
     font-size: 60%;
     padding: 0px;
     height: 60px;
   }
   .width-line {
     margin: 0 auto ;
   }
   .graph-width{
     width:100%;
   }
 }
@media only screen and (min-width: 800px) and (max-width: 1050px) {
   .button-values {
     width:100px ;
     font-size:80%;
     padding: 0px;
     height: 70px;
   }
   .graph-width{
     width:100%;
   }
 }

/* background images */
.bg-text {
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bg-text .dash-hide{
  display: none;
}
.bg-common {
  /* Add the blur effect */
  filter: blur(7px);
  -webkit-filter: blur(7px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-graphs-image {
  /* The image used */
  background-image: url("/../assets/graphs.png");
  height: 510px; 
}
