<div class="abc">
<div class="">
  <ul class="nav report-entry">
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'income_over_time'}" (click)="showGraph('income_over_time')">{{"TR_BUTTON_INCOME_OVER_TIME" | translate}}</button>
    </li>
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'spending_over_time'}" (click)="showGraph('spending_over_time')">{{"TR_BUTTON_SPENDING_OVER_TIME" | translate}}</button>
    </li>
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'spending_by_category'}" (click)="showGraph('spending_by_category')">{{"TR_BUTTON_SPENDING_BY_CATEGORY" | translate}}</button>
    </li>
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'net_income_over_time'}" (click)="showGraph('net_income_over_time')">{{"TR_BUTTON_NET_INCOME" | translate}}</button>
    </li>
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'assets_over_time'}" (click)="showGraph('assets_over_time')">{{"TR_BUTTON_ASSETS" | translate}}</button>
    </li>
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'debts_over_time'}" (click)="showGraph('debts_over_time')">{{"TR_BUTTON_DEBTS" | translate}}</button>
    </li>
    <li class="width-line">
      <button class="button-values cursor-pointer" [ngClass]="{'active-btn':graphValue == 'networth_over_time'}" (click)="showGraph('networth_over_time')">{{"TR_BUTTON_NET_WORTH" | translate}}</button>
    </li>
  </ul>
</div>

<div class="parent-property">
  <div class="row" *ngIf="accountsForBlur.length == 0">
    <div class="col-12 mt-4">
      <div class="bg-graphs-image bg-common"></div>
      <div class="bg-text">
        <p class="report-hide">Link your account to view the widget</p>
        <p class="dash-hide">User does not have any active account</p>
        <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add Account</button>
      </div>
    </div>
  </div>

  <div *ngIf="accountsForBlur.length > 0">
    <div *ngIf="(!showNoTransactionsWarning); else elseBlockTransaction">
      <div *ngFor="let id of getKeys(graphs)" class= "mt-3 container">
        <div class="container canvas-div" *ngIf="id == graphValue">
        <p class="f-weight">{{graphs[id].translationKey | translate}}</p>
        <div class="row">
          <div class="hide-in-report col-md-3 col-6 col-sm-4 col-lg-3" [hidden]="!graphs[id].showFromOption">
            <span>{{"TR_SPAN_FROM" | translate}}</span>
          </div>
          <div class="hide-in-report col-md-3 col-6 col-sm-4 col-lg-3">
            <span>{{"TR_SPAN_DURING" | translate}}</span>
          </div>

          <div class=" margin-in-trend col-md-3 col-6 col-sm-4 col-lg-3">
            <span>{{graphs[id].totalAmountNameKey | translate}}</span>
          </div>
          <div class="col-md-3 border-info d-inline">
            <span>{{graphs[id].avgAmountNameKey | translate}}</span>
          </div>
        </div>
        <div class="row">
          <div class=" hide-in-report col-6 col-sm-4 col-md-3 col-lg-3 mb-1" [hidden]="!graphs[id].showFromOption">
            <select class="form-control custom-select" name="sellist1" (change)="filterForTransactions($event,id)"
                    [(ngModel)]="graphs[id].accountsFilter">
              <option value="all">{{"TR_OPTION_ALL_ACCOUNTS" | translate}}</option>
              <ng-container *ngFor="let account of accounts">
                  <option *ngIf="(account.official_name || account.inst_name) && (account.status == 'ACTIVE')" [ngValue]="account">
                    {{account.inst_name}} {{account.official_name}}
                  </option>
                </ng-container>
            </select>
          </div>
          <div class=" hide-in-report col-6 col-sm-4 col-md-3 col-lg-3 mb-1">
            <select class="form-control custom-select cursor-pointer"  name="sellist2" (change)="filterForTransactions($event,id)"
                    [(ngModel)]="graphs[id].datesFilter">
              <option *ngFor="let index of dateFilterArray" [ngValue]="index.value">{{index.translateKeyValue | translate}}</option>
            </select>
          </div>
          <div class="margin-in-trend col-md-3 col-6 col-sm-4 col-lg-3">
            <span class="h4">{{graphs[id].totalAmount | currency}}</span>
          </div>
          <div class="col-md-3 border-info d-inline">
            <span class="h4">{{graphs[id].avgAmount | currency}}</span>
          </div>
        </div>
        <div *ngIf="graphs[id].load" class=chart-container>
          <canvas baseChart #baseChart="base-chart" [datasets]="graphs[id].data" [labels]="graphs[id].labels" [options]="graphs[id].barOptions"
                  [chartType]="graphs[id].type" [colors]="graphs[id].colors" (chartClick)="onChartClick($event)"
                  ></canvas>
          <span class="set-overview" *ngIf="graphs[id].type === 'doughnut' && graphs[id].level>0">
            <span class="pt-2 link-overview cursor-pointer h4" (click)="drillDownPieChart(0, 'RESET_PIE')" >
              {{"TR_SPAN_OVERVIEW" | translate}}
            </span>
            <span class="h4" *ngFor="let label of graphs[id].labelHierachy; let i = index">
              > {{label}}
            </span>
          </span>
        </div>
        <div *ngIf="!graphs[id].load">
          <img src="../../assets/threeDotLoad.gif" alt="" height="60">
        </div>
      </div>
      </div>
    </div>

    <ng-template #elseBlockTransaction>
      <div class="mt-4 mb-4 ml-2 blue"><br>
        {{"T_DIV_FETCHING_TRANSACTIONS" | translate}}
      </div>
    </ng-template>
  </div>
</div>
<app-transactions-modal></app-transactions-modal>
