<!--Edit Profile Modal-->
<div class="modal-body pt-0">
  <form name="editForm" (ngSubmit)="updateUserProfile()" #f>
    <div class="row bg-dark white modal-head">
      <div class="col-sm-12 pt-2 pb-2"> {{"EPM_DIV_EDIT_PROFILE" | translate}} <a class="float-right cursor-pointer"
          (click)="closeModal('')"><i class="fa fa-close"></i></a></div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-4 text-center">
        <div>
          <div class="image-fixed-size text-center d-inline-block">
            <img *ngIf="(userAttributes.picture.includes('http')) || (userAttributes.picture.includes('data'))"
              [src]="userAttributes.picture" class="rounded-circle mw-100 h-100 text-center cursor-pointer"
              alt="userPic" (click)="imagePicker.click()">
            <ngx-avatar size="125"
              *ngIf="!(userAttributes.picture.includes('http')) && !(userAttributes.picture.includes('data'))"
              name="{{userAttributes.first_name}}"></ngx-avatar>
          </div>
        </div>
        <div class="text-primary text-center mt-1">
          <input #imagePicker class="d-none" id="userProfilePic" type="file" accept="image/*"
            (change)="updateSource($event)">
          <label for="userProfilePic" class="cursor-pointer underline"> {{"EPM_DIV_CHANGE" | translate}} </label>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row mt-3">
          <div class="col-sm-5 col-lg-5 pt-2 p-t-0 text-secondary ns-required">
            {{"EPM_DIV_FIRST_NAME" | translate}}
          </div>
          <div class="col-sm-7 col-lg-7 ">
            <input name="firstName" (keypress)="alphabetOnly($event)" placeholder="{{'EPM_DIV_FIRST_NAME' | translate}}"
              [(ngModel)]="userAttributes.first_name" maxlength="30" class="form-control text-secondary" type="text" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-5 col-lg-5 pt-2 p-t-0 text-secondary">
            {{"EPM_DIV_LAST_NAME" | translate}}
          </div>
          <div class="col-sm-7 col-lg-7">
            <input name="lastName" (keypress)="alphabetOnly($event)" placeholder="{{'EPM_DIV_LAST_NAME' | translate}}" [(ngModel)]="userAttributes.last_name" maxlength="30"
              class="form-control text-secondary" type="text" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-5 col-lg-5 pt-2 p-t-0 text-secondary">
            {{"EPM_DIV_DATE_OF_BIRTH" | translate}}
          </div>
          <div class="col-sm-7 col-lg-7 input-group">
            <input type="text" name="DOB" placeholder="{{'EPM_DIV_DATE_OF_BIRTH' | translate}}" onkeydown="event.preventDefault()"
              [(ngModel)]="userAttributes.dobInDate" class="form-control text-secondary"
              [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [maxDate]="maxDate" placement="bottom" #dp="bsDatepicker" bsDatepicker>
            <div class="input-group-append">
              <span class="input-group-text bg-none" (click)="dp.show()" [attr.aria-expanded]="dp.isOpen"><i
                  class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row bg-orange modal-head mt-2">
      <div class="col-sm-12 pt-2 pb-1"></div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12"> {{"EPM_DIV_CONTACT_DETAILS" | translate}}</div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-4 col-lg-3 text-secondary pt-2 p-t-0"> {{"EPM_DIV_PREFERRED_EMAIL" | translate}}</div>
      <div class="col-sm-8 col-lg-9">
        <input name="email" placeholder="{{'EPM_DIV_PREFERRED_EMAIL' | translate}}" [(ngModel)]="userAttributes.emails"
          class="form-control text-secondary" type="email" required (blur)="emailValidateMethod()">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-4 col-lg-3 text-secondary pt-2 p-t-0"> {{"EPM_DIV_MOBILE_PHONE_NUMBER" | translate}}</div>
      <div class="col-sm-8 col-lg-9">
        <input name="phone" placeholder="{{'EPM_DIV_MOBILE_PHONE_NUMBER' | translate}}" (keypress)="numberOnly($event)"
          (blur)="phoneLength()" [ngModel]="userAttributes.phone_numbers | phoneNumber"
          (ngModelChange)="userAttributes.phone_numbers = $event" class="form-control text-secondary" type="text"
          maxlength="14" required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-4 col-lg-3 text-secondary pt-2 p-t-0"> {{"EPM_DIV_HOME_PHONE_NUMBER" | translate}}</div>
      <div class="col-sm-8 col-lg-9">
        <input name="homePhone" placeholder="{{'EPM_DIV_HOME_PHONE_NUMBER' | translate}}" (keypress)="numberOnly($event)"
          (blur)="phoneLength()" [ngModel]="userAttributes.home_phone | phoneNumber"
          (ngModelChange)="userAttributes.home_phone = $event" class="form-control text-secondary" type="text"
          maxlength="14" required>
      </div>
    </div>

    <div class="row bg-orange modal-head mt-2">
      <div class="col-sm-12 pt-2 pb-1"></div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12"> {{"EPM_DIV_ADDRESS" | translate}}</div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-4 col-lg-3 text-secondary pt-2 p-t-0"> {{"EPM_DIV_STREET_ADDRESS_1" | translate}}</div>
      <div class="col-sm-8 col-lg-9">
        <input name="address1" placeholder="{{'EPM_DIV_STREET_ADDRESS_1' | translate}}"
          [(ngModel)]="userAttributes.address.street" maxlength="45" class="form-control text-secondary" type="text"
          required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-4 col-lg-3 text-secondary pt-2 p-t-0"> {{"EPM_DIV_STREET_ADDRESS_2" | translate}}</div>
      <div class="col-sm-8 col-lg-9">
        <input name="address2" placeholder="{{'EPM_DIV_STREET_ADDRESS_2' | translate}}"
          [(ngModel)]="userAttributes.address.street2" maxlength="45" class="form-control text-secondary" type="text"
          required>
      </div>
    </div>
    <div class="row mt-3">
      <!-- <div class="col-sm-2 col-lg-2 text-center left-text text-secondary pt-2 p-t-0"> {{"EPM_DIV_COUNTRY" | translate}}</div>
      <div class="col-sm-4 col-lg-4">
        <input name="country" placeholder="Country" [(ngModel)]="userAttributes.address.country" class="form-control text-secondary" 
          type="text" required>
      </div> -->
      <div class="col-sm-2 col-lg-2 text-center left-text text-secondary pt-2 p-t-0">{{"EPM_DIV_CITY" | translate}}
      </div>
      <div class="col-sm-4 col-lg-4">
        <input name="city" placeholder="{{'EPM_DIV_CITY' | translate}}" [(ngModel)]="userAttributes.address.city" maxlength="20"
          class="form-control text-secondary" type="text" required>
      </div>
      <div class="col-sm-2 col-lg-2 text-center left-text text-secondary pt-2 p-t-0 small-screen-mt">
        {{"EPM_DIV_STATE" | translate}}</div>
      <div class="col-sm-4 col-lg-4">
        <input name="state" placeholder="{{'EPM_DIV_STATE' | translate}}" [(ngModel)]="userAttributes.address.state" maxlength="20"
          class="form-control text-secondary" type="text" required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-2 col-lg-2 text-center left-text text-secondary no-break pt-2 p-t-0">
        {{"EPM_DIV_ZIP_CODE" | translate}}</div>
      <div class="col-sm-4 col-lg-4">
        <input name="zipcode" (change)="verifyZipCode()" placeholder="{{'EPM_DIV_ZIP_CODE' | translate}}"
          [(ngModel)]="userAttributes.address.zip" class="form-control text-secondary" type="text" required>
      </div>

      <div class="col-sm-2 col-lg-2 text-center left-text text-secondary pt-2 p-t-0 small-screen-mt"> {{"EPM_DIV_COUNTRY" | translate}}
      </div>
      <div class="col-sm-4 col-lg-4">
        <input name="country" placeholder="{{'EPM_DIV_COUNTRY' | translate}}"
          [(ngModel)]="userAttributes.address.country" maxlength="20" class="form-control text-secondary" type="text" required>
      </div>


    </div>
    <div class="modal-footer mt-4 border-none">
      <button type="submit" class="btn btn-success save-employee-btn mr-3 cursor-pointer font-weight-bold"
        [disabled]="buttonSave"> {{"EPM_DIV_SAVE" | translate}}</button>
      <button type="button" class="btn btn-danger save-employee-btn cursor-pointer font-weight-bold"
        (click)="closeModal('')"> {{"EPM_DIV_CANCEL" | translate}}</button>
    </div>
  </form>
</div>