.white{
  color:#ffffff;
}
.modal-head{
  margin-left: -16px;
  margin-right: -16px;
}
.change-image{
  width:70%;
}
.underline{
  text-decoration: underline !important;
}
.bg-orange{
  background: #FCE55C;
  border-top: 1px solid #918f8f;
  border-bottom: 1px solid #918f8f;
}
.no-break{
  white-space:nowrap;
}
.save-employee-btn{
  padding: 12px 0 12px 0;
  width: 100px;
}
.border-none{
  border-top:none;
}
.bg-none{
  background: none;
}
input::placeholder {
  color:#d8d2d2;
}

.image-fixed-size{
  width: 130px;
  height: 130px;
}
@media screen and (max-width: 990px){
  .change-image {
    width: 100%;
  }
}

@media screen and (max-width: 575px){
  .change-image {
    width: 50%;
  }
  .p-t-0{
    padding-top: 0 !important;
  }
  .left-text{
    text-align: left !important;
  }
  .small-screen-mt{
    margin-top:1rem;
  }
}
