.table td{
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    padding: 0.3rem;
    white-space: nowrap;
  }
  .table tr:last-child td{
    border-bottom:1px solid #999999;
  }
  .table tr td:last-child{
    border-right:1px solid #999999;
  }
  .table-striped tbody tr:first-child {
    background-color: #E1E1E1 !important;
  }
  .table-striped tbody tr:nth-child(odd) {
    background-color: #F7F7F7;
  }
  .table-striped tbody tr:nth-child(even) {
    background-color: #ffffff;
  }
  .table-hover.table-striped tbody tr:hover {
    background-color: #E1E1E1;
  }
  .table.table-hover .scroll-tbl{
    overflow-y: auto;
    max-height: 360px;
    display: block;
  }
  .checkbox-top{
    top:0px;
  }
  .form-group{
    margin-bottom:0rem;
  }
  .dateSort{
    float: right;
    width: 23px;
    height: 26px;
    cursor: pointer;
    background: none;
    border: none;
  }
  