<div class="modal-header" *ngIf="transactions && transactions.length > 0">
  <h4 class="modal-title ml-3">{{"TM_H4_MATCHING_TRANSACTIONS" | translate}}</h4>
  <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
</div>

<div class="modal-body mt-0 pt-0" *ngIf="transactions && transactions.length > 0">
  <div class="container">
    <table class="table table-striped table-responsive-sm table-responsive-md table-responsive-lg table-hover mt-4">
      <tbody class="scroll-tbl">
      <tr>
        <td class="d-none">
          <div class="form-group form-check mb-0">
            <label class="form-check-label">
              <input class="form-check-input checkbox-top" type="checkbox">
            </label>
          </div>
        </td>
        <td style="min-width:100px">{{"TM_TD_DATE" | translate}} <button class="dateSort" (click)="orderByDate()"><i class=" fa fa-sort"></i></button></td>
        <td style="min-width:240px">{{"TM_TD_DESCRIPTION" | translate}}</td>
        <td style="min-width:240px">{{"TM_TD_CATEGORY" | translate}}</td>
        <td style="min-width:115px">{{"TM_TD_AMOUNT" | translate}}</td>
      </tr>
      <tr class="bg-dark d-none">
        <td>
          <div class="form-group form-check mb-0">
            <label class="form-check-label">
              <input class="form-check-input checkbox-top" type="checkbox">
            </label>
          </div>
        </td>
        <td class="pt-1 pr-1 pb-1 pl-1"><input type="text" [ngModel]= "transactions[0].date | date: 'MMM dd'" class="form-control" id="date"></td>
        <td class="pt-1 pr-1 pb-1 pl-1"><input type="text" [ngModel]= "transactions[0].name" class="form-control" id="desc"></td>
        <td class="pt-1 pr-1 pb-1 pl-1"><input type="text" [ngModel]= "transactions[0].category" class="form-control" id="category"></td>
        <td class="text-right text-white">$0.00</td>
      </tr>
      <tr *ngFor="let trans of transactions | orderBydate : orderByField">
        <td class="d-none">
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input checkbox-top" type="checkbox">
            </label>
          </div>
        </td>
        <td>{{trans.date | date: 'MMM dd yyyy'}}</td>
        <td>
          <span placement="top" popover="{{trans.name}}" triggers="mouseenter:mouseleave">
            {{trans.name.length > 22 ? trans.name.substring(0, 22)+"..." : trans.name}}
          </span>
        </td>
        <td>
          <span placement="top" popover="{{trans.category}}" triggers="mouseenter:mouseleave">
            {{trans.category.length > 22 ? trans.category.substring(0, 22)+"..." : trans.category}}
          </span>
        </td>
        <td class="text-right" [ngClass]="trans.amount < 0 ? 'text-success' : 'trans-secondary'">
          {{(trans.amount || trans.amount == 0) ? ((trans.amount) > 0 ? ('&#x2212;'+ ((trans.amount) | currency )) : (trans.amount * -1) | currency): trans.estimated_value | currency}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>