<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
</button>
<div class="modal-body custom-modal">   
  <div class="container">
    <h1>{{"LM_H1_LOAN_MODAL" | translate}}</h1>
  </div> 
</div>