.login-page{
  border:1px solid #cecece;
  /*width:25%;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bg-blue{
  background:#5862D3;
}
.white{
  color:#ffffff;
}
.bold{
  font-weight:600;
}
.sign-in{
  padding: 7px 0 7px 0;
  font-size: 14px;
}
.sign-in-form{
  padding:20px;
}
.remember{
  font-size: 13px;
  color: #999999;
}
.width-100{
  width:100%;
}
.btn-size{
  font-size:18px;
}
.icon-size{
  font-size:28px;
  vertical-align:middle;
  margin-right: 10px;
}
.text-size{
  font-size:12px;
  color:#999999;
  margin-top: 10px;
  margin-bottom: 10px !important;
}
.text-size1{
  font-size:14px;
  margin-bottom: 5px !important;
}
hr{
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  border-top: 1px solid rgba(0,0,0,0.3);
}
.bg-signUp{
  background:#F89B2A;
  padding: .25rem .75rem;
  font-size: 14px;
}
.m-b{
  margin-bottom:0.6rem;
}
input::placeholder {
  color: #999999;
}
.input-element{
  border-radius:0 !important;
  border:none;
  border-bottom: 1px solid #ced4da;
  padding:0;
}
.input-element:focus{
  box-shadow:none;
  border-bottom:2px solid #3AB9B2;
}
/*.placeholder-move{
  position:relative;
}
.floating-placeholder {
  color: #999999;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: 0.2s ease all;
}
.floating-placeholder1 {
  color: #999999;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: 0.2s ease all;
}
input.input-element:focus + .floating-placeholder, input.input-element:not(:focus):invalid + .floating-placeholder{
  color:#3AB9B2;
  transform: scale(0.75) translateY(-125%) translateX(-7px);
}
input.input-element:focus + .floating-placeholder1, input.input-element:not(:focus):invalid + .floating-placeholder{
  color:#3AB9B2;
  transform: scale(0.75) translateY(-125%) translateX(-13px);
}*/

@media (min-width: 768px){
  .login-page {
      width:35%;
  }
}

@media (min-width: 1100px){
  .login-page {
      width:25%;
  }
}
.bg-image{
  background-image:url("/assets/visa-card.png");
  background-size:100% 100% ;
  height:97vh;
}
