<div *ngIf="accountsForBlur.length > 0">
<div *ngIf="(!firstTimeWarning); else anotherOne">
  <div class="row">
    <div class="col-12">
      <h6>{{"T_H4_ALL_CASH_CREDIT_ACCOUNTS" | translate}}</h6>
    </div>
    <div class="row col-md-12">
      <div class="col-md-3 col-6 col-sm-4 col-lg-3">{{"T_DIV_FROM" | translate}}</div>
      <div class="col-md-3 col-6 col-sm-4 col-lg-3">{{"T_DIV_DURING" | translate}}</div>
    </div>
    <div class="row col-md-12">
      <!-- <div class="col-sm-1 col-md-1 col-lg-1 mt-2 mb-1"></div> -->
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 mb-1">
        <select class="form-control custom-select" name="sellist1" (change)="filterForTransactions($event,false)"
          [(ngModel)]="selectedAccountFilter">
          <option value="all">{{"T_OPTION_ALL_ACCOUNTS" | translate}}</option>
          <ng-container *ngFor="let account of accounts">
            <option *ngIf="(account.official_name || account.inst_name) && (account.status == 'ACTIVE')"
              [ngValue]="account" [selected]="account.account_id == selectedAccId">
              {{account.inst_name}} {{account.official_name}}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="col-3 col-sm-3 col-md-3 col-lg-3 mb-1">
        <select class="form-control custom-select" id="sel2" name="sellist2"
          (change)="filterForTransactions($event,false)" [(ngModel)]="selectedDateFilter">
          <option value="default">{{"T_OPTIONS_ALL" | translate}}</option>
          <option value="12months">{{"T_OPTIONS_LAST_12_MONTHS" | translate}}</option>
          <option value="7days">{{"T_OPTIONS_LAST_7_DAYS" | translate}}</option>
          <option value="14days">{{"T_OPTIONS_LAST_14_DAYS" | translate}}</option>
          <option value="thismonth">{{ "T_OPTIONS_THIS_MONTHS" | translate}}</option>
          <option value="3months">{{"T_OPTIONS_LAST_3_MONTHS" | translate}}</option>
          <option value="6months">{{"T_OPTIONS_LAST_6_MONTHS" | translate}}</option>
          <option value="thisyear">{{"T_OPTIONS_THIS_YEAR" | translate}}</option>
          <option value="lastyear">{{"T_OPTIONS_LAST_YEAR" | translate}}</option>
        </select>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 mt-2 mb-1 d-none">
        <select class="form-control custom-select" id="sel3" name="sellist3" (change)="setDatePrefrence($event)"
          [(ngModel)]="datePrefrence">
          <option value="us">MM-DD-YYYY</option>
          <option value="uk">DD-MM-YYYY</option>
        </select>
      </div>

      <div class="col-3 col-sm-3 col-md-3 col-lg-3 mb-1 pr-1">
        <div class="input-group search-text">
          <span>
            <i class="fa fa-search text-secondary" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control" [(ngModel)]="searchText">
        </div>
      </div>
    </div>

    <div *ngIf="(!showNoTransactionsWarning); else noDataBlock" class="col-md-12 table-padding">
        <div class="table-responsive table-hover">
          <table class="table table-bordered">
            <thead>
                <tr class="bg-dark text-light">
                  <td class="parent-date">
                    {{"RT_TD_DATE" | translate}}
                    <button class="dateSort" (click)="orderByDate()"><i class="fa fa-sort text-light"></i></button>
                  </td>
                  <td>{{"RT_TD_ACCOUNT_NAME" | translate}}</td>
                  <td>{{"RT_TD_DESCRIPTION" | translate}}</td>
                  <td>{{"RT_TD_CATEGORY" | translate}}</td>
                  <td>{{"RT_TD_AMOUNT" | translate}}</td>
                </tr>
            </thead>
            <tbody *ngIf="(transactions | searchFilter:searchText) as result">
              <tr *ngFor="let trans of result | orderBydate : orderByField | paginate: { itemsPerPage: 50, currentPage: page }; let ind = index">
                <td class="d-width">{{trans.date | date: 'MMM dd yyyy'}}</td>
                <td>
                  <span placement="top" popover="{{trans.officialName}}" triggers="mouseenter:mouseleave">
                    {{trans.officialName ? (trans.officialName.length > 25 ? trans.officialName.substring(0, 25)+"..." : trans.officialName) : "updating soon..."}}
                  </span>
                </td>
                <td>
                  <span placement="top" popover="{{trans.name}}"
                    triggers="mouseenter:mouseleave">{{trans.name.length > 20 ? trans.name.substring(0, 20)+"..." : trans.name}}</span>
                </td>
                <td>
                  <span placement="top" popover="{{trans.category}}"
                    triggers="mouseenter:mouseleave">{{trans.category.length > 32 ? trans.category.substring(0, 32)+"...": trans.category}}</span>
                </td>
                <td [ngClass]="trans.amount > 0 ? 'text-success' : 'trans-secondary'">
                  {{trans.amount > 0 ? (trans.amount | currency) : "&#x2212;" + ((trans.amount * -1) | currency)}}</td>
              </tr>
              <tr *ngIf="result.length == 0">
                <td colspan="5" class="text-center text-primary">No record found</td>
              </tr>
              <tr *ngIf="result.length > 0">
                <td colspan="5">
                  <pagination-controls (pageChange)="page = $event" *ngIf="!(firstTimeWarning || showNoTransactionsWarning)">
                    </pagination-controls>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
      <!-- <div *ngIf="(!showNoTransactionsWarning); else noDataBlock" class="container">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr class="bg-dark text-light">
              <th class="parent-date">
                {{"RT_TD_DATE" | translate}}
                <button class="dateSort" (click)="orderByDate()"><i class="fa fa-sort text-light"></i></button>
              </th>
              <th>{{"RT_TD_ACCOUNT_NAME" | translate}}</th>
              <th>{{"RT_TD_DESCRIPTION" | translate}}</th>
              <th>{{"RT_TD_CATEGORY" | translate}}</th>
              <th>{{"RT_TD_AMOUNT" | translate}}</th>
            </tr>
          </thead>
        <tbody>
          <tr
            *ngFor="let trans of transactions  | searchFilter : searchText | orderBydate : orderByField | paginate: { itemsPerPage: 50, currentPage: page }; let ind = index">

            <td class="d-width">{{trans.date | date: 'MMM dd yyyy'}}</td>
            <td>
              <span placement="top" popover="{{trans.officialName}}" triggers="mouseenter:mouseleave">
                {{trans.officialName ? (trans.officialName.length > 25 ? trans.officialName.substring(0, 25)+"..." : trans.officialName) : "updating soon..."}}
              </span>
            </td>
            <td>
              <span placement="top" popover="{{trans.name}}"
                triggers="mouseenter:mouseleave">{{trans.name.length > 20 ? trans.name.substring(0, 20)+"..." : trans.name}}</span>
            </td>
            <td>
              <span placement="top" popover="{{trans.category}}"
                triggers="mouseenter:mouseleave">{{trans.category.length > 32 ? trans.category.substring(0, 32)+"...": trans.category}}</span>
            </td>
            <td [ngClass]="trans.amount > 0 ? 'text-success' : 'trans-secondary'">
              {{trans.amount > 0 ? (trans.amount | currency) : "&#x2212;" + ((trans.amount * -1) | currency)}}</td>
          </tr>

        </tbody>
        </table>

      </div>
    </div> -->
      <ng-template #noDataBlock>
          <div class="blue text-center">
            {{"T_DIV_NO_TRANSACTIONS_EXIST" | translate}}
          </div>
      </ng-template>
    </div>
  </div>

  <ng-template #anotherOne>
      <div class="inactive-msg text-center">
        {{"T_DIV_FETCHING_TRANSACTIONS" | translate}}
      </div>
  </ng-template>
</div>

<div class="row" *ngIf="accountsForBlur.length == 0">
  <div class="col-12">
    <div class="bg-transaction-image bg-common"></div>
    <div class="bg-text">
      <p>Link your account to view the widget</p>
      <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add Account</button>
    </div>
  </div>
</div>
