.table td{
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    white-space: nowrap;
  }
  .table tr:last-child td{
    border-bottom:1px solid #999999;
    padding: 6px 3px 6px 3px !important;
  }
  .table tr td:last-child{
    border-right:1px solid #999999;
  }
  .table-hover.table-striped tbody tr:hover {
    background-color: #E1E1E1;
  }
  .inactive-msg{
    color:blue;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .blue{
    color:blue;
    position: absolute;
    top: 60%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .table-padding{
    padding-right:30px;
  }
  .table-width{
    width: 98%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  .dateSort{
    float: right;
    width: 23px;
    height: 26px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .parent-date{
    width:88px;
  }
  .amount-data{
    width:100px;
  }
  
  .d-width{
    min-width: 97px;
  }
  .prefrences{
    height: 50px;
    margin: 20px;
    line-height: 50px;
    padding:50px
  }

  pagination-controls{
    text-align: center;
  }
  
  .search-text span{
    position: absolute;
    z-index: 99;
    margin: 6px;
  }
  .search-text input{
    padding-left: 26px;
    border-radius: .25rem;
  }
  .table td{
    font-size: 15px;
    padding: 0 3px 0 3px !important
  }
  .trans-secondary{
    color:rgb(68,68,68) !important;
  }

/* background images */
.bg-text {
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bg-common {
  /* Add the blur effect */
  filter: blur(7px);
  -webkit-filter: blur(7px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-transaction-image {
  /* The image used */
  background-image: url("/../assets/transaction.png");
  height: 510px; 
}