<!--New UI Code-->
<div class="info-section" [hidden]="!employerSectionDiv">
  <div class=" row profile-image profile-section margin-view">
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 image-border font-change spited-div box-flex">
      <div class="border-div div-padding div-width">
        <div class="row mt-2 text-center adjust-image flex-image">
          <div class="image-fixed-size col-md-12 text-center">
            <div class="ns-display-center">
              <img *ngIf="userAttributes.picture && ((userAttributes.picture).includes('http') || (userAttributes.picture.includes('data')))"
                class="user-image" [src]="userAttributes.picture" alt="" />
                <ngx-avatar size="125" value="20%"
                *ngIf="!userAttributes.picture || !(userAttributes.picture.includes('http')) && !(userAttributes.picture.includes('data'))"
                name="{{userAttributes.first_name}}"></ngx-avatar>
            </div>
            <div class="edit-profile mt-2 mb-2 cursor-pointer pencil-icon"><i class="fa fa-pencil-square-o underline"
                aria-hidden="true" (click)="openEditModal(ChangeProfileTemplate)"></i></div>
          </div>
          <!-- <div class="edit-profile mt-2 mb-2 cursor-pointer"><i class="fa fa-pencil-square-o underline" aria-hidden="true"
              (click)="openEditModal(ChangeProfileTemplate)"></i></div> -->
        </div>
        <div class=" col-md-12 icon-margin">
          <div class="font-weight-bold mt-2 text-center email-font">{{userAttributes.first_name}}
            {{userAttributes.last_name}}
          </div>
          <div class="row ns-display-center-items" *ngIf="userAttributes.dob">
            <i class="fa fa-birthday-cake col-md-1 col-sm-1 col-1 mb-2 font-text email-font"></i>
            <span class="col-md-9 col-sm-11 col-11 font-text">{{userAttributes.dob | date: 'MM/dd/yyyy'}}</span>
          </div>

          <div class="row ns-display-center-items">
            <i class="fa fa-home col-md-1 col-sm-1 col-1 font-text"></i>
            <span class="col-md-9 col-sm-10 col-10 font-text email-font" *ngIf="userAttributes.address">
              <span class="break-address"*ngIf="userAttributes.address.street"> {{userAttributes.address.street}},</span>
              <span class="break-address" *ngIf="userAttributes.address.street2"> {{userAttributes.address.street2}},</span>
              <span *ngIf="userAttributes.address.city"> {{userAttributes.address.city}},</span>
              <span *ngIf="userAttributes.address.state"> {{userAttributes.address.state}}</span>
              <span *ngIf="userAttributes.address.zip"> {{userAttributes.address.zip}}</span>
              <span *ngIf="userAttributes.address.country"> {{userAttributes.address.country}}</span>
            </span>
          </div>
          <div class="row ns-display-center-items">
            <i
              class="fa fa-phone mr-3 col-md-1 col-sm-1 col-1 font-text email-font"></i>
              <span class="font-text email-font">{{userAttributes.phone_numbers | phoneNumber}}</span>
          </div>
          <div class="row ns-display-center-items">
            <i class="fa fa-envelope col-md-1 col-sm-1 col-1 font-text"></i>
            <div class="col-md-9 col-sm-10 col-10 font-text email-font">{{userAttributes.emails}}</div>
          </div>
        </div>
      </div>

    </div>
    <!--  -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 font-change spited-div div-top div-flex">
      <div class="border-div padding-div nexus-width">
        <!-- <div *ngIf="loadingScoreGraph">
            <img src="../../assets/threeDotLoad.gif" alt="" height="60">
        </div> -->
        
        <div *ngIf="filteredDeposAcc.length > 0">
          <div class="text-center">
            <div class="score-size font-weight-bold font-change mt-1"> {{"PC_DIV_YOUR_NEXUS_SCORE" | translate }}<sup
                class="term">TM</sup></div>
          </div>
          <div class="score-div" id="ss">
            <span class="tippingPoints-tt" *ngIf="graphTippingPoints.tt >=0"><b>${{graphTippingPoints.tt}}/
                {{"PC_B_MONTH" | translate}}</b></span>
            <span class="tippingPoints-tm" *ngIf="graphTippingPoints.tm >=0"><b>${{graphTippingPoints.tm}}/
                {{"PC_B_MONTH" | translate}}</b></span>
            <span class="tippingPoints-tb" *ngIf="graphTippingPoints.tb >=0"><b>${{graphTippingPoints.tb}}/
                {{"PC_B_MONTH" | translate}}</b></span>

            <span
              *ngIf="!((graphTippingPoints.tt >= 0) || (graphTippingPoints.tm >= 0) || (graphTippingPoints.tb >= 0))">
              <span class="tippingPoints-tt"><b>$0/ {{"PC_B_MONTH" | translate}}</b></span>
              <span class="tippingPoints-tm"><b>$0/ {{"PC_B_MONTH" | translate}}</b></span>
              <span class="tippingPoints-tb"><b>$0/ {{"PC_B_MONTH" | translate}}</b></span>
            </span>

            <span class="position-absolute text-1"> {{"PC_SPAN_NOT_L_P" | translate }}</span>
            <span class="position-absolute text-2">
              {{"PC_SPAN_MONTHLY_PAYMENT_MIGHT_BE_AT_MEDIUM_RISK" | translate }}</span>
            <span class="position-absolute text-3"> {{"PC_SPAN_VERY_LIKELY_TO_PAY_IN_FULL" | translate }}</span>
            <span class="position-absolute text-4"> {{"PC_SPAN_LIKELY_TO_PAY_IN_FULL" | translate }}</span>
            <span class="cus-stick cus-pos-1"></span>
            <span class="cus-stick cus-pos-2"></span>


            <ns-gauge-chart #nexusscore [canvasWidth]="canvasWidth" [needleValue]="needleValue" [options]="options">
            </ns-gauge-chart>
            <div *ngIf="!((graphTippingPoints.tt >= 0) || (graphTippingPoints.tm >= 0) || (graphTippingPoints.tb >= 0))"
              class="text-center">
              <div class="pt-3 pb-3 p-2 pr-2"> {{"PC_DIV_NO_ASSOCIATED_INCOME" | translate }}
              </div>
            </div>
            <!-- <div class="text-center"
              *ngIf="(graphTippingPoints.tt == 0) || (graphTippingPoints.tm == 0) || (graphTippingPoints.tb == 0)">
              <div class="pt-3 pb-3 p-2 pr-2"> {{"PC_DIV_YOUR_TRENDING_INCOME_SHOW" | translate }} <b>
                  {{"PC_B_YOU_ARE_NOT_ELIGIBLE_FOR_LOAN" | translate }} </b>
              </div>
            </div> -->

          </div>
          <div class="row div-height"></div>
        </div>

        <div *ngIf="filteredDeposAcc.length == 0">
          <div class="bg-score-image bg-common"></div>
          <div class="bg-text">
            <p class="report-hide">Link your account to view the widget</p>
            <p class="dash-hide">User does not have any active account</p>
            <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
              Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2 margin-view profile-font">
    <div class="col-sm-12 col-md-12 col-lg-4 mb-2 padding-zero remove-padding">
      <div class="profile-image emp-height gray-bg-color">
        <div class="p-2 employer-details font-weight-bold">
          {{"PC_DIV_EMPLOYER" | translate }}
          <a (click)="employerSection()"><i
              class="fa fa-edit text-light cursor-pointer mt-1 source-income float-right"></i></a>
        </div>
        <div class="row" *ngIf="userAttributes.employers.length == 0">
          <div class="col-12">
            <div class="bg-employer-image bg-common"></div>
            <div class="bg-text">
              <p class="report-hide">Link your account to view the widget</p>
              <p class="dash-hide">User does not have any active account</p>
              <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
                Account</button>
            </div>
          </div>
        </div>

        <div *ngIf="userAttributes.employers.length > 0">
          <div *ngIf="!(userAttributes.employers) || (userAttributes.employers.length == 0)"
            class="pt-3 pb-3 p-2 pr-2 box set-height">
            {{"PC_DIV_NO_EMPLOYER_PRESENT" | translate }}
          </div>
          <div *ngIf="userAttributes.employers">
            <div class="text-center">
              <div *ngFor="let emp of userAttributes.employers">
                <div class="mt-3" *ngIf="(emp.preferred && emp.years) || (emp.preferred && emp.months) || (emp.preferred && emp.present)">
                  <span *ngIf="emp.years">{{emp.years}} {{"PC_DIV_YEARS_AND" | translate }} </span> {{emp.months}}
                  {{"PC_DIV_MONTH_AT" | translate }}:
                </div>
                <div class="nexus-score font-weight-bold mt-2" *ngIf="emp.preferred"
                  [ngClass]="emp.employer_name.lenght > 19 ? '' : 'class-1'">
                  {{emp.employer_name}}
                </div>
              </div>

              <div class="mt-1 mb-2" *ngIf="userAttributes.employers > 1 || (otherEmployersData && otherEmployersData.income > 0)">
                {{PC_DIV_AND | translate }}
                {{(userAttributes.employers.length - 1) + (otherEmployersData?1:0)}} {{"PC_SPAN_OTHER" | translate }}
                <span class="source-income cursor-pointer"
                  (click)="employerSection()"><u><span>{{"PC_SPAN_SOURCE" | translate}}</span>
                    {{"PC_U_OF_INCOME" | translate}}</u></span></div>
            </div>
            <div *ngIf="userAttributes.showNoIncomeFound && (userAttributes.employers.length === 0)"
              class="pt-3 pb-3 p-2 pr-2 box">
              {{"PC_DIV_NO_EMPLOYER_FOUND" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="profile-image mt-2 gray-bg-color emp-height">
        <div class="p-2 employer-details font-weight-bold">
          {{"PC_DIV_ANNUAL_INCOME" | translate }}
        </div>
        <div class="row" *ngIf="filteredDeposAcc.length == 0">
          <div class="col-12">
            <div class="bg-total-income bg-common"></div>
            <div class="bg-text">
              <p class="report-hide">Link your account to view the widget</p>
              <p class="dash-hide">User does not have any active account</p>
              <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
                Account</button>
            </div>
          </div>
        </div>

        <div *ngIf="filteredDeposAcc.length > 0">
          <div *ngIf="employersData.totalTransArr && employersData.totalTransArr.length > 0"
            class="text-center">
            <div class="nexus-score font-weight-bold mt-3"><i
                class="mr-2"></i>{{employersData.totalTransArr| sum:'amount':true | currency:'$':'symbol':'1.0-0'}}</div>
            <div class="mt-1">{{"PC_DIV_SEE_INCOME" | translate}}<span class="source-income cursor-pointer"
                (click)="transactionHandler(employersData.totalTransArr)"><u>
                  {{"PC_U_TRANSACTIONS" | translate }}</u></span></div>
          </div>
          <div *ngIf="!employersData.totalTransArr || employersData.totalTransArr.length === 0"
            class="set-height">
            <div class="pt-3 pb-3 p-2 pr-2 box"> {{"PC_DIV_NO_INCOME_SOURCE_FOUND" | translate }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8 padding-zero-none income-left">
      <div class="profile-image gray-bg-color income-height">
        <div class="p-2 employer-details font-weight-bold">
          {{"PC_DIV_NET_INCOME" | translate }}
        </div>
        <div *ngIf="filteredDeposAcc.length > 0 || filteredCreditAcc.length > 0">
          <div *ngIf="graphs.net_income_over_time.load">
            <canvas baseChart height="309" [datasets]="graphs.net_income_over_time.data" class="report-bar-graph"
              [labels]="graphs.net_income_over_time.labels" [options]="graphs.net_income_over_time.barOptions"
              [chartType]="graphs.net_income_over_time.type" [colors]="graphs.net_income_over_time.colors"
              (chartClick)="onChartClick($event)"></canvas>
          </div>
          <div class="text-center p-2" *ngIf="!(graphs.net_income_over_time.load)">
            {{"PC_DIV_ALL_ACCOUNTS_ARE_INACTIVE" | translate}}
          </div>
        </div>

        <div *ngIf="filteredDeposAcc.length == 0 && filteredCreditAcc.length == 0">
          <div class="bg-income-image bg-common"></div>
          <div class="bg-text">
            <p class="report-hide">Link your account to view the widget</p>
            <p class="dash-hide">User does not have any active account</p>
            <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
              Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2 margin-view profile-font">
    <div class="col-sm-12 col-md-12 col-lg-6 padding-zero box-align remove-padding">
      <div class="profile-image gray-bg-color box-width">
        <div class="p-2 employer-details font-weight-bold"> {{"PC_DIV_CURRENT_DEBT_DISTRIBUTION" | translate }} </div>
        <div *ngIf="graphs.current_debt_distribution.load">
          <canvas baseChart height="413" [datasets]="graphs.current_debt_distribution.data"
            [labels]="graphs.current_debt_distribution.labels" [options]="graphs.current_debt_distribution.barOptions"
            [chartType]="graphs.current_debt_distribution.type"
            [colors]="graphs.current_debt_distribution.colors"></canvas>
        </div>

        <div *ngIf="!(graphs.current_debt_distribution.load)">
          <div class="bg-debt-image bg-common"></div>
          <div class="bg-text">
            <p class="report-hide">Link your account to view the widget</p>
            <p class="dash-hide">User does not have any active account</p>
            <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
              Account</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 padding-zero-none credit-div">
      <div class="profile-image gray-bg-color">
        <div class="row p-2 font-weight-bold margin-inspect gray-bg-color employer-details div-top">
          <div class="col-4 font-change"> {{ "PC_DIV_CREDIT_CARDS" | translate}} </div>
          <div class="col-5 ">
            <div class="font-change text-nowrap center"> {{totalSum.creditSum | currency}} </div>
          </div>
          <div class="col-3">
            <div class="text-left font-change"> {{totalSum.limitSum | currency}}</div>
          </div>
        </div>
        <div *ngIf="filteredCreditAcc.length > 0">
          <div class="row p-2 font-weight-bold margin-inspect gray-bg-color div-top">
            <div class="col-4 details-employee font-change"> {{ "PC_DIV_CREDIT_CARDS" | translate}} </div>
            <div class="col-4 details-employee">
              <div class="text-right font-change text-nowrap"> {{"PC_DIV_CURRENT_BALANCE" | translate }} </div>
            </div>
            <div class="col-4 details-employee">
              <div class="text-right font-change"> {{"PC_DIV_CREDIT_LIMIT" | translate }} </div>
            </div>
          </div>
          <div class="control-scroll report-credit">
            <div class="row p-2 gray-bg-color text-center pt-2 pb-2 d-block"
              *ngIf="filteredCreditAcc && filteredCreditAcc.length == 0"> {{"PC_DIV_NO_CREDIT_CARD_ADDED" | translate }}
            </div>
            <div class="row p-2 gray-bg-color bottom-line" *ngFor="let credit of filteredCreditAcc">
              <div class="col-4 text-nowrap" *ngIf="credit.official_name" placement="right"
                popover="{{credit.official_name}}" triggers="mouseenter:mouseleave">
                {{credit.official_name ? (credit.official_name.length > 15 ? credit.official_name.substring(0, 14)+"..." : credit.official_name) : ""}}
              </div>
              <div class="col-4 text-right">
                {{credit.balances.current | currency }}
              </div>
              <div class="col-4 text-right">
                {{credit.balances.limit | currency}}
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="filteredCreditAcc.length == 0">
          <div class="col-12">
            <div class="bg-credit-image bg-common"></div>
            <div class="bg-text">
              <p class="report-hide">Link your account to view the widget</p>
              <p class="dash-hide">User does not have any active account</p>
              <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
                Account</button>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-image mt-2 gray-bg-color report-loans">
        <div class="row p-2 font-weight-bold margin-inspect gray-bg-color employer-details">
          <div class="col-5"> {{"PC_DIV_ACTIVE_LOANS" | translate }} </div>
          <div class="col-7">
            <div class="float-right"> {{totalSum.loanSum | currency}}</div>
          </div>
        </div>
        <div *ngIf="filteredLoanAcc.length > 0">
          <div class="row p-2 font-weight-bold margin-inspect gray-bg-color">
            <div class="col-5 details-employee"> {{"PC_DIV_INSTITUTIONS" | translate }} </div>
            <div class="col-7 details-employee">
              <div class="float-right"> {{"PC_DIV_CURRENT_BALANCE" | translate }}</div>
            </div>
          </div>
          <div class="control-scroll">
            <div class="row p-2 gray-bg-color text-center pt-2 pb-2 d-block"
              *ngIf="filteredLoanAcc && filteredLoanAcc.length == 0"> {{"PC_DIV_ACC_NOT_ADDED" | translate }} </div>
            <div class="row p-2 gray-bg-color bottom-line" *ngFor="let loan of filteredLoanAcc">

              <div class="col-6" *ngIf="loan.official_name" placement="right" popover="{{loan.official_name}}"
                triggers="mouseenter:mouseleave">
                {{loan.official_name ? (loan.official_name.length > 20 ? loan.official_name.substring(0, 13)+"..." : loan.official_name) : ""}}
              </div>
              <div class="col-6 float-value">
                {{loan.balances.current > 0 ? ((loan.balances.current) | currency ) : (loan.balances.current * -1) | currency}}
              </div>
              <div class="col-6 float-value">
                {{loan.balances.limit | currency}}
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="filteredLoanAcc.length == 0">
          <div class="col-12">
            <div class="bg-loan-income bg-common"></div>
            <div class="bg-text">
              <p class="report-hide">Link your account to view the widget</p>
              <p class="dash-hide">User does not have any active account</p>
              <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
                Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2 margin-view profile-font">
    <div class="col-sm-12 col-md-12 col-lg-6 padding-zero remove-padding">
      <div class="profile-image gray-bg-color property-height">
        <div class="row p-2 font-weight-bold margin-inspect gray-bg-color employer-details">
          <div class="col-5"> {{"PC_DIV_BANK_ACCOUNTS" | translate }}</div>
          <div class="col-7">
            <div class="float-right">{{totalSum.depoSum | currency}} </div>
          </div>
        </div>
        <div *ngIf="filteredDeposAcc.length > 0">
          <div class="row p-2 font-weight-bold margin-inspect gray-bg-color">
            <div class="col-5 details-employee"> {{"PC_DIV_ACCOUNTS" | translate }}</div>
            <div class="col-7 details-employee">
              <div class="float-right"> {{"PC_DIV_CURRENT_BALANCE" | translate }}</div>
            </div>
          </div>
          <div class="control-scroll">
            <div class="row p-2 gray-bg-color text-center pt-2 pb-2 d-block"
              *ngIf="filteredDeposAcc && filteredDeposAcc.length  == 0">
              {{"PC_DIV_NO_BANK_ACCOUNTS_ADDED" | translate }}
            </div>
            <div class="row p-2 gray-bg-color bottom-line" *ngFor="let depos of filteredDeposAcc">
              <div style="width:128px" class="col-6" *ngIf="depos.official_name" placement="right"
                popover="{{depos.official_name}}" triggers="mouseenter:mouseleave">
                <div class="mw-100 text-nowrap" *ngIf="!depos.matchOfficialName">
                  {{depos.official_name ? (depos.official_name.length > 20 ? depos.official_name.substring(0, 20)+"..." : depos.official_name) : "updating soon..."}}
                </div>

                <div class="mw-100 text-nowrap" *ngIf="depos.matchOfficialName">
                  {{depos.name ? (depos.name.length > 20 ? depos.name.substring(0, 20)+"..." : depos.name) : ""}}
                </div>
              </div>
              <div class="col-6 pr-0">
                <div>
                  <span class="float-right"><i
                      class="cursor-pointer mr-2"></i>{{depos.balances.current | currency}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="filteredDeposAcc.length == 0">
          <div class="col-12">
            <div class="bg-account-image bg-common"></div>
            <div class="bg-text">
              <p class="report-hide">Link your account to view the widget</p>
              <p class="dash-hide">User does not have any active account</p>
              <button type="button" class="btn btn-secondary" (click)="addAccountHandler('callingAddAccountBtn')">Add
                Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 padding-zero-none property-left box-align div-top">
      <div class="profile-image gray-bg-color property-height box-width">
        <div class="row p-2 font-weight-bold margin-inspect gray-bg-color employer-details">
          <div class="col-7"> {{"PC_DIV_PROPERTY" | translate }}</div>
          <div class="col-5">
            <div class="float-right"> {{totalSum.propertSum | currency}}</div>
          </div>
        </div>
        <div *ngIf="allProperty.length > 0">
          <div class="row p-2 font-weight-bold margin-inspect gray-bg-color">
            <div class="col-7 details-employee"> {{"PC_DIV_PROPERTY" | translate }}</div>
            <div class="col-5 details-employee">
              <div class="float-right"> {{"PC_DIV_VALUE" | translate }}</div>
            </div>
          </div>
          <div class="control-scroll">
            <div class="row p-2 gray-bg-color text-center pt-2 pb-2 d-block"
              *ngIf="allProperty && allProperty.length == 0">
              {{"PC_DIV_NO_PROPERTIES_ADDED" | translate }}</div>
            <div class="row p-2 gray-bg-color bottom-line" *ngFor="let item of allProperty">
              <div class="col-7" *ngIf="item.name" placement="right" popover="{{item.name}} {{item.type}}"
                triggers="mouseenter:mouseleave">
                <div class="spacewrap">
                  {{item.name}}-{{item.type ? (item.type.length > 10 ? item.type.substring(0, 8)+"..." : item.type) : ""}}
                </div>
              </div>
                <div class="col-5">
                  <div><span class="float-right"><i
                        class="cursor-pointer mr-2"></i>{{item.estimated_value | currency}}</span>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <div class="row" *ngIf="allProperty.length == 0">
          <div class="col-12">
            <div class="bg-property-image bg-common"></div>
            <div class="bg-text">
              <p class="report-hide">Link your account to view the widget</p>
              <p class="dash-hide">User does not have any property</p>
              <button type="button" class="btn btn-secondary" (click)="propertyHandler('callingAddProperty')">Add
                Property</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Employer Section -->
<div class="employer-section" [hidden]="employerSectionDiv">
  <div class="border border-dark">
    <div class="font-weight-bold pt-3 pb-3 pl-3 employer-income"> {{"PC_DIV_EMPLOYER_AND_INCOME" | translate }}
      <button #employerBackButton class="float-right cursor-pointer font-weight-bold mr-3 back-btn"
        (click)="profileSection()">{{"PC_BUTTON_BACK" | translate}}</button>
    </div>
    <div class="pt-3 pb-3 pl-3"> {{"PC_DIV_INCOME_DURING" | translate }}</div>

    <div class="table-responsive">
      <table class="table employer-table">
        <thead class="employer-name">
          <tr>
            <th> {{"PC_TH_EMPLOYER_NAME" | translate }}</th>
            <th> {{"PC_TH_PRIMARY" | translate }}</th>
            <th> {{"PC_TH_PRESENT_EMPLOYER" | translate }}</th>
            <th> {{"PC_TH_EMPLOYMENT_STARTS" | translate }}</th>
            <th> {{"PC_TH_EMPLOYMENT_ENDS" | translate }}</th>
            <th> {{"PC_TH_INCOME" | translate }}</th>
            <th> {{"PC_TH_TRANSACTIONS" | translate }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let empDetails of userAttributes.employers; let i = index">
          <tr class="align-value">
            <td class="font-weight-bold">{{empDetails.employer_name}}</td>
            <td>
              <label class="container custom-radio-btn">
                <input type="checkbox" [(ngModel)]="empDetails.preferred"
                  (change)="setRadioBtnValue(empDetails.preferred, i)">
                <span class="checkmark-radio-btn"
                  [ngClass]="empDetails.preferred ? 'make-it-shown' : 'make-it-hidden'"></span>
              </label>
            </td>
            <td>
              <div class="pl-3">
                <label class="container custom-mark" [ngClass]="empDetails.present ? '' : 'make-mark'">
                  <input type="checkbox" [(ngModel)]="empDetails.present">
                  <span class="checkmark" [ngClass]="empDetails.present ? 'make-it-shown' : 'make-it-hidden'"></span>
                </label>
              </div>
            </td>
            <td>
              <input type="text" name="fromDate{{i+1}}" id="fromDate{{i+1}}" placeholder="{{'PC_TD_FROM' | translate}}"
                [(ngModel)]="empDetails.from_duration_in_date" class="form-control input-color" placement="bottom"
                #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [ngClass]="empDetails.from_duration_in_date ? 'bdr-transaparent' : 'not-visible'">
            </td>
            <td>
              <span class="font-weight-bold" *ngIf="empDetails.present"> {{"PC_SPAN_PRESENT" | translate }} </span>
              <span [ngClass]="{'make-it-hidden' : !empDetails.to_duration_in_date}">
                <input *ngIf="!(empDetails.present)" type="text" name="toDate{{i+1}}" id="toDate{{i+1}}"
                  placeholder="{{'PC_SPAN_TO' | translate}}" [(ngModel)]="empDetails.to_duration_in_date"
                  class="form-control input-color" placement="bottom" #dp="bsDatepicker" bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                  [ngClass]="{'bdr-transaparent' : !(empDetails.present)}">
              </span>
            </td>
            <td class="font-weight-bold v-align"><i class="mr-2"></i>{{empDetails.income | currency}}</td>
            <td class="cursor-pointer see-transection no-break v-align" *ngIf="empDetails.seeTransaction && empDetails.seeTransaction.length>0"
              (click)="transactionHandler(empDetails.seeTransaction)"><u> {{"PC_TD_SEE_TRANSACTIONS" | translate }}</u>
            </td>
          </tr>
          <tr [ngClass]="{'make-it-hidden' : !empDetails.address}">
            <td colspan="7" class="bt0 font-weight-bold">
              <button
                *ngIf="!(empDetails.address || empDetails.contact_person || empDetails.title || empDetails.email || empDetails.phone_number)"
                (click)="addAddressModal(addressModalTemplate, empDetails, i)"
                class="add-address no-break cursor-pointer">
                <i class="fa fa-plus mr-2"></i> {{"PC_I_ADD_ADDRESS" | translate }}
              </button>
              <span *ngIf="empDetails.contact_person">
                {{empDetails.contact_person}},
              </span>
              <span *ngIf="empDetails.title">
                {{empDetails.title}};
              </span>
              <span *ngIf="empDetails.email">
                {{empDetails.email}};
              </span>
              <span *ngIf="empDetails.phone_number">
                +{{empDetails.phone_number | phoneNumber}}
              </span> <br />
              <span *ngIf="empDetails.address">
                <span *ngIf="empDetails.address.street1">{{empDetails.address.street1}},</span>
                <span *ngIf="empDetails.address.street2"> {{empDetails.address.street2}},</span>
                <span *ngIf="empDetails.address.city"> {{empDetails.address.city}},</span>
                <span *ngIf="empDetails.address.state"> {{empDetails.address.state}}</span>
                <span *ngIf="empDetails.address.zipCode"> {{empDetails.address.zipCode}}</span>
                <span *ngIf="empDetails.address.country"> {{empDetails.address.country}}</span>
              </span>
              &#x000A0;&#x000A0;
              <button
                *ngIf="empDetails.contact_person || empDetails.title || empDetails.email || empDetails.phone_number || empDetails.address"
                (click)="addAddressModal(addressModalTemplate, empDetails, i)"
                class="btn btn-success cursor-pointer pl-2 pr-2 pt-0 pb-0 make-it-hidden">
                {{"PC_BUTTON_EDIT" | translate }}</button>
            </td>
          </tr>
        </tbody>
        <tr *ngIf="otherEmployersData.income && otherEmployersData.seeTransaction.length > 0">
          <td colspan="2" class="font-weight-bold">{{otherEmployersData.employer_name}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-weight-bold v-align"><i class="mr-2"></i>{{otherEmployersData.income | currency}}</td>
          <td class="cursor-pointer see-transection no-break v-align"
            (click)="transactionHandler(otherEmployersData.seeTransaction)"><u>
              {{"PC_TD_SEE_TRANSACTIONS" | translate }}</u></td>
        </tr>
      </table>
    </div>
    <div class="text-center make-it-hidden">
      <button class="cursor-pointer font-weight-bold mr-3 back-btn bg-success text-white"
        (click)="setEmployerDetails()"> {{"PC_BUTTON_SAVE" | translate}}</button>
    </div>
    <div class="mt-5 mb-3 ml-3 make-it-hidden">
      <div> {{"PC_DIV_WARINING_YOUR_EMPLOYER_MSG" | translate }}</div>
    </div>
  </div>
</div>

<!--Start Edit modal-->
<ng-template #ChangeProfileTemplate>
  <app-edit-profile-modal (childEvent)="editProfileModalClose($event)"></app-edit-profile-modal>
</ng-template>
<!--End Edit modal-->

<!--Start Edit modal-->
<ng-template #addressModalTemplate>
  <app-add-address-modal [employerDetail]="employerDetail" (closeAddressmodal)="addressModalClose($event)">
  </app-add-address-modal>
</ng-template>
<!--End Edit modal-->