.no-break{
  white-space: nowrap;
}
.break-address{
  word-break:break-word; 
}
.box-flex{
  display:flex;
}
.div-width{
  width:100% !important;
}
.profile-img{
    width:100%;
}
.border-div{
  border:2px solid black;
}
.div-flex{
  display:flex;
}
.nexus-width{
  width: 100% !important;;
}
/* @media only screen and (min-width: 992px){
  .remove-padding{
    padding-left: 0px !important;
    padding-right:0px !important;
  }

} */
@media only screen and (max-width: 992px){
  .div-top{
    margin-top:6px;
  }
}
@media only screen and (max-width: 767px){
  .margin-view{
    margin-left:1px !important;
    margin-right:1px !important; 
  }
}
.underline{
    /* text-decoration:underline !important; */
    right: 24%;
    color: #007bff !important;
    position: absolute;
    top: 34px;
}
.padding-div{
  padding-bottom:6px;
}
.container-width{
  margin:auto;
  width:50%;
}
.user-card{
    border-radius: 4px;
    background:#49c75c;
    color: #fff;
}
.box-align{
  display:flex;
}
.box-width{
  width:100%;
}
.info-list{
    list-style: none;
}
.emp-text{
    width: 38%;
    border-radius: 4px;
    outline: none;
    border: none;
    background: #36A148;
    color: #fff;
}

.user-card input[type="text"]::-webkit-input-placeholder {
    color: #FEFFF8;
    text-align: center;
    font-size: 12px;
  }
.help-icon{
    position: absolute;
    color: #49c75c;
    font-size: 12px;
    font-weight: bold;
    left: 71%;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 81%;
    background: #fff;
    top: -10px;
}
@media (max-width: 768px){
  .container-width{
    width:100% !important;
  }
}
@media (max-width: 575px){
    .profile-img{
        width:30%;
    }
    .content-padding{
        padding-left:15px !important;
        padding-right:15px !important;
    }
}
/* .profile-image{
  background-position: center;
  background-repeat: no-repeat;
} */
.user-image{
  border-radius:50%;
  width:112px;
  height:112px;
  object-fit: cover;
}
.element-font {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
/* .image-border{
    border-right:2px solid #000000;
} */
.text-center-font{
    overflow: hidden;
    width: 81%;
}
.image-media{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
  }
.padding-left{
    padding-left:0px ;
}
.padding-right{
    padding-right:0px ;
}
.employer-details{
    border-bottom:1px solid #000000;
    background-color: #343a40 !important;
    color: #f8f9fa !important;
}
.details-employee{
    border-bottom:1px solid #000000;
}
.center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.box{
  align-items: center;
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
}
.set-height{
  height:130px;
  text-align:center;
}
.float-value{
  left:5px;
  left:12px;
  text-align:right;
  position:relative;
}
.margin-inspect{
    margin-right:-9px !important;
    margin-left:-9px !important;
}
.loading-text{
  justify-content: center; 
  display:flex;
  align-items: center;
  font-size: 1.5em;
  height:82%;

}
.edit-color{
    color:#2eb8b8;
}
.enter-start-date{
    background-color:#005160;
    color:#FFFFFF;
    border:0px;
    font-size: 14px;
    height: 24px;
}
.info-color{
    color:#EB0000;
}
/* @media only screen and (max-width: 900px) {
  .padding-zero{
    padding-right:0px !important;
  }
  .padding-zero-none{
    padding-left:0px !important ;
  }
} */
.gray-bg-color{
    margin-left:1px !important;
    margin-right:1px !important;
    background-color:#E3E3E3;
}
.emp-height{
  min-height:170px;
}
.chart-height{
  min-height:436px;
} 
.property-height{
  min-height:165px;
}
.income-height{
  min-height:348px;
}
.fa-building{
    color:white;
}
.edit-profile{
    text-decoration:underline;
    margin: 0 !important;
}
.pencil-icon{
  position: relative;
  top: -142px;
  right: -19px;
}
.nexus-score{
    font-size:25px;
}
.score-size{
  font-size:20px;
}
.calculate-score{
    background-color:#46a81b;
    border: 0px;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
}
.source-income{
    color:#4b5eff;
}
@media only screen and (max-width: 600px) {
  .font-change{
    font-size:12px ;
  }
}

.employer-income{
  border-bottom:1px solid #000000;
  font-size:25px;
}
.employer-name{
  background-color:#343a40;
  border:1px solid #343a40;
  color: #f8f9fa !important;
  font-size:100%;
}
.add-employer{
  color:#378dff;
}
.note-drag{
  color:tomato;
}
.save-employee-btn{
  background-color: #46a81b;
  border: 0px;
  color: #ffffff;
  float:right;
  padding: 5px 10px;
}
.Cancel-employee-btn{
  background-color:tomato !important;
}
.employer-table td {
  width:10%;
}
.employer-table tbody td:first-child {
  vertical-align: middle;
}
.employer-table tbody td.v-align {
  vertical-align: middle;
}
.employer-table td.bt0{
  border-top:none;
  padding-top: 0px;

}
.see-transection{
  color:#46a81b;
}
.tippingPoints-tm{
  min-width: 94px;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 52px;
  left: 25%;
}
.tippingPoints-tb{
  min-width: 94px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 96px;
  left: 34%;
  text-align: left;
}
.tippingPoints-tt{
  min-width: 94px;
  height: 20px;
  display: inline-block;
  position: relative;
  /* text-align: right; */
  top: 100px;
  left: 14%;
}

span.text-1{
    font-size: 12px;
    font-weight: 800;
    top: 51%;
    right: 69%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 173px;
    text-align: left;
}

span.text-2{
  left: 5%;
  display: block;
  width: 177px;
  font-size: 12px;
  top: 10%;
  border-bottom: 4px solid rgb(241, 128, 72);
  color: rgb(241, 128, 72);
  font-weight: 700;
  text-align: left;
}


span.text-3{
  font-size: 12px;
  font-weight: 800;
  top: 53%;
  right:-0.5%;
  border-bottom: 4px solid rgb(79, 149, 120);
  color: rgb(79, 149, 120);
  display: block;
  text-align: right;
  width: 177px;
}

span.text-4{
  right: 8.8%;
  display: block;
  width: 164px;
  font-size: 12px;
  bottom: 76.5%;
  border-bottom: 4px solid rgb(247, 182, 69);
  color: rgb(247, 182, 69);
  font-weight: 700;
  text-align: right;
  
}

.cus-stick {
  width: 58px;
  position: absolute;
  display: block;
}
.cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 33%;
    left: 32%;
}
.cus-pos-2{
  border-bottom: 4px solid rgb(247, 182, 69);
  transform: rotate(105deg);
  top: 32%;
  left: 57%;
}

/* The container */
.custom-mark {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-mark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -17px;
  left: 0;
  height: 25px;
  width: 25px;
  border:2px solid #ccc6c6;
  border-radius:5px;
}

/* On mouse-over, add a grey background color */
.custom-mark:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.custom-mark input:checked ~ .checkmark {
  background-color: #ffffff;
  border: 2px solid #46a81b;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-mark input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-mark .checkmark:after {
  left: 9px;
  top: -8px;
  width: 12px;
  height: 23px;
  border: solid #46a81b;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.employ-starts{
  font-size:80%;
  font-weight:600;
}
/* The container */
.radio-body {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left:15px ;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-body input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkradio {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  border:2px solid #000000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-body:hover input ~ .checkradio {
  background-color: #ffffff;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkradio {
  background-color: #ffffff;
  border:3px solid #46a81b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-body input:checked ~ .checkradio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-body .checkradio:after {
 	 left: 7px;
    top: 1px;
    width: 10px;
    height: 18px;
    border: solid #46a81b;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.back-btn{
   font-size:20px !important;
   width:120px;
   padding:5px;
   border:0px;
}
.margin-top-div{
   margin-top:122px;
}
.control-scroll{
  height: 140px;
  overflow: auto;
  overflow-x: hidden; 
}
/* The container */
.custom-radio-btn {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark-radio-btn {
  position: absolute;
  top: -9px;
  left: 0;
  height: 25px;
  width: 25px;
  border:2px solid #ccc6c6;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.custom-radio-btn input:checked ~ .checkmark-radio-btn {
  background-color: #ffffff;
  border:2px solid #46a81b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-radio-btn:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-btn input:checked ~ .checkmark-radio-btn:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-btn .checkmark-radio-btn:after {
 	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #46a81b;
}
.image-fixed-size{
  position: relative;
  text-align: center !important;
  height: 125px;
}
.add-address{
  background:transparent;
  color:#007bff;
  font-weight:600;
  border:0px;
}
.bottom-line{
  border-bottom:1px solid #ddd4d4;
}
.spacewrap{
  white-space:nowrap; 
}
.div-position1{
  margin-left: -15px;
  margin-right: 4px;
  border: 2px solid;
  /* flex: 0 0 32.333333%;
  max-width: 33.333333%; */
}
.div-position2{
  /* flex: 0 0 69.333333% !important; */
  margin-left: 10px;
  border: 2px solid;
  /* max-width:65.733333% !important; */
}
/* .div-height{
  height:66px;
} */
/* .icon-margin{
  margin-left:-8px; 
} */

/* .income-left{
  margin-left: -1.9%;
}
.credit-div{
  margin-left:-1.5%;
}
.property-left{
  margin-left:-1.5%;
} */
.adjust-image{
  height:162px;
  vertical-align: middle;
  padding: 20px 0 0 0;
}
.class-1{
  font-size:18px;
}
.score-div{
  height: 270px;
  position: relative;
  width:582px;
  margin-left: auto;
  margin-right: auto;
}
.font-text{
  font-size:14px;
}
.img-center-adjust{
  transform: translate(25%, 10%);

}
.input-color{
  color:black;
}
.align-value td{
  vertical-align: middle;
}
@media only screen and (max-width: 400px) and (min-width: 320px){
  .text-nowrap{
    white-space:inherit !important; 
  }
  .profile-font{
    font-size:12px !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px){
  .email-font{
    font-size:12px;
  }
  .div-padding{
    padding-bottom:16px;
  }
  .score-div{
    width:488px !important;
  }
  .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 18px;
    left: 21%;
  }
  .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 32%;
    text-align: left;
  }
  .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 18%;
  }
  
  span.text-1{
    font-size: 11px;
    font-weight: 800;
    top: 34%;
    right: 64%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 173px;
    text-align: left;
  }
  
  span.text-2{
    
    left: 4.7%;
    display: block;
    width: 177px;
    font-size: 11px;
    top: 1%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }
  
  
  span.text-3{
    
    font-size: 11px;
    font-weight: 800;
    top: 42%;
    right: 2.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 155px;

  }
  
  span.text-4{
  
    right: 7.5%;
    display: block;
    width: 164px;
    font-size: 11px;
    bottom: 85.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;
  }
  
  .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 23%;
    left: 37%;
  }
  .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(105deg);
    top: 23%;
    left: 52%;
  }
  
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
  .email-font{
    font-size:12px;
  }
  .score-div{
    width:488px !important;
  }
  .div-padding{
    padding-bottom:15px;
  }
  .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 18px;
    left: 21%;
  }
  .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 32%;
    text-align: left;
  }
  .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 18%;
  }
  
  span.text-1{
   
    font-size: 12px;
    font-weight: 800;
    top: 40%;
    right: 69%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 173px;
    text-align: left;
  }
  
  span.text-2{
    
   
    left: 2%;
    display: block;
    width: 177px;
    font-size: 12px;
    top: 6%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;
  }
  
  
  span.text-3{
    
    font-size: 12px;
    font-weight: 800;
    top: 48%;
    right: -5.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 177px;
  }
  
  span.text-4{
  
   
    right: 4%;
    display: block;
    width: 164px;
    font-size: 12px;
    bottom: 79.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;
  }
  
  .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(74deg);
    top: 25%;
    left: 35%;
  }
  .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(107deg);
    top: 25%;
    left: 58%;
}
  .cus-stick {
    width: 35px;
    position: absolute;
    display: block;
  
}
}

@media only screen and (max-width: 767px) and (min-width: 520px){
  .email-font{
    font-size:12px;
  }
  .score-div{
    width:460px !important;
  }
  .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 11px;
    left: 20%;
  }
  .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 32%;
    text-align: left;
  }
  .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 18%;
  }
  
  span.text-1{
    font-size: 9px;
    font-weight: 800;
    top: 40%;
    right: 65%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 165px;
    text-align: left;
  }
  
  span.text-2{
    left: 9%;
    display: block;
    width: 154px;
    font-size: 9px;
    top: 4%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }
  
  
  span.text-3{
    font-size: 9px;
    font-weight: 800;
    top: 41%;
    right: 3.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 135px;

  }
  
  span.text-4{
  
    right: 11.7%;
    display: block;
    width: 139px;
    font-size: 9px;
    bottom: 84.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;

  }
  
  .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 21%;
    left: 39%;
  }
  .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(105deg);
    top: 21%;
    left: 53%;
  }
  .cus-stick {
    width: 42px;
    position: absolute;
    display: block;
  }
  
}
@media only screen and (max-width: 519px) and (min-width: 371px){
  .email-font{
    font-size:12px;
  }
  .score-div{
    width:239px !important;
  }
  .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 23px;
    left: -7%;
  }
  .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 61px;
    left: 81%;
    text-align: left;
  }
  .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 82px;
    left: -2%;
  }
  
  span.text-1{
    font-size: 9px;
    font-weight: 800;
    top: 40%;
    right: 77%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 93px;
    text-align: left;
  }
  
  span.text-2{
    left: -12%;
    display: block;
    width: 112px;
    font-size: 9px;
    top: 6%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }  
  span.text-3{
    font-size: 9px;
    font-weight: 800;
    top: 41%;
    right: -17.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 82px;
  }
  
  span.text-4{
  
    right: -11.3%;
    display: block;
    width: 99px;
    font-size: 9px;
    bottom: 78.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;

  }
  
  .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 27%;
    left: 29%;
  }
  .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(105deg);
    top: 27%;
    left: 59%;
  }
  .cus-stick {
    width: 42px;
    position: absolute;
    display: block;
  }
  
}
@media only screen and (max-width: 371px) and (min-width: 320px){
  .email-font{
    font-size:12px;
  }
  .score-div{
    width:239px !important;
  }
  .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 18px;
    left: -7%;
  }
  .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 52px;
    left: 71%;
    text-align: left;
  }
  .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 2%;
  }
  
  span.text-1{
    font-size: 8px;
    font-weight: 800;
    top: 32%;
    right: 72%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 62px;
    text-align: left;
  }
  
  span.text-2{
    left: 11%;
    display: block;
    width: 62px;
    font-size: 9px;
    top: 4%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }  
  span.text-3{
    font-size: 9px;
    font-weight: 800;
    top: 33%;
    right: 0.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 51px;
  }
  
  span.text-4{
  
    right: 10.7%;
    display: block;
    font-size:8px;
    width: 58px;
    bottom: 75.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right
  }
  
  .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    top: 27%;
    left: 33%;
  }
  .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    -webkit-transform: rotate(105deg);
    transform: rotate(105deg);
    top: 27%;
    left: 59%;
  }
  .cus-stick {
    width: 25px;
    position: absolute;
    display: block;
  }
  
}


/* background images */
.bg-text {
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bg-text .dash-hide{
  display: none;
}
.bg-common {
  /* Add the blur effect */
  filter: blur(7px);
  -webkit-filter: blur(7px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-income-image {
  /* The image used */
  background-image: url("/../assets/netincome.png");
  height: 286px; 
}
.bg-score-image {
  background-image: url("/../assets/scoregraph.png");
  height: 300px;
}
.bg-debt-image {
  background-image: url("/../assets/debtgraph.png");
  height: 380px;
}
.bg-account-image {
  background-image: url("/../assets/account-image.png");
  height: 180px;
}
.bg-credit-image {
  background-image: url("/../assets/credit-image.png");
  height: 180px;
}
.bg-employer-image {
  background-image: url("/../assets/employer-image.png");
  height: 129px;
}
.bg-total-income {
  background-image: url("/../assets/total-income.png");
  height: 129px;
}
.bg-loan-income {
  background-image: url("/../assets/loan-income.png");
  height: 179px;
}
.bg-property-image {
  background-image: url("/../assets/property-image.png");
  height: 180px;
}
