.more-value {
 margin:0 auto;
 width:80%;
}
.more-value form p {
 color: #000000 ;
}
.confirm-btn{
 border:2px solid #000000;
 border-radius:0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
