<div>
  <div class="p-3 font-weight-bold text-white bg-dark">{{employerDetail.employer.employer_name}}
    <i class="fa fa-close float-right cursor-pointer" (click)="modalClose(null)"></i></div>
  <div class="p-3 font-weight-bold bg-warning">{{"AAM_DIV_CONTACT_DETAILS" | translate}}</div>
  <div class="row mt-2 ml-2 mr-2">
    <div class="col-sm-5 col-md-4 col-lg-3 text-secondary font-weight-bold pt-2">{{"AAM_DIV_CONTACT_PERSON" | translate}}</div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.contact_person" type="text" placeholder="{{'AAM_DIV_CONTACT_PERSON' | translate}}"/>
    </div>
  </div>
  <div class="row mt-3 ml-2 mr-2">
    <div class="col-sm-5 col-md-4 col-lg-3 text-secondary font-weight-bold pt-2">{{"AAM_DIV_TITLE" | translate}}</div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.title" type="text" placeholder="{{'AAM_DIV_TITLE' | translate}}" />
    </div>
  </div>
  <div class="row mt-3 ml-2 mr-2">
    <div class="col-sm-5 col-md-4 col-lg-3 text-secondary font-weight-bold pt-2">{{"AAM_DIV_EMAIL" | translate}}</div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.email" type="email" placeholder="{{'AAM_DIV_EMAIL' | translate}}" />
    </div>
  </div>
  <div class="row mt-3 ml-2 mr-2">
    <div class="col-sm-5 col-md-4 col-lg-3 text-secondary font-weight-bold pt-2">{{ "AAM_DIV_PHONE_NUMBER" | translate}}</div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <input class="w-100 p-2" [ngModel]="employerDetail.employer.phone_number | phoneNumber" 
        (ngModelChange)="employerDetail.employer.phone_number = $event" maxlength="14" 
        (keypress)="numberOnly($event)" type="text" placeholder="{{'AAM_DIV_PHONE_NUMBER' | translate}}" />
    </div>
  </div>
  <div class="p-3 font-weight-bold bg-warning mt-2">{{"AAM_DIV_ADDRESS" | translate}}</div>
  <div class="row mt-2 ml-2 mr-2">
    <div class="col-sm-5 col-md-4 col-lg-3 text-secondary font-weight-bold pt-2">{{"AAM_DIV_ADDRESS" | translate}}</div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.address.street1" type="text" placeholder="{{'AAM_DIV_ADDRESS' | translate}}" />
    </div>
  </div>
  <div class="row mt-3 ml-2 mr-2">
    <div class="col-sm-5 col-md-4 col-lg-3 text-secondary font-weight-bold pt-2">{{"AAM_DIV_ADDRESS" | translate}} 2</div>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.address.street2" type="text" placeholder="{{'AAM_DIV_ADDRESS' | translate}} 2" />
    </div>
  </div>
  <div class="row mt-3 ml-2 mr-2">
    <div class="col-sm-2 text-secondary font-weight-bold text-center pt-2">{{"AAM_DIV_COUNTRY" | translate}}</div>
    <div class="col-sm-4">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.address.country" type="text" placeholder="{{'AAM_DIV_COUNTRY' | translate}}" />
    </div>
    <div class="col-sm-2 text-secondary font-weight-bold text-center pt-2">{{"AAM_DIV_STATE" | translate}}</div>
    <div class="col-sm-4">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.address.state" type="text" placeholder="{{'AAM_DIV_STATE' | translate}}" />
    </div>
  </div>
  <div class="row mt-3 ml-2 mr-2">
    <div class="col-sm-2 text-secondary font-weight-bold text-center pt-2">{{"AAM_DIV_CITY" | translate}}</div>
    <div class="col-sm-4">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.address.city" type="text" placeholder="{{'AAM_DIV_CITY' | translate}}" />
    </div>
    <div class="col-sm-2 text-secondary font-weight-bold text-center pt-2">{{"AAM_DIV_ZIP_CODE" | translate}}</div>
    <div class="col-sm-4">
      <input class="w-100 p-2" [(ngModel)]="employerDetail.employer.address.zipCode" type="number" placeholder="{{'AAM_DIV_ZIP_CODE' | translate}}" />
    </div>
  </div>
  <div class="modal-footer mt-2">
    <button type="button" class="btn btn-success pl-3 pr-3 mr-3 font-weight-bold" (click)="addEmployerAddress()"
      [disabled]="!((employerDetail.employer.address.street1 && employerDetail.employer.address.city
                    && employerDetail.employer.address.state && employerDetail.employer.address.country
                    && employerDetail.employer.address.zipCode) || 

                    (employerDetail.employer.contact_person && employerDetail.employer.title
                    && employerDetail.employer.email && employerDetail.employer.phone_number))">{{ "AAM_DIV_SAVE" | translate}}</button>
    <button type="button" class="btn btn-danger pl-3 pr-3 font-weight-bold" (click)="modalClose(null)">{{ "AAM_DIV_CANCEL" | translate}}</button>
  </div>
</div>
