<div class="modal-header" >
    <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
  </div>
  
  <div class="modal-body mt-0 pt-0">
    <div class="container">
      <h1>{{"AIM_H1_INVESTMENT_MODAL" | translate}}</h1>
    </div>
  </div>