<div class="main-div-pdf">
  <div class="p-5">
  <div class="row">
    <div class="col-md-12 text-right">
      <h5 class="font-weight-bold font-color-black">Nissan Canada Financial Services Inc.</h5>
    </div>
  </div>
    <div class="row">
      <div class="col-md-2 ">
        <img src="../../assets/Nissan-logo.png" style="height:100px ;">
      </div>
      <div class="col-md-10 pt-3">
        <h2 class="font-weight-bold font-color-black">CREDIT APPLICATION</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <h6 class="font-14">PLEASE PRINT</h6>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">LEASE</span>
        </span>
      </div>
      <div class="col-md-4">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">PERSONAL</span>
        </span>
      </div>
      <div class="col-md-5">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">NEW CUSTOMER</span>
        </span>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-3">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">CONDITIONAL SALES CONTRACT</span>
        </span>
      </div>
      <div class="col-md-4">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">BUSINESS CO-APPLICANT/GUARANTOR</span>
        </span>
      </div>
      <div class="col-md-5">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">PRESENT CUSTOMER A/C # <input class="input-border"></span>
        </span>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-3">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-5">
        <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2">FORMER CUSTOMER A/C # <input class="input-border"></span>
        </span>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h6 class="font-weight-bold">1) <span class="ml-5">VEHICLE INFORMATION</span></h6>
      </div>
    </div>
<div class="border border-dark">
  <div class="row ml-none mr-none">
    <div class="col-md-4 pl-3">
      <span class="font-14">Dealer
        <span><input class="w-50 border border-0"></span>
      </span>
    </div>
    <div class="col-md-1" style="border-left:1px solid #000;">
      <span class="font-14">No.
        <span><input class="border border-0" style="width:50px;"></span>
      </span>
    </div>
    <div class="col-md-3" style="border-left:1px solid #000;">
      <span class="font-14">Year
        <span><input class="border border-0"></span>
      </span>
    </div>
    <div class="col-md-4" style="border-left:1px solid #000;">
      <span class="font-14">Selling Price
        <span><input class="border border-0"></span>
      </span>
    </div>
  </div>

  <div class="row ml-none mr-none">
    <div class="col-md-3 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Telephone
        <span><input class="w-50 border border-0"></span>
      </span>
    </div>
    <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Fax
        <span><input class="border border-0"></span>
      </span>
    </div>
    <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Make
        <span><input class="border border-0"></span>
      </span>
    </div>
    <div class="col-md-4" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Cash Down
        <span><input class="border border-0"></span>
      </span>
    </div>
  </div>

  <div class="row ml-none mr-none">
    <div class="col-md-5 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Contact
        <span><input class="w-100 border border-0"></span>
      </span>
    </div>
    <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Model
        <span><input class="border border-0"></span>
      </span>
    </div>
    <div class="col-md-4" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Trade-in (Net)
        <span><input class="border border-0"></span>
      </span>
    </div>
  </div>

  <div class="row ml-none mr-none" style="height:50px;">
    <div class="col-md-5 pl-3" style="border-top:1px solid #000;">
      <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2"> Individual </span>
        <input type="checkbox" class="input-custm cursor-pointer ml-3">
          <span class="font-14 ml-2"> Joint-with whom: <input class="input-border w-50"> </span>
        </span>
    </div>
    <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Model No. / Option Code
        <span><input class="border border-0 w-100"></span>
      </span>
    </div>
    <div class="col-md-4" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Lease Vehicle Amount/Amount Financed
        <span><input class="border border-0 w-100"></span>
      </span>
    </div>
  </div>

  <div class="row ml-none mr-none" style="height:50px;">
    <div class="col-md-5 pl-3" style="border-top:1px solid #000;">
      <span>
          <input type="checkbox" class="input-custm cursor-pointer">
          <span class="font-14 ml-2"> Personal </span>
        <input type="checkbox" class="input-custm cursor-pointer ml-3">
          <span class="font-14 ml-2"> Business</span>
        </span>
    </div>
    <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14" style="font-size:15px;">MSRP
        <span><input class="border border-0 w-100"></span>
      </span>
    </div>
    <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14" style="font-size:15px;">Term
        <span><input class="border border-0 w-100"></span>
      </span>
    </div>
    <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14" style="font-size:15px;">Payment
        <span><input class="border border-0 w-100"></span>
      </span>
    </div>
  </div>

</div>

    <div class="row mt-2 ">
      <div class="col-md-12">
        <h6 class="font-weight-bold">2) <span class="ml-5">INFORMATION REGARDING APPLICANT(S)</span></h6>
      </div>
    </div>
    <div class="border border-dark">
      <div class="row ml-none mr-none">
        <div class="col-md-4 pl-3">
      <span class="font-14">Applicant (1) Full Name (Middle initial(s) required)
        <span><input type="text" class="w-100 border border-0" [(ngModel)]="user.name"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
      <span class="font-14">Birth Date (DD-MM-YYYY)
        <span><input class="border border-0 w-100" [(ngModel)]="user.birthDate"></span>
      </span>
        </div>
        <div class="col-md-3" style="border-left:1px solid #000;">
      <span class="font-14">Social Insurance Number
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-3" style="border-left:1px solid #000;">
      <span class="font-14">No. of Dependants
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-4 pl-3" style="border-top:1px solid #000;">
          <span class="font-14">Current Address
            <span style="color:#212529;" class="d-block font-weight-bold" [ngClass]="{'xs-font': user.address.streetAddress.length > 62}" *ngIf="changeText" (click)="changeText=false">{{user.address.streetAddress}}</span>
            <span *ngIf="!changeText || user.address.streetAddress == 'null' || user.address.streetAddress == '' || !user.address.streetAddress"><input class="w-100 border border-0" [(ngModel)]="user.address.streetAddress" (focusout)="changeText=true"></span>
          </span>
        </div>
        <div class="col-md-2 pr-2 d-none" style="border-top:1px solid #000;">
      <span class="font-14" style="height: 20px;">Street

      </span>
        </div>
        <div class="col-md-1" style="border-top:1px solid #000;">
      <span class="font-14">City
        <span><input class="border border-0 w-100" [(ngModel)]="user.address.addressLocality" style="font-size:12px"></span>
      </span>
        </div>
        <div class="col-md-1 pl-0 pr-2" style="border-top:1px solid #000;">
      <span class="font-14">Province
        <span><input class="border border-0 w-100" [(ngModel)]="user.address.addressRegion" style="font-size:12px"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Postal Code
        <span><input class="border border-0 w-100" [(ngModel)]="user.address.postalCode"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">How long?</div>
      <div class="row">
        <div class="col-md-3 txt-color">
          Years
        </div>
        <div class="col-md-3">
          <input class="border border-0" style="width:36px;">
        </div>
        <div class="col-md-3 txt-color">
          Mos.
        </div>
        <div class="col-md-3">
          <input class="border border-0" style="width:36px;">
        </div>
      </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Home Telephone
        <span><input class="border border-0 w-100" [ngModel]="user.telephone | phoneNumber"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-6 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Previous Address (if less than 3 years at current address)
        <span><input class="w-100 border border-0" [(ngModel)]="user['previous addresses'][0].fullAddress"></span>
      </span>
        </div>

        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Postal Code
        <span><input class="border border-0 w-100" [(ngModel)]="user['previous addresses'][0].postalCode"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">How long?</div>
          <div class="row">
            <div class="col-md-3 txt-color">
              Years
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;">
            </div>
            <div class="col-md-3 txt-color">
              Mos.
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;">
            </div>
          </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Home Telephone
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-5 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Employer’s Name
        <span><input class="w-100 border border-0" [(ngModel)]="user.worksFor.name"></span>
      </span>
        </div>

        <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Telephone
        <span><input class="border border-0 w-100" [ngModel]="user.worksFor.phone_number | phoneNumber"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">How long?</div>
          <div class="row">
            <div class="col-md-3 txt-color">
              Years
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;" [(ngModel)]="user.worksFor.year">
            </div>
            <div class="col-md-3 txt-color">
              Mos.
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;" [(ngModel)]="user.worksFor.months">
            </div>
          </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Occupation
        <span><input class="border border-0 w-100" [(ngModel)]="user.worksFor.occupation"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-8 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Employer’s Address
        <span><input class="w-100 border border-0" [(ngModel)]="user.worksFor.empAddress"></span>
      </span>
        </div>

        <div class="col-md-2" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">Self-employed </div>
          <div class="row">
            <div class="col-md-2">
              <input type="checkbox" class="input-custm cursor-pointer" *ngIf="user.worksFor.self_employed"
                checked={user.worksFor.self_employed}>
              <input type="checkbox" class="input-custm cursor-pointer" *ngIf="!user.worksFor.self_employed">
            </div>
            <div class="col-md-4 txt-color">
              Yes
            </div>
            <div class="col-md-2">
              <input type="checkbox" class="input-custm cursor-pointer" *ngIf="!user.worksFor.self_NoEmployed"
                checked={user.worksFor.self_NoEmployed}>
              <input type="checkbox" class="input-custm cursor-pointer" *ngIf="user.worksFor.self_NoEmployed">
            </div>
            <div class="col-md-4 txt-color">
              No
            </div>
          </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Nature of Business
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-5 pl-3" style="border-top:1px solid #000;">
      <span style="font-size:13px;">Previous Employer’s Name and Address (if less than 3 years at current employer)
        <span><input class="w-100 border border-0" [(ngModel)]="user.preEmployer.name"></span>
      </span>
        </div>

        <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Telephone
        <span><input class="border border-0 w-100" [ngModel]="user.preEmployer.phone_number | phoneNumber"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">How long?</div>
          <div class="row">
            <div class="col-md-3 txt-color">
              Years
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;">
            </div>
            <div class="col-md-3 txt-color">
              Mos.
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;">
            </div>
          </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Occupation
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3 pl-3" style="border-top:1px solid #000;">
      <div class="txt-color" style="font-size:13px;">
        Applicant (1) Gross Salary/Wages
      </div>
          <div class="row">
            <div class="col-md-6 txt-color" style="font-size:13px;">Income Per Month <span class="ml-2 font-14 ">$</span></div>
            <div class="col-md-6 pl-0"><input class="border border-0 w-75"></div>
          </div>
        </div>
        <div class="col-md-1 " style="border-left:1px solid #000;border-top:1px solid #000;">
          <div class="txt-color" style="font-size:12px;">Other Income</div>
      <span style="font-size:14px;">$
        <span><input class="w-75 border border-0"></span>
      </span>
        </div>

        <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Describe Other Income
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-3" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color" style="font-size:13px;">
            Applicant (2) Gross Income
          </div>
          <div class="row">
            <div class="col-md-6 txt-color" style="font-size:13px;">Per Month <span class="ml-2 font-14 ">$</span></div>
            <div class="col-md-6 pl-0"><input class="border border-0 w-75"></div>
          </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
          <div class="txt-color">Total Income </div>
          <span style="font-size:14px;">$
        <span><input class="w-75 border border-0 ml-2"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3 pl-3" style="border-top:1px solid #000;">
           <span style="font-size:12px;">Applicant (2) Full Name (Middle initial(s) required)
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1 pl-0 pr-0" style="border-left:1px solid #000;border-top:1px solid #000;">
         <span style="font-size:9px;">Birth Date (DD-MM-YYYY)
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>

        <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
     <span>Social Insurance Number
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-5" style="border-left:1px solid #000; border-top:1px solid #000;">
         <div class="row">
           <div class="col-md-4 txt-color">
             Applicant (2)
           </div>
           <div class="col-md-4">
             <span><input type="checkbox" class="input-custm cursor-pointer mr-3"> Co-applicant</span>
           </div>
           <div class="col-md-4">
             <span><input type="checkbox" class="input-custm cursor-pointer mr-3"> Guarantor </span>
           </div>
         </div>

        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-2 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Current Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-top:1px solid #000;">
      <span class="font-14">Street
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-top:1px solid #000;">
      <span class="font-14">City
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-top:1px solid #000;">
      <span class="font-14">Province
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Postal Code
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">How long?</div>
          <div class="row">
            <div class="col-md-3 txt-color">
              Years
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;">
            </div>
            <div class="col-md-3 txt-color">
              Mos.
            </div>
            <div class="col-md-3">
              <input class="border border-0" style="width:36px;">
            </div>
          </div>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Home Telephone
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3 pl-3" style="border-top:1px solid #000;">
           <span>Applicant (2) Employer
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1 pr-0" style="border-left:1px solid #000;border-top:1px solid #000;">
          <div class="txt-color" style="font-size:12px;">How long?</div>
          <div class="row" style="font-size:12px;">
            <div class="col-md-6 txt-color">
              Years
              <div><input class="border border-0" style="width:36px;"></div>
            </div>
            <div class="col-md-6 txt-color">
              Mos.
              <div>
                <input class="border border-0" style="width:28px;">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3" style="border-left:1px solid #000;border-top:1px solid #000;">
     <span>Occupation
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-5" style="border-left:1px solid #000; border-top:1px solid #000;">
          <div class="txt-color">Has Either Applicant Ever Declared Bankruptcy? </div>
          <div class="row">
            <div class="col-md-9">
              <span><input type="checkbox" class="input-custm cursor-pointer mr-3"> Yes - Date (DD-MM-YYYY) <input class="w-25 border border-0"></span>
            </div>
            <div class="col-md-3">
              <span><input type="checkbox" class="input-custm cursor-pointer mr-3"> No </span>
            </div>
          </div>

        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-2 pl-3" style="border-top:1px solid #000;">
      <span class="font-14">Relative Not Living With applicant
      </span>
        </div>
        <div class="col-md-3" style="border-top:1px solid #000;">
      <span class="font-14">Name
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-3" style="border-top:1px solid #000;">
      <span class="font-14">Address
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Relationship
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>

        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
      <span class="font-14">Home Telephone
        <span><input class="border border-0 w-100"></span>
      </span>
        </div>
      </div>
    </div>

    <div class="row mt-2 ">
      <div class="col-md-12">
        <h6 class="font-weight-bold">3) <span class="ml-5">FINANCIAL INFORMATION – ALL LOANS, LEASES AND OTHER OBLIGATIONS (INCLUDING ALIMONY, CHILD SUPPORT, MAINTENANCE)</span></h6>
      </div>
    </div>

    <div class="border border-dark">
      <div class="row ml-none mr-none">
        <div class="col-md-2">
          <div class="font-14 txt-color">Residence</div>
          <span class="font-14"><input type="checkbox" class="input-custm cursor-pointer mr-3"> Buying or Own </span>
        </div>
        <div class="col-md-3"  style="border-left:1px solid #000;">
          <span>Lienholder or Landlord’s Name
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-left:1px solid #000;">
           <span>Est. Value
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
           <span>Original Balance
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
           <span>Balancing Owing
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
           <span>Payment Per Month
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-2">
          <div class="font-14"><span class="font-14"><input type="checkbox" class="input-custm cursor-pointer mr-3"> Rent </span></div>
          <span class="font-14"><input type="checkbox" class="input-custm cursor-pointer mr-3">  With Parents/Other </span>
        </div>
        <div class="col-md-4"  style="border-left:1px solid #000;border-top:1px solid #000;">
          <span>Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3" style="border-top:1px solid #000;">
          <span>Name and Account No. (Creditors only)
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-3"  style="border-top:1px solid #000;">
          <span>Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3" style="border-top:1px solid #000;">
          <span>Name and Account No. (Creditors only)
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-3"  style="border-top:1px solid #000;">
          <span>Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3" style="border-top:1px solid #000;">
          <span>Name and Account No. (Creditors only)
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-3"  style="border-top:1px solid #000;">
          <span>Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-2" style="border-top:1px solid #000;">
          <div class="txt-color">Previous Vehicle Was</div>
          <div class="row">
            <div class="col-md-6">
              <span style="font-size:14px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Leased </span>
            </div>
            <div class="col-md-6 pl-0">
              <span style="font-size:14px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Purchased </span>
            </div>
          </div>
        </div>
        <div class="col-md-4"  style="border-top:1px solid #000;border-left:1px solid #000">
          <span>Name of Lessor or Financing Creditor
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>$
        <span><input class="w-100 border border-0 ml-2"></span>
      </span>
        </div>
      </div>


    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h6 class="font-weight-bold">4) <span class="ml-5">BANKING INFORMATION</span></h6>
      </div>
    </div>
    <div class="border border-dark">
      <div class="row ml-none mr-none">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-4">
              <span style="font-size:12px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Chequing </span>
            </div>
            <div class="col-md-5 pl-0 pr-0">
              <span style="font-size:12px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Chequing/Savings  </span>
            </div>
            <div class="col-md-3 pl-0 pr-0">
              <span style="font-size:12px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Savings </span>
            </div>
          </div>
        </div>
        <div class="col-md-3"  style="border-left:1px solid #000">
          <span>Name and Branch
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
           <span>Telephone
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
          <span>Account No.
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
          <div class="txt-color">Balance</div>
          <span>
        <span>$<input class="w-50 border border-0"></span>
      </span>
        </div>
      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-3" style="border-top:1px solid #000;">
          <div class="row">
            <div class="col-md-4">
              <span style="font-size:12px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Chequing </span>
            </div>
            <div class="col-md-5 pl-0 pr-0">
              <span style="font-size:12px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Chequing/Savings  </span>
            </div>
            <div class="col-md-3 pl-0 pr-0">
              <span style="font-size:12px;"><input type="checkbox" class="input-custm cursor-pointer mr-1"> Savings </span>
            </div>
          </div>
        </div>
        <div class="col-md-3"  style="border-left:1px solid #000;border-top:1px solid #000;">
          <span>Name and Branch
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span>Telephone
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
          <span>Account No.
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
          <div class="txt-color">Balance</div>
          <span>
        <span>$<input class="w-50 border border-0 ml-2"></span>
      </span>
        </div>
      </div>

 <div class="row ml-none mr-none" style="border-top:1px solid #000;height:50px;">
     <div class="col-md-12 ml-3" >
       <span>Has either Applicant Ever Obtained Credit Under a Different Name? <input type="checkbox" class="input-custm cursor-pointer mr-3 ml-3"> No
       <input type="checkbox" class="input-custm cursor-pointer mr-3 ml-3"> Yes (List Name)
       </span>
     </div>
 </div>

    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <h6 class="font-weight-bold">5) <span class="ml-5">LIST ALL VEHICLE OPERATORS IN ORDER OF MOST FREQUENT USE</span></h6>
      </div>
    </div>
    <div class="border border-dark">
      <div class="row ml-none mr-none">
        <div class="col-md-5">
          <span>1. Name and Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-left:1px solid #000;">
           <span style="font-size:12px;">% Of Vehicle Use
        <span><input class="w-50 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2 pr-0" style="border-left:1px solid #000;">
          <span>Birth Date (DD-MM-YYYY)
        <span><input class="w-75 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;">
          <span>Operator’s License No.
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-left:1px solid #000;">
          <span>Prov.
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1 pr-0" style="border-left:1px solid #000;">
          <span style="font-size:12px;">Years Licensed
        <span><input class="w-50 border border-0"></span>
      </span>
        </div>


      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-5" style="border-top:1px solid #000;">
          <span>1. Name and Address
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-left:1px solid #000;border-top:1px solid #000;">
           <span style="font-size:12px;">% Of Vehicle Use
        <span><input class="w-50 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2 pr-0" style="border-left:1px solid #000;border-top:1px solid #000;">
          <span>Birth Date (DD-MM-YYYY)
        <span><input class="w-75 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-left:1px solid #000;border-top:1px solid #000;">
          <span>Operator’s License No.
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1" style="border-left:1px solid #000;border-top:1px solid #000;">
          <span>Prov.
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1 pr-0" style="border-left:1px solid #000;border-top:1px solid #000;">
          <span style="font-size:12px;">Years Licensed
        <span><input class="w-50 border border-0"></span>
      </span>
        </div>


      </div>

      <div class="row ml-none mr-none">
        <div class="col-md-2 pr-0" style="border-top:1px solid #000;font-size:14px">
          <span>Garaging Address If Other Than Address Above
        <span><input class="w-25 border border-0"></span>
      </span>
        </div>
        <div class="col-md-3" style="border-top:1px solid #000;">
           <span>Number and Street
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2 pr-0" style="border-top:1px solid #000;">
          <span>City
        <span><input class="w-75 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2" style="border-top:1px solid #000;">
          <span>Province
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-1 pl-0" style="border-top:1px solid #000;">
          <span>Postal Code
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>
        <div class="col-md-2 pr-0" style="border-left:1px solid #000;border-top:1px solid #000;">
          <span style="font-size:14px;">Telephone
        <span><input class="w-100 border border-0"></span>
      </span>
        </div>


      </div>









    </div>

    <div style="font-size:14px" class="mt-3">
      <div class="row">
        <div class="col-md-12">
          1. Do not sign this application before you have read it or if it contains any blanks to be filled or any errors. You confirm that the information you have given is true and complete and that you have not
          withheld any information, and you authorize us to rely on and use the information you have given us for the purposes of making a decision on your application for credit; determining whether to enter into a
          conditional sales contract or lease with you on the vehicle you have chosen; and where we have entered into such an agreement with you, for the purpose of administering that agreement.
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          2. Where this application is executed electronically, you agree to conduct this transaction in electronic form and that your electronic signature signifies your acceptance to the terms and conditions of this
          application.
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          3. By signing below, you also authorize us, from time to time, to (a) disclose your personal information to Nissan Canada Financial Services Inc. and its affiliates, (i) for the purpose of, after the removal
          of your personal identifiers, creating market analyses and other statistical studies, and (ii) to the extent such disclosure may incidentally result from the shared use by Nissan Canada Financial Services Inc.
          and its affiliates of certain information systems on which your personal information is collected, stored and transferred, and provided that such personal information shall not be used or disclosed by Nissan
          Canada Financial Services Inc. and its affiliates for any purpose other than (i) above; (b) collect from you, credit bureaus, other credit granters, the relevant dealer(s), and your employer(s), your credit and
          other relevant personal information, and to use such information, as required for the above-noted purpose or as required by law; (c) disclose your credit and other relevant personal information to credit
          bureaus and other credit granters as required for the purposes of such parties making a decision on your applications for credit, and, after the removal of your personal identifiers, creating market analyses
          and other statistical studies; and as required by law inclusive of safety regulations; (d) disclose your personal information to third party service providers for the purposes of debt collection and the registration
          of liens and other security interests relating to credit provided to you, and the confirmation of insurance details on the vehicle you have chosen; (e) disclose relevant personal information to the applicable
          dealer(s) in order to (i) provide you with information relating to the purpose set out in 1. above, and (ii) in order to ensure that you comply with the requirements of your financing agreement(s).
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          4. In addition to the above, by signing below you authorize us to disclose your credit and other relevant personal information to Nissan Canada Financial Services Inc. and its affiliates, and to dealers, for
          the purpose of sending to you additional information regarding their products and additional services. Please check the box below should you not wish such credit and other personal information to be
          disclosed for such purposes:
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          Please do not disclose my personal information for the purpose set out in 4. above: <span><input type="checkbox" class="input-custm cursor-pointer ml-3"></span>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          Should you have questions as to the collection, use and disclosure of your credit and other personal information, contact Customer Services at 1-800-268-6499.
        </div>
      </div>

    </div>
    <div class="row ml-none mr-none mt-5">
      <div class="col-md-3">
        <input _ngcontent-c2="" class="input-border">
        <div class="font-weight-bold ">Applicant (1) Signature</div>
      </div>
      <div class="col-md-3">
        <input _ngcontent-c2="" class="input-border">
        <div class="font-weight-bold ">DD-MM-YYYY </div>
      </div>
      <div class="col-md-3">
        <input _ngcontent-c2="" class="input-border">
        <div class="font-weight-bold ">Applicant (2) Signature</div>
      </div>
      <div class="col-md-3">
        <input _ngcontent-c2="" class="input-border">
        <div class="font-weight-bold ">DD-MM-YYYY </div>
      </div>
    </div>

  </div>
</div>
