span, .txt-color{
  color:#636060;
}
.font-color-black {
  color:#000 ;
}
.font-14 {
  font-size:16px;
}
.font-16 {
  font-size:16px;
}
.input-custm{
  vertical-align:middle ;
}
.cursor-pointer{
  cursor:pointer;
}
.input-border{
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom:1px solid #000;
}
.ml-none{
  margin-left:0 !important;
}
.mr-none{
  margin-right:0 !important;
}

.main-div-pdf input {
  font-weight: 600;
}
.xs-font{
  font-size: x-small;
}
