span{
    color: #636060;
}
.wrapup-container{
    padding-left: 5%;
    padding-right: 5%;
}
.custom-border{
    border: 4px solid black;
}
.cus-bot-border{
    border-bottom: 3px solid black;
    font-size: 19px;
    font-weight: 800;
}
.font-15{
    font-size: 15px;
}
.nexus-log{
    padding-bottom:10px;
    width:130px;
}
.signature-box{
    width: 195px;
    border-bottom: 1px solid;
    height: 25px;
    text-align: right;
}
.s-box-1{
    float: left;
    margin-left: 80px;
}
.s-box-2{
    float: right;
    margin-right: 80px;
}
.signature-name > div:first-child{
    margin-left: 21%;
}
.signature-name > div:last-child{
    margin-left: 33%;
}
h5.a-application-form{
    border-top: 3px solid;
    border-bottom: 3px solid;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 22px;
    font-weight: 800;
    background: #80808094;
    margin-top: 13px;
    padding-left: 10px;
}
.arrangement-application{
    width: 99% !important;
    margin-left: 6px;
}
.border-width-2px{
    border-width: 1px !important;
}
div{
    overflow: hidden;
}
input[type=text], span.occupied{
    border: transparent;
    font-weight: 800;
    width: 100%;
}
.declearation{
    padding-left: 14px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}
.dealer-section{
    color: #80808094;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.2;
}
.year-row > div> span{
    display: block;
    font-size: 15px;
}
.w-99{
    width: 99%;
}
.agreement{
    margin-top:30px !important;
}
h5.agreement + div, span.notices + div{
    text-align: justify;
}
span.notices{
    text-align: center;
    margin-top: 30px 
}
span.notices > h5{
    border-bottom: 3px solid;
    font-size: 22px;
    font-weight: 800;
    padding: 0;
    display: inline-block;
}
.font-22{
    font-weight: 600;
}
.names-and-address{
    width: 48%;
    display: inline-block;
    margin-top: 8%;
}
.names-and-address > input[type="text"]{
    width: 100%;
    border-bottom: 2px solid !important;
    height: 10px;
}
.final-certify{
    border-top: 3px solid;
    padding-top: 16px 
}
.final-certify > h5{
    border: 3px solid;
    font-size: 16px;
    font-weight: 800;
    background: #80808040;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-style: italic;
    text-align: center;
}
.final-certify > div > div > input[type="text"]{
    height: 75px;
}
.border-bottom-2px{
    border-bottom: 2px solid !important;
}
.margin-top-40{
    margin-top : 80px;
}
.vermont, .Ohio{
    margin-top :40px;
}

.new-york{
    margin-top : 130px;
}

.margin-attached{
    margin-top: 100px;
    border-top: 1px solid;
}

.time-at-address{
    width: 50px !important;
    height: 15px;
    border-bottom: 2px solid black !important;
}
.w-80{
    width:70% !important;
    margin-left: 5px !important;
}
@media only screen and (min-width: 1300px) {
    .margin-top-40{
        margin-top : 150px;
    }
    .Ohio{
        margin-top :20px;
    }
    .vermont{
        margin-top : 80px !important;
    }
  }
