<div class="container-fluid pb-4">
  <div class="row">

    <div class="section-1">
      <!-- logo section -->
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-md-6">
            <span class="d-inline-block">{{"PDF_SPAN_DEALER_NAME" | translate}}: </span> <input class="w-80" type="text">
            <span class="d-inline-block">{{"PDF_SPAN_DEALER_PHONE" | translate}} #: </span> <input class="w-80" type="text">
            <span class="d-inline-block">{{  "PDF_SPAN_DEALER_FAX" | translate}} # </span> <input class="w-80" type="text">
          </div>
          <div class="col-md-6 text-right">
            <img class="nexus-log" src="../../assets/nexus-log.png" alt="...">
          </div>
        </div>
      </div>

      <div class="container-fluid ml-2 mr-2 custom-border p-0 pb-3 overflow-hidden w-99">

        <!-- header section -->
        <div class="row ml-1 mr-1">

          <!-- instruction section -->
          <h5 class="cus-bot-border w-100">{{ "PDF_H5_PLEASE_PRINT_INCOMPLETE" | translate}}</h5>

          <div class="col-md-6 pl-0">
            <span class="d-block">{{"PDF_SPAN_INSTRUCTIONS" | translate}} </span>
            <span class="d-block">{{"PDF_SPAN_ALONE_NAME" | translate}}</span>

            <div class="font-15">
              <span class="d-block">{{"PDF_SPAN_PLEASE_INDICATE_WHETHER_YOU_ARE_APPLYING_FOR" | translate}} </span>
              <div class="mb-3 ml-3">
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{ "PDF_SPAN_INDIVIDUAL_CREDIT" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{ "PDF_SPAN_JOIN_CREDIT" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_COMMUNITY_PROPERLY_STATE" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_BUSINESS_APPLICATION" | translate}}</span>
              </div>

              <span class="d-block">(2) <input class="ml-1" type="checkbox">
              {{"PDF_SPAN_APPLYING_FOR_INDIVIDUAL_CREDIT" | translate}}
              </span>
            </div>
          </div>

          <div class="col-md-6 pl-0 font-15">
            <div class="mb-3">
              <span class="d-block">(3) <input class="ml-1" type="checkbox">
                <span>
                 {{  "PDF_SPAN_COMPLETE_A_B" | translate}}
                </span>
              </span>
              <span class="ml-5">
                {{"PDF_SPAN_APPLY_FOR_JOINT_CREDIT" | translate}}
              </span>
              <div class="signature-space">
                <div class="signature-box s-box-1 d-inline"></div>
                <div class="signature-box s-box-2 d-inline"></div>
              </div>

              <div class="signature-name">
                <div class="d-inline">{{"PDF_DIV_APPLICANT" | translate}}</div>
                <div class="d-inline">{{  "PDF_DIV_CO_APPLICANT" | translate}}</div>
              </div>
            </div>

            <span>
             {{ "PDF_SPAN_MARITAL_STATUS" | translate}}
            </span>
          </div>

        </div>

        <!-- A.Application Information -->
        <h5 class="a-application-form mb-0">{{  "PDF_H5_A_APPLICANT_INFORMATION" | translate}}</h5>
        <div class="arrangement-application">

          <!-- last name row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-8 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-4">
                  <span>
                    {{"PDF_SPAN_LAST_NAME" | translate}}
                  </span>
                  <input type="text" [(ngModel)]="user.familyName">
                </div>
                <div class="col-md-4">
                  <span>
                    {{"PDF_SPAN_FIRST_NAME" | translate}}
                  </span>
                  <input type="text" [(ngModel)]="user.name">
                </div>
                <div class="col-md-4">
                  <span>
                    {{"PDF_SPAN_MIDDLE_INITIAL" | translate}}
                  </span>
                  <input type="text">
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
              <span>{{"PDF_SPAN_SOCIAL_SECURITY_NUMBER" | translate}}</span>
              <input type="text">
            </div>
            <div class="col-md-2 overflow-hidden">
              <span>{{"PDF_SPAN_BIRTH_DATE" | translate}}</span>
              <input type="text" [(ngModel)]="user.birthDate">
            </div>
          </div>

          <!-- Address row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-8 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-6 border-right border-dark border-width-2px">
                  <span class="d-block">
                    {{"PDF_SPAN_ADDRESS" | translate}}
                  </span>
                  <input type="text" [(ngModel)]="user.address.streetAddress">
                </div>
                <div class="col-md-2 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_APT_SUITE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-2 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_PO_BOX" | translate}} 
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-2">
                  <span>
                    {{"PDF_SPAN_RURAL_ROUTE" | translate}}
                  </span>
                  <input type="text">
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
              <span>{{"PDF_SPAN_CITY" | translate}}</span>
              <input type="text" [(ngModel)]="user.address.addressLocality">
            </div>
            <div class="col-md-1 p-1 border-right border-dark border-width-2px overflow-hidden">
              <span>
                {{"PDF_SPAN_STATE" | translate}}
              </span>
              <input type="text" [(ngModel)]="user.address.addressRegion" style="font-size:12px">
            </div>

            <div class="col-md-1 pl-1">
              <span>
                {{"PDF_SPAN_ZIP" | translate}}
              </span>
              <input type="text" [(ngModel)]="user.address.postalCode" style="font-size:12px">
            </div>
          </div>

          <!-- Home Phone row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-8 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_HOME_PHONE" | translate}}
                  </span>
                  <input type="text" [ngModel]="user.telephone | phoneNumber">
                </div>
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_CELL_PHONE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-6">
                  <span>
                    {{"PDF_SPAN_RESEDENTIAL_STATUS" | translate}}
                  </span>
                  <div class="">
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_HOMEOWNER" | translate}}</span>
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_RENT" | translate}}</span>
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_FAMILY" | translate}}</span>
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_OTHER" | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
              <span>{{"PDF_SPAN_TIME_AT_ADDRESS" | translate}}</span>
              <input class="time-at-address" type="text"> YR <input class="time-at-address" type="text"> Mos.
            </div>
            <div class="col-md-2 overflow-hidden">
              <input class="d-block" type="text">
              <span>{{"PDF_SPAN_RENTIMTG_PMT" | translate}}</span>
            </div>
          </div>

          <!-- Email Address row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-5 border-right border-dark border-width-2px">
              <span class="d-block">
                {{  "PDF_SPAN_EMAIL_ADDRESS" | translate}}
              </span>
              <input type="text"[(ngModel)]="user.userEmail">
            </div>
            <div class="col-md-7 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-4 border-right border-dark border-width-2px">
                  <span class="d-block">
                    {{ "PDF_SPAN_DRIVERS_LICENCE_NUMBER" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-4 border-right border-dark border-width-2px">
                  <span>
                    {{  "PDF_SPAN_DRIVERS_LICENCE_STATE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-4">
                  <span>
                    {{  "PDF_SPAN_TIME_AT_PREVIOUS_ADDRESS" | translate}}
                  </span>
                  <input type="text">
                </div>
              </div>
            </div>
          </div>

          <!-- Previous Full Address row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-8 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-6 border-right border-dark border-width-2px">
                  <span class="d-block">
                  {{"PDF_SPAN_PREVIOUS_FULL_ADDRESS" | translate}}
                  </span>
                  <input type="text" [(ngModel)]="user['previous addresses'][0].fullAddress">
                </div>
                <div class="col-md-2 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_APT_SUITE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-2 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_PO_BOX" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-2">
                  <span>
                    {{"PDF_SPAN_RURAL_ROUTE" | translate}}
                  </span>
                  <input type="text">
                </div>
              </div>
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
              <span> {{"PDF_SPAN_CITY" | translate}}</span>
              <input type="text" [(ngModel)]="user['previous addresses'][0].addressLocality">
            </div>
            <div class="col-md-1  border-right border-dark border-width-2px overflow-hidden">
              <span>
                {{"PDF_SPAN_STATE" | translate}}
              </span>
              <input type="text" [(ngModel)]="user['previous addresses'][0].addressRegion">
            </div>

            <div class="col-md-1">
              <span>
                {{"PDF_SPAN_ZIP" | translate}}
              </span>
              <input type="text" [(ngModel)]="user['previous addresses'][0].postalCode">
            </div>
          </div>

          <!-- Employer Name row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-4 border-right border-dark border-width-2px">
              <span class="d-block">
                {{"PDF_SPAN_EMPLOYER_NAME" | translate}}
              </span>
              <input type="text" [(ngModel)]="user.worksFor.name">
            </div>
            <div class="col-md-8 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_EMPLOYER_TYPE" | translate}}
              </span>
              <div class="">
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1"> {{"PDF_SPAN_EMPLOYED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1"> {{"PDF_SPAN_UNEMPLOYED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_SELF_EMPLOYED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_MILITARY" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_RETORED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_STUDENT" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_OTHER" | translate}}</span>
              </div>
            </div>
          </div>

          <!-- Salary row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-6 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_SALARY_TYPE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-9">
                  <span>
                    {{"PDF_SPAN_SALARY_TYPE" | translate}}
                  </span>
                  <div class="">
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_WEEKLY" | translate}}</span>
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_BI_WEEKLY" | translate}}</span>
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_MONTHLY" | translate}}</span>
                    <input class="ml-1" type="checkbox">
                    <span class="ml-1 mr-1">{{"PDF_SPAN_ANNUALLY" | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-4 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_SALARY_TYPE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-4 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_SALARY_TYPE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-4">
                  <span>
                    {{"PDF_SPAN_SALARY_TYPE" | translate}}
                  </span>
                  <input type="text">
                </div>
              </div>
            </div>
          </div>

          <!--Previous Employer Name row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-4 border-right border-dark border-width-2px">
              <span class="d-block">
                {{"PDF_SPAN_PREVIOUS_EMPLOYER_NAME" | translate}}
              </span>
              <input type="text" [(ngModel)]="user.preEmployer.name">
            </div>
            <div class="col-md-8 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_PREVIOUS_EMPLOYEE_TYPE" | translate}}
              </span>
              <div class="">
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_EMPLOYED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_UNEMPLOYED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_SELF_EMPLOYED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_MILITARY" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_RETORED" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_STUDENT" | translate}}</span>
                <input class="ml-1" type="checkbox">
                <span class="ml-1 mr-1">{{"PDF_SPAN_OTHER" | translate}}</span>
              </div>
            </div>
          </div>

          <!--Previous Occupation row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-4 border-right border-dark border-width-2px">
              <span class="d-block">
                {{"PDF_SPAN_PREVIOUS_OCCUPATION" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-3 border-right border-dark border-width-2px">
              <span class="d-block">
                {{"PDF_SPAN_LENGTH_OF_EMPLOYMENT" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-5 border-right border-dark border-width-2px">
              <span class="d-block">
                {{"PDF_SPAN_PREVIOUS_WORK_PHONE_NUMBER" | translate}}
              </span>
              <input type="text">
            </div>
          </div>

          <!-- Alimony Child support -->
          <div class="row border-bottom border-dark border-width-2px">
            <span class="pl-4">
              <small class="font-weight-bold">
               {{  "PDF_SMALL_ALIMONY" | translate}}
              </small>
            </span>
          </div>

          <!-- Alimony Child support -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-3 border-right border-dark border-width-2px">
              <span class="d-block">
              {{"PDF_SPAN_OTHER_INCOME" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-9 border-right border-dark border-width-2px">
              <span class="d-block">
              {{"PDF_SPAN_SOURCE_OF_OTHER_INCOME" | translate}}
              </span>
              <input type="text">
            </div>
          </div>


        </div>

          <!-- B.Application Information -->
          <h5 class="a-application-form mb-0">{{  "PDF_H5_B_APPLICANT_INFORMATION" | translate}}</h5>
          <div class="arrangement-application">
  
            <!-- last name row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-8 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-4">
                    <span>
                      {{"PDF_SPAN_LAST_NAME" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-4">
                    <span>
                      {{"PDF_SPAN_FIRST_NAME" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-4">
                    <span>
                      {{"PDF_SPAN_MIDDLE_INITIAL" | translate}}
                    </span>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
                <span>{{"PDF_SPAN_SOCIAL_SECURITY_NUMBER" | translate}}</span>
                <input type="text">
              </div>
              <div class="col-md-2 overflow-hidden">
                <span>{{"PDF_SPAN_BIRTH_DATE" | translate}}</span>
                <input type="text">
              </div>
            </div>
  
            <!-- Address row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-8 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-6 border-right border-dark border-width-2px">
                    <span class="d-block">
                      {{"PDF_SPAN_ADDRESS" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-2 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_APT_SUITE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-2 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_PO_BOX" | translate}} 
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-2">
                    <span>
                      {{"PDF_SPAN_RURAL_ROUTE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
                <span>{{"PDF_SPAN_CITY" | translate}}</span>
                <input type="text">
              </div>
              <div class="col-md-1  border-right border-dark border-width-2px overflow-hidden">
                <span>
                  {{"PDF_SPAN_STATE" | translate}}
                </span>
                <input type="text">
              </div>
  
              <div class="col-md-1">
                <span>
                  {{"PDF_SPAN_ZIP" | translate}}
                </span>
                <input type="text">
              </div>
            </div>
  
            <!-- Home Phone row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-8 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-3 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_HOME_PHONE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-3 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_CELL_PHONE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-6">
                    <span>
                      {{"PDF_SPAN_RESEDENTIAL_STATUS" | translate}}
                    </span>
                    <div class="">
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_HOMEOWNER" | translate}}</span>
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_RENT" | translate}}</span>
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_FAMILY" | translate}}</span>
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_OTHER" | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
                <span>{{"PDF_SPAN_TIME_AT_ADDRESS" | translate}}</span>
                <input type="text">
              </div>
              <div class="col-md-2 overflow-hidden">
                <input class="d-block" type="text">
                <span>{{"PDF_SPAN_RENTIMTG_PMT" | translate}}</span>
              </div>
            </div>
  
            <!-- Email Address row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-5 border-right border-dark border-width-2px">
                <span class="d-block">
                  {{  "PDF_SPAN_EMAIL_ADDRESS" | translate}}
                </span>
                <input type="text">
              </div>
              <div class="col-md-7 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-4 border-right border-dark border-width-2px">
                    <span class="d-block">
                      {{ "PDF_SPAN_DRIVERS_LICENCE_NUMBER" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-4 border-right border-dark border-width-2px">
                    <span>
                      {{  "PDF_SPAN_DRIVERS_LICENCE_STATE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-4">
                    <span>
                      {{  "PDF_SPAN_TIME_AT_PREVIOUS_ADDRESS" | translate}}
                    </span>
                    <input type="text">
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Previous Full Address row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-8 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-6 border-right border-dark border-width-2px">
                    <span class="d-block">
                    {{"PDF_SPAN_PREVIOUS_FULL_ADDRESS" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-2 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_APT_SUITE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-2 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_PO_BOX" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-2">
                    <span>
                      {{"PDF_SPAN_RURAL_ROUTE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="col-md-2 border-right border-dark border-width-2px overflow-hidden">
                <span> {{"PDF_SPAN_CITY" | translate}}</span>
                <input type="text">
              </div>
              <div class="col-md-1  border-right border-dark border-width-2px overflow-hidden">
                <span>
                  {{"PDF_SPAN_STATE" | translate}}
                </span>
                <input type="text">
              </div>
  
              <div class="col-md-1">
                <span>
                  {{"PDF_SPAN_ZIP" | translate}}
                </span>
                <input type="text">
              </div>
            </div>
  
            <!-- Employer Name row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-4 border-right border-dark border-width-2px">
                <span class="d-block">
                  {{"PDF_SPAN_EMPLOYER_NAME" | translate}}
                </span>
                <input type="text">
              </div>
              <div class="col-md-8 border-right border-dark border-width-2px">
                <span>
                  {{"PDF_SPAN_EMPLOYER_TYPE" | translate}}
                </span>
                <div class="">
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1"> {{"PDF_SPAN_EMPLOYED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1"> {{"PDF_SPAN_UNEMPLOYED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_SELF_EMPLOYED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_MILITARY" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_RETORED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_STUDENT" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_OTHER" | translate}}</span>
                </div>
              </div>
            </div>
  
            <!-- Salary row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-6 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-3 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_SALARY_TYPE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-9">
                    <span>
                      {{"PDF_SPAN_SALARY_TYPE" | translate}}
                    </span>
                    <div class="">
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_WEEKLY" | translate}}</span>
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_BI_WEEKLY" | translate}}</span>
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_MONTHLY" | translate}}</span>
                      <input class="ml-1" type="checkbox">
                      <span class="ml-1 mr-1">{{"PDF_SPAN_ANNUALLY" | translate}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 border-right border-dark border-width-2px">
                <div class="row">
                  <div class="col-md-4 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_SALARY_TYPE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-4 border-right border-dark border-width-2px">
                    <span>
                      {{"PDF_SPAN_SALARY_TYPE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                  <div class="col-md-4">
                    <span>
                      {{"PDF_SPAN_SALARY_TYPE" | translate}}
                    </span>
                    <input type="text">
                  </div>
                </div>
              </div>
            </div>
  
            <!--Previous Employer Name row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-4 border-right border-dark border-width-2px">
                <span class="d-block">
                  {{"PDF_SPAN_PREVIOUS_EMPLOYER_NAME" | translate}}
                </span>
                <input type="text">
              </div>
              <div class="col-md-8 border-right border-dark border-width-2px">
                <span>
                  {{"PDF_SPAN_PREVIOUS_EMPLOYEE_TYPE" | translate}}
                </span>
                <div class="">
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_EMPLOYED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_UNEMPLOYED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_SELF_EMPLOYED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_MILITARY" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_RETORED" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_STUDENT" | translate}}</span>
                  <input class="ml-1" type="checkbox">
                  <span class="ml-1 mr-1">{{"PDF_SPAN_OTHER" | translate}}</span>
                </div>
              </div>
            </div>
  
            <!--Previous Occupation row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-4 border-right border-dark border-width-2px">
                <span class="d-block">
                  {{"PDF_SPAN_PREVIOUS_OCCUPATION" | translate}}
                </span>
                <input type="text">
              </div>
              <div class="col-md-3 border-right border-dark border-width-2px">
                <span class="d-block">
                  {{"PDF_SPAN_LENGTH_OF_EMPLOYMENT" | translate}}
                </span>
                <input type="text">
              </div>
              <div class="col-md-5 border-right border-dark border-width-2px">
                <span class="d-block">
                  {{"PDF_SPAN_PREVIOUS_WORK_PHONE_NUMBER" | translate}}
                </span>
                <input type="text">
              </div>
            </div>
  
            <!-- Alimony Child support -->
            <div class="row border-bottom border-dark border-width-2px">
              <span class="pl-4">
                <small class="font-weight-bold">
                 {{  "PDF_SMALL_ALIMONY" | translate}}
                </small>
              </span>
            </div>
  
            <!-- Other Income row -->
            <div class="row border-bottom border-dark border-width-2px">
              <div class="col-md-3 border-right border-dark border-width-2px">
                <span class="d-block">
                {{"PDF_SPAN_OTHER_INCOME" | translate}}
                </span>
                <input type="text">
              </div>
              <div class="col-md-9 border-right border-dark border-width-2px">
                <span class="d-block">
                {{"PDF_SPAN_SOURCE_OF_OTHER_INCOME" | translate}}
                </span>
                <input type="text">
              </div>
            </div>
  
  
          </div>
          
          
          
          <!-- Comments row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-12">
              <span class="d-block">
                {{  "PDF_SPAN_COMMENTS" | translate}}
              </span>
              <textarea class="border-0" name="" id="" cols="30" rows="2"></textarea>
            </div>
          </div>


        </div>

      <!-- </div> -->
      <!--end of closing -->

      <!-- declearation section -->
      <div class="declearation">
       {{  "PDF_DIV_USER_CONCENT" | translate}}
      </div>
    </div>

    <!-- DEALER SECTION -------------------------------------------------------------------------------->
    <div class="section-2">
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="col-md-8">
            <h1 class="dealer-section">{{"PDF_H1_DEALER_SECTION" | translate}}</h1>
          </div>
          <div class="col-md-4 text-right">
              <img class="nexus-log" src="../../assets/nexus-log.png" alt="...">
          </div>
        </div>
      </div>

      <div class="container-fluid ml-2 mr-2 custom-border p-0 pb-3 overflow-hidden w-99">

        <h5 class="a-application-form mb-0">{{"PDF_H1_DEALER_SECTION" | translate}}</h5>

        <!-- Dealer Information -->
        <div class="arrangement-application">

          <!-- Dealer row -->
          <div class="row border-bottom border-dark border-width-2px">
            <div class="col-md-6 border-right border-dark border-width-2px">
              <div class="row">

                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_DEALER" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_MILEAGE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_VEHICLE_TYPE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-3">
                  <span>
                    {{"PDF_SPAN_STOCK_NUMBER" | translate}}
                  </span>
                  <input type="text">
                </div>

              </div>
            </div>
            <div class="col-md-6 border-right border-dark border-width-2px">
              <div class="row">
                <div class="col-md-4 border-right border-dark border-width-2px">
                  <span>
                    {{  "PDF_SPAN_NUMBER" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-4 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_SOURCE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-4">
                  <span>
                    {{"PDF_SPAN_CERTIFIED_PRE_OWNED" | translate}}
                  </span>
                  <input type="checkbox">
                </div>
              </div>
            </div>
          </div>

          <!-- year row -->
          <div class="row border-bottom border-dark border-width-2px year-row">
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"APM_OPTION_YEAR" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-11 border-right border-dark border-width-2px">
              <div class="row year-row">
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{ "APM_OPTION_TRIM" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{ "PDF_SPAN_MAKE" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_MODEL" | translate}}
                  </span>
                  <input type="text">
                </div>
                <div class="col-md-3 border-right border-dark border-width-2px">
                  <span>
                    {{"PDF_SPAN_VIN" | translate}}
                  </span>
                  <input type="text">
                </div>
              </div>
            </div>
          </div>
          
          <!-- Term row -->
          <div class="row border-bottom border-dark border-width-2px year-row">
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_TERM" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{ "PDF_SPAN_ CASH_SELLING_PRICE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{ "PDF_SPAN_SALES_TAX" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_T_L" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{ "PDF_SPAN_CASH_DOWN" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_FRONTEND_FEES" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_REBATE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{ "PDF_SPAN_NET_TRADE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_ACQ_FEE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
              {{ "PDF_SPAN_UNPAID_BALANCE" | translate}}
              </span>
              <input type="text">
            </div>
          </div>

          <!-- Accident row -->
          <div class="row border-bottom border-dark border-width-2px year-row">
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
               {{"PDF_SPAN_ACCIDENT_HEALTH_INS" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{ "PDF_SPAN_CREDIT_LIFE_INSURANCE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_GAP" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{ "PDF_SPAN_SERVICE_PLAN" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
            {{"PDF_SPAN_BACK_END_FEES" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
               {{"PDF_SPAN_EST_AMT_FINANCED" | translate}}
              </span>
              <input type="text">
            </div>
          </div>
          
           <!-- MSRP row -->
          <div class="row border-bottom border-dark border-width-2px year-row">
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_MSRP" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_INVOICE_WHOLESALE_VALUE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
              {{"PDF_SPAN_WHOLESALE_SOURCE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-1 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_RETAIL_VALUE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_RETAIL_SOURCE" |translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
               {{"PDF_SPAN_ESTIMATED_PAYMENT" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
            {{"PDF_SPAN_REQUESTED_APR" | translate}}
              </span>
              <input type="text">
            </div>
          </div>

          <!-- Vehicle row -->
          <div class="row border-bottom border-dark border-width-2px year-row">
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span class="d-inline">
                {{"PDF_SPAN_VEHICLE_BOOKOUT" | translate}}
              </span>
              <input type="checkbox" class="pl-2">
            </div>
            <div class="col-md-2 border-right border-dark border-width-2px">
              <span>
                {{  "PDF_SPAN_BOOKOUT_DATE" | translate}}
              </span>
              <input type="text">
            </div>
            <div class="col-md-8 border-right border-dark border-width-2px">
              <span>
                {{"PDF_SPAN_LENDER_PROGRAM" | translate}}
              </span>
              <input type="text">
            </div>          
          </div>

          <!-- Comments row -->
          <div class="row">
            <div class="col-md-12">
              <span class="d-block">
                {{"PDF_SPAN_VEHICLE_OPTIONS" | translate}}
              </span>
              <textarea class="border-0" name="" id="" cols="30" rows="4"></textarea>
            </div>
          </div>


        </div>
        <!--Dealer of closing -->

      </div>

      <h5 class="a-application-form mb-0 border-0 text-center bg-white agreement">{{"PDF_H5_AGRRE" | translate}}</h5>
      <div class="ml-4 mr-4">
        <span>
          
         {{"PDF_SPAN_AGREEMENT" | translate}}
        </span>
      </div>
      
    </div>
    <!--section-2closing -->

    <div class="section-3">
      
        <div class="container-fluid mt-4">
            <div class="row">
              <div class="col-md-12 text-right">
                <img class="nexus-log" src="../../assets/nexus-log.png" alt="...">
              </div>
            </div>
          </div>

      <span class="d-block notices">
        <h5>{{"PDF_H5_FEDERAL_NOTICES" | translate}}</h5>
      </span>
      <div class="ml-4 mr-4">
        <span>{{"PDF_SPAN_IMPORTANT_INFORMATION" | translate}} </span>{{  "PDF_DIV_IDENTIFYING_DOCUMENTS" | translate}}
      </div>

      <span class="d-block notices">
        <h5>{{ "PDF_H5_STATE_NOTICES" | translate}}</h5>
      </span>
      <div class="ml-4 mr-4">
       
        <div class="mt-4">
             <span class="font-22">{{"PDF_SPAN_CALIFORNIA_RESIDENTS" | translate}}</span>  {{"PDF_DIV_MARRIED_APPLICANT" | translate}}
        </div>
        <div class="mt-4">
             <span class="font-22">{{ "PDF_SPAN_MAINE_AND_TENNESSEE RESIDENTS" | translate}}</span>  {{"PDF_DIV_FOR_ALEASE" | translate}}
        </div>

        <div class="mt-4">
            <span class="font-22">{{ "PDF_SPAN_NEW_HAMPSHIRE_RESIDENTS" | translate}}</span>  {{ "PDF_DIV_BALLOON_PAYMENT_CONTRACT" | translate}}
        </div>

        <div class="mt-4">
            <span class="font-22">{{ "PDF_SPAN_NEW_YORK_RESIDENTS" | translate}}</span>  {{ "PDF_DIV_APPLICATION_FOR_CREDIT" | translate}}.
        </div>

        <div class="mt-4">
            <span class="font-22">{{  "PDF_SPAN_OHIO_RESIDENTS" | translate}}</span>  {{"PDF_DIV_LAWS_AGAINST_DISCRIMINATION" | translate}}
        </div>

        <div class="mt-4">
            <span class="font-22">{{"PDF_SPAN_RHODE_ISLAND_RESIDENTS" | translate}}</span>  {{"PDF_DIV_CONSUMER_REPORTS"| translate }} 
        </div>

        <div class="mt-4">
            <span class="font-22">{{"PDF_SPAN_VERMONT_RESIDENTS" | translate}}</span>  {{"PDF_DIV_AUTHORIZE" | translate}}
        </div>

        <div class="mt-4">
            <span class="font-22">{{"PDF_SPAN_MARRIED_WISCONSIN_RESIDENTS" | translate}}</span>  {{"PDF_DIV_PROVISION_OF_MARITAL_PROPERTY" | translate}}
        </div>

        <div>
          <small>
              {{"PDF_SMALL_APPLICATION_SUBMITTED" | translate}}
          </small>
          <span class="d-inline-block names-and-address">
             <input type="text">
          </span>
        </div>

        <div class="mt-4 final-certify">
            <h5 class="a-application-form m-0">{{"PDF_H5_SIGNING" | translate}}</h5>
        
        <div class="row text-center">
          <div class="col-md-4">
           <input type="text" class="d-block w-100 border-bottom-2px">
           <span>{{"PDF_SPAN_APPLICANTS_SIGNATURE" | translate}}</span>
          </div>
          <div class="col-md-2">
              <input type="text" class="d-block w-100 border-bottom-2px">
              <span>{{"PDF_SPAN_DATE" | translate}}</span>
          </div>
          <div class="col-md-4">
              <input type="text" class="d-block w-100 border-bottom-2px">
              <span>{{"PDF_SPAN_CO_APPLICANTS_SIGNATURE" | translate}}</span>
          </div>
          <div class="col-md-2">
              <input type="text" class="d-block w-100 border-bottom-2px">
              <span>{{"PDF_SPAN_DATE" | translate}}</span>
          </div>
        </div>
        
        </div>

      </div>

    </div>
    <!--section-3 closing -->

  </div>
</div>
