li[aria-expanded=true] .fa.fa-caret-right{
	display:none;
}
.collapsed .fa.fa-caret-down{
	display:none;
}
.green{
 color: #46a81b !important;
}
.black{
  color:black;
}
.div-flex{
  display:flex;
}
.property-flex{
  flex:1;
}
.text-right{
  text-align:right;
}
.ml-10{
  margin-left: 5%;
}
.main-menu-style{
  font-size: 16px !important;
}
.menu-style{
  font-size: 14px !important;
}
.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 400;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  /* height: 100%; */
  color: #e1ffff;
}
.nav-side-menu .brand {
  display: block;
  font-size: 14px;
  color: #333333;
}
.brand.sidebar-bg{
  visibility: hidden;
  line-height: 0px;
}
.add-account{
  display: block;
  font-size: 14px;
  color: #333333;
  padding: 12px 15px 5px 10px;
  background-color:#DCDCDC;
  height:43px;
  width:25%;
  z-index:99;
  position: fixed;
}
.menu-list{
  margin-top:46px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.nav-side-menu ul.menu-content > li {
  background-color: #cccdcf;
  padding: 7px 0px 7px 0px;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #dcdcdc;
  border: none;
  margin-left: 0px;
}
.nav-side-menu li {
  padding-left: 0px;
  border-top: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #333333;
}
.nav-side-menu li a i.fa {
  padding-left: 10px;
}
.nav-side-menu li:hover {
  transition: all 1s ease;
}

body {
  margin: 0px;
  padding: 0px;
}

.nav-side-menu .sub-menu li {
  padding: 2px 0px 0px 18px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.left-margin{
  margin-left:-6px;
}
.nav-side-menu .sub-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.sub-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li .sub-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
 .nav-side-menu .sub-menu {
    position: relative;
    width: 100%;
  }
  .nav-side-menu  .sub-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  .nav-side-menu  .toggle-btn{
    right: 0px;
    top: 61px;
    height: 45px;
   }
  .sub-line ul .sub-press li,
  .sub-line li .sub-press li {
    background-color: #181c20;
    border: none;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .sub-line ul .sub-press li:hover,
  .sub-line li .sub-press li:hover {
    background-color: #020203;
  }
  .sub-line ul .sub-press li:before,
  .sub-line li .sub-press li:before {
    content: "\f105";
    display: inline-block;
    padding-left: 50px;
    padding-right: 10px;
    vertical-align: middle;
  }

  .sub-line li {
    padding-left: 20px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .sub-line li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .sub-line li a i {
    padding-left: 50px;
    width: 20px;
    padding-right: 20px;
  }
  .sub-line li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .sub-line {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sub-line .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .ml-10{
    margin-left: 2%;
  }
}

/*custom css*/
.custom-nav-side{
  top: auto !important;
  position: unset !important;
}
.sidebar-bg{
  background: #dcdcdc;
  margin-top:31px;
}
.right-align{
  float:right;
  margin-right:6px;
}
.accounts-details{
  margin-bottom: 0.5rem;
}
.accounts-details td{
  padding-top: 5px;
  padding-bottom: 5px;
}
.accounts-details tr td:first-child {
  padding-left:22px;
  white-space: nowrap;
}
.accounts-details tr td:last-child {
  float: right;
  padding-right: 9px;
}
.accounts-details tr:hover{
  background: #cccdcf;
}
.sub-menu{
  color:#333333;
}
.right-amount{
  text-align: right;
  padding-left: 9px;
}
div.overflow{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow:ellipsis;
}
.dropdown-menu.dropdown-position {
  /* position: relative !important; */
  will-change: unset !important;
  transform: unset !important;
}
@media only screen and (max-width: 767px) {
  .sidebar-bg{
    background: unset;
    margin-top:0px;
  }
  .add-account{
    width:100%;
    top:106px;
  }
  .margin-sidebar{
    margin-top:53px !important;
  }
  .text-wrap{
    overflow: auto !important;
    white-space: nowrap !important;
  }
  .fixed-sidebar{
    position:fixed;
    width:100%; 
    z-index:1;
  }
}
.top-0{
  top: unset!important;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: fixed;
    right: 0px;
    top: 61px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .media-left{
    left: -150px !important;
  }
}

@media (min-width: 768px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  div.overflow{
    width: 70px;
  }
}

@media (min-width: 955px) {
  div.overflow{
    width: 94px;
  }
}
@media (min-width: 1090px) {
  div.overflow{
    width: 120px;
  }
}
@media (min-width: 1216px) {
  div.overflow{
    width: 160px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 998px){
 .font-sidebr {
      font-size:13px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 767px){
  .toggle-top{
    top:63px;
    position: fixed;
    right: 0px;
  }
}
@media only screen and (max-width: 700px){
  .toggle-top{
    top:61px;
    right:-3px;
  }
}
.hide-scroll{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 575px) and (min-width: 320px){
    .add-account{
      top:161px;
    }
    .menu-list{
      margin-top:101px;
    }

  }

