<div class="nav-side-menu custom-nav-side sidebar-bg">
  <div class="brand sidebar-bg">{{ "SB_DIV_PRESS_CURING_CONTROL" | translate}}</div>
  <i class="fa fa-bars fa-2x  toggle-btn toggle-top" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="add-account">{{"SB_DIV_ACCOUNT" | translate}} 
    <span class="custom-float-right cursor-pointer font-weight-bold dropdown">        
      <i class="fa fa-cog" id="dropdownMenuButton" data-target="dropdownnotifyButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div id="dropdownnotifyButton" class="dropdown-menu top-0 dropdown-position ml-2 media-left" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item cursor-pointer pl-1 pr-1" (click)="multipleHandler('callingAddAccountBtn')">{{"SB_A_ADD_ACCOUNTS" | translate}}</a>
        <a class="dropdown-item cursor-pointer pl-1 pr-1" (click)="multipleHandler('manageAccountSection')">{{"SB_A_MANAGE_ACCOUNTS"| translate}}</a>
      </div>
    </span>  
  </div>

  <div class="menu-list hide-scroll">
    <ul id="menu-content" class="menu-content collapse out margin-sidebar fixed-sidebar">
      <!--Bank Accounts -->
      <li data-toggle="collapse" data-target="#products" class="collapsed cursor-pointer col-md-12 div-flex text-wrap">
        <a class="main-menu-style col-sm-7 col-md-5 col-lg-7 col-xl-8 property-flex font-sidebr">
          <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>
          <i class="fa fa-money fa-lg mr-2 pl-2 font-icon" aria-hidden="true"></i>{{"SB_A_CASH" | translate}}
        </a>
        <span class="custom-float-right green pr-2 col-sm-5 col-md-7 col-lg-5 col-xl-4 text-right font-icon">
          {{totalBal.cash | currency}}
        </span>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li *ngFor="let accountsByInst of allAccounts; let parentIndex = index">
          <span *ngIf="accountsByInst.testDepos">
            <span class="left-margin">
              <img *ngIf="(accountsByInst.sync_status)" src="{{statusToIconMapping[accountsByInst.sync_status]}}" alt="" width="22" height="22" />
              <img *ngIf="!(accountsByInst.sync_status)" src="{{statusToIconMapping['inprogress']}}" alt="" width="22" height="22" />
            </span>
            <span class="menu-collapsed ml-1 menu-style">
              <u>{{accountsByInst.inst_name}}</u>
            </span>
          </span>
          <div class="table-responsive">
            <table class="table table-borderless accounts-details">
              <tbody>
                <tr class="cursor-pointer" *ngFor="let depository of accountsByInst.accounts; let childIndex = index">
                  <span *ngIf="depository.type == 'depository'">
                    <span (click)="emitAccount(depository.account_id)" *ngIf="depository.status == 'ACTIVE'">
                      <td *ngIf="!depository.matchOfficialName">
                        <div class="overflow" *ngIf="depository.official_name" placement="right" popover="{{depository.official_name}}" triggers="mouseenter:mouseleave">
                          {{depository.official_name}}
                        </div>
                      </td>
                      <td *ngIf="depository.matchOfficialName">
                        <div class="overflow" *ngIf="depository.name" placement="right" popover="{{depository.name}}" triggers="mouseenter:mouseleave">
                          {{depository.name}}
                        </div>
                      </td>
                      <td class="green d-inline-block">{{depository.balances.current | currency}}</td>
                    </span>
                  </span>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    
      <!-- Credit Cards -->
      <li data-toggle="collapse" data-target="#service" class="collapsed cursor-pointer col-md-12 div-flex text-wrap">
        <a class="main-menu-style col-sm-7 col-md-5 col-lg-7 col-xl-8 property-flex font-sidebr">
          <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>
          <i class="fa fa-credit-card fa-lg mr-2 pl-2 font-icon" aria-hidden="true"></i>{{"SB_A_CREDIT_CARDS" | translate}}
        </a>
        <span class="custom-float-right pr-2 col-sm-5 col-md-7 col-lg-5 col-xl-4 black text-right font-icon">{{totalBal.credit | currency}}</span>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li *ngFor="let accountsByInst of allAccounts; let parentIndex = index">
          <span *ngIf="accountsByInst.testCredit">
            <span class="left-margin">
              <img *ngIf="(accountsByInst.sync_status)" src="{{statusToIconMapping[accountsByInst.sync_status]}}" alt="" width="22" height="22" />
              <img *ngIf="!(accountsByInst.sync_status)" src="{{statusToIconMapping['inprogress']}}" alt="" width="22" height="22" />
            </span>
            <span class="menu-collapsed menu-style ml-1">
              <u>{{accountsByInst.inst_name}}</u>
            </span>
         </span>
          <div class="table-responsive">
            <table class="table table-borderless accounts-details">
              <tbody>
                <tr class="cursor-pointer" *ngFor="let credit of accountsByInst.accounts; let childIndex = index">
                  <span *ngIf="credit.type == 'credit'">
                    <span (click)="emitAccount(credit.account_id)" *ngIf="credit.status == 'ACTIVE'">
                      <td>
                        <div class="overflow" *ngIf="credit.official_name" placement="right" popover="{{credit.official_name}}" triggers="mouseenter:mouseleave">
                          {{credit.official_name}}
                        </div>
                      </td>
                      <td class="d-inline-block">
                        {{credit.balances.current | currency}}
                      </td>
                    </span>
                  </span>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>

      <!-- Investments -->
      <li data-toggle="collapse" data-target="#investments" class="collapsed cursor-pointer col-md-12 div-flex text-wrap">
        <a class="main-menu-style col-sm-5 col-md-5 col-lg-7 col-xl-8 property-flex font-sidebr">
          <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>
          <i class="fas fa-hand-holding-usd fa-lg mr-2 pl-2" aria-hidden="true"></i>{{"SB_A_INVESTMENTS" | translate}}
        </a>
        <span class="custom-float-right pr-2 col-sm-7 col-md-7 col-lg-5 col-xl-4 black text-right font-icon">
          {{totalBal.investments | currency}}
        </span>
      </li>
      <ul class="sub-menu collapse" id="investments">
        <li class="mb-2 d-none" (click)="openAddPropertyModal(AddPropertyTemplate, 'INV_MODAL')">
          <span class="menu-collapsed menu-style ml-3 cursor-pointer">+{{"SB_SPAN_ADD_INVESTMENT" | translate}}</span>
        </li>
        <li *ngFor="let accountsByInst of allAccounts; let parentIndex = index">
          <span *ngIf="accountsByInst.testInvestments">
            <span class="left-margin">
              <img *ngIf="(accountsByInst.sync_status)" src="{{statusToIconMapping[accountsByInst.sync_status]}}" alt="" width="22" height="22" />
              <img *ngIf="!(accountsByInst.sync_status)" src="{{statusToIconMapping['inprogress']}}" alt="" width="22" height="22" />
            </span>
            <span class="menu-collapsed menu-style ml-1">
              <u>{{accountsByInst.inst_name}}</u>
            </span>
          </span>
          <div class="table-responsive">
            <table class="table table-borderless accounts-details">
              <tbody>
                <tr class="cursor-pointer" *ngFor="let invest of accountsByInst.accounts; let childIndex = index">
                  <span *ngIf="invest.type == 'brokerage'">
                    <span (click)="emitAccount(invest.account_id)" *ngIf="invest.status == 'ACTIVE'">
                      <td>
                        <div class="overflow" *ngIf="invest.official_name" placement="right" popover="{{invest.official_name}}" triggers="mouseenter:mouseleave">
                          {{invest.official_name}}
                        </div>
                      </td>
                      <td class="d-inline-block">
                        {{invest.balances.current | currency}}
                      </td>
                    </span>
                  </span>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>

      <!-- Loans -->
      <li data-toggle="collapse" data-target="#loans" class="collapsed cursor-pointer col-md-12 div-flex text-wrap">
        <a class="main-menu-style col-sm-7 col-md-5 col-lg-7 col-xl-8 property-flex font-sidebr">
          <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>
          <i class="fa fa-usd fa-lg mr-2 pl-2" aria-hidden="true"></i>{{"SB_A_LOANS" | translate}}
        </a>
        <span class="custom-float-right pr-2 col-sm-5 col-md-7 col-lg-5 col-xl-4 black text-right font-icon">
          {{totalBal.loan | currency}}
      </span>
      </li>
      <ul class="sub-menu collapse" id="loans">
           <li class="mb-2 d-none" (click)="openAddPropertyModal(AddPropertyTemplate, 'LOAN_MODAL')">
              <span class="menu-collapsed menu-style ml-3 cursor-pointer">+{{"SB_SPAN_ADD_LOAN" | translate}}</span>
            </li> 
        <span *ngIf="loanAccountNotExist">
          <li *ngFor="let accountsByInst of allAccounts; let parentIndex = index">
              <span *ngIf="accountsByInst.testCredit">
                <span class="left-margin">
                  <img *ngIf="(accountsByInst.sync_status)" src="{{statusToIconMapping[accountsByInst.sync_status]}}" alt="" width="22" height="22" />
                  <img *ngIf="!(accountsByInst.sync_status)" src="{{statusToIconMapping['inprogress']}}" alt="" width="22" height="22" />
                </span>
                <span class="menu-collapsed menu-style ml-1">
                  <u>{{accountsByInst.inst_name}}</u>
                </span>
              </span>
              <div class="table-responsive">
                <table class="table table-borderless accounts-details">
                  <tbody>
                    <tr class="cursor-pointer" *ngFor="let loan of accountsByInst.accounts; let childIndex = index">
                       <span *ngIf="loan.type == 'loan'"> 
                        <span (click)="emitAccount(loan.account_id)" *ngIf="loan.status == 'ACTIVE'">
                          <td>
                            <div class="overflow" *ngIf="loan.official_name" placement="right" popover="{{loan.official_name}}" triggers="mouseenter:mouseleave">
                              {{loan.official_name}}
                            </div>
                          </td>
                          <td class="d-inline-block">
                            {{loan.balances.current | currency}}
                          </td>
                        </span>
                       </span>
                      <span *ngIf="!loan.type == 'loan'">

                      </span>
                    </tr>
                  </tbody>
                </table>
              </div>
          </li>
        </span>
        <!-- <span *ngIf="!loanAccountNotExist">
          <div class="text-center">{{"SB_DIV_COMING_SOON" | translate}}</div>
        </span> -->
      </ul>

      <!-- Property -->
      <li data-toggle="collapse" data-target="#property" class="collapsed cursor-pointer col-md-12 div-flex text-wrap">
        <a class="main-menu-style col-sm-7 col-md-5 col-lg-7 col-xl-8 property-flex font-sidebr">
          <i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i>
          <i class="fa fa-building fa-lg mr-2 pl-2" aria-hidden="true"></i>{{"SB_A_PROPERTY" | translate}}
        </a>
        <span class="custom-float-right green pr-2 col-sm-5 col-md-7 col-lg-5 col-xl-4 text-right font-icon">
          {{totalBal.property | currency}}
        </span>
      </li>
      <ul class="sub-menu collapse" id="property">
         <li #invokeProperty (click)="openAddPropertyModal(AddPropertyTemplate, 'PROP_MODAL')">
          <span class="menu-collapsed menu-style ml-3 cursor-pointer"> + {{"SB_SPAN_ADD_A_HOUSE_OR_CAR" | translate}}</span>
        </li>
        <li *ngFor="let property of allProperty">
          <div class="ml-10 menu-style"><u>{{property.name}}</u> 
            <span class="float-right green pr-2">{{property.estimated_value | currency}}</span>
          </div>
          <span class="ml-10">{{property.type}} <div class="ns-text-overflow-ellipsis" *ngIf="property.subtype">({{property.subtype}})</div></span>
        </li>
      </ul>
    </ul>
  </div>
</div>

<!--Add Property modal-->
<ng-template #AddPropertyTemplate>
 <span *ngIf="modalFlag.prop">
    <app-add-property-modal (childEvent)="addPropertyModalClose()" (propertiesChild)="modalCloseAfterGet($event)"></app-add-property-modal>
 </span>
 <span *ngIf="modalFlag.loan">
    <app-add-loan-modal></app-add-loan-modal>
 </span>
 <span *ngIf="modalFlag.investment">
    <app-add-investment-modal></app-add-investment-modal>
 </span>
</ng-template>
<!--End Edit modal-->
