.gen-report{
  height:125px;
}
.profile-pic{
  height:90px;
  vertical-align: top;
}
.profile-content{
  display:inline-block;
}
.zoom-checkbox{
  zoom:2;
  margin-left:-2rem;
}
.form-check-label span{
  vertical-align:sub;
  font-size:1.3rem;
}
.open-report-btn{
  white-space:nowrap;
  font-weight: 600;
}
ngx-avatar {
  display:inline-block;
}

/* Custom checkbox */
.zoom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.zoom-checkbox::-ms-check {
  display: none;
}
.zoom-checkbox {
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid green;
  vertical-align: middle;
  color: green;
  right:5px;
}
.zoom-checkbox::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  left: 0;
  top: -0.35em;
  visibility: hidden;
}
.zoom-checkbox:checked::before {
  /* Use `visibility` instead of `display` to avoid recalculating layout */
  visibility: visible;
}
.link-expire{
  background: rgb(255, 231, 213);
  color: rgb(230, 135, 69);
}
.link-expire div{
  font-size: 14px;
}
@media screen and (max-width:480px){
  .gen-report{
    width:100%;
  }
  .font-check, .font-check .form-check-label span{
    font-size:12px !important;
  }
  .gen-button{
    padding-left:0px;
    padding-right:0px;
    font-size:12px !important;
  }
}

