<div class="container" *ngIf="report">
  <div class="row justify-content-center align-items-center">
    <div align="center" class="mt-3">
      <div class="row ml-0 mr-0">
        <div class="col-sm-12 logo-size">
            <img src="assets/nexus-log.png" alt="" class="gen-report"/>
        </div>
      </div>
      <div class="row ml-0 mr-0 mt-3 text-left">
        <div class="col-sm-12">
            <img *ngIf="(report.picture.includes('http')) || (report.picture.includes('data'))" class="rounded-circle profile-pic" [src]="report.picture" alt="" />
            <ngx-avatar size="125" *ngIf="!(report.picture.includes('http')) && !(report.picture.includes('data'))" name="{{report.first_name}}"></ngx-avatar>
          <div class="pl-3 profile-content">
            <h2 class="text-left font-check">{{report.first_name}} {{report.last_name}}</h2>
            <h2 class="text-left font-check">{{ "GRP_H2_FINANCIAL_REPORT" | translate}}</h2>
          </div>
        </div>
      </div>
      <div class="row mr-0 ml-0 mt-4 mb-3 text-left">
        <div class="col-sm-12 pl-2">
          <div class="form-check font-check">
            <label class="form-check-label" for="check1">
              <img src="assets/tick.png" alt="" class="mr-2"/>
              <!-- <input type="checkbox" class="form-check-input zoom-checkbox" id="check1" checked> -->
              <span>{{"GRP_SPAN_REAL_TIME" | translate}}</span>
            </label>
          </div>
          <div class="form-check font-check">
            <label class="form-check-label" for="check2">
              <img src="assets/tick.png" alt="" class="mr-2"/>
              <!-- <input type="checkbox" class="form-check-input zoom-checkbox" id="check2" checked> -->
              <span>{{"GRP_SPAN_SECURE" | translate}}</span>
            </label>
          </div>
          <div class="form-check font-check">
            <label class="form-check-label">
              <img src="assets/tick.png" alt="" class="mr-2"/>
              <!-- <input type="checkbox" class="form-check-input zoom-checkbox" id="check3" checked> -->
              <span>{{"GRP_SPAN_FREE" | translate}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row mr-0 ml-0">
        <div class="col-sm-12">
          <button type="button" class="btn btn-lg btn-success open-report-btn pl-5 pr-5 mt-3 mb-2 gen-button" *ngIf="report" (click)="open()">{{ "GRP_BUTTON_OPEN_REPORT" | translate}}</button>
        </div>
      </div>
      <!-- <div class="row mr-0 ml-0 mt-2 mb-4" *ngIf="report">
        <div class="col-sm-12 link-expire text-center pt-1 pb-1">This link will expire in {{report.valid_till | datediffformat}}</div>
      </div> -->
    </div>
  </div>
</div>
