<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open modal
</button>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Verify your email</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="col-md-12 col-sm-12 col-12 text-center">
        We have sent verification link on your email.
        Please Check!!
      </div>
      <!-- <div class="col-md-4 col-sm-4 col-4"></div> -->
      <div class="row">
        <div class="col d-flex justify-content-center">
          <img src="../assets/Verify-Logo_stacked-2017.png" class="img-size">
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-4 col-4"></div> -->


      <!-- Modal footer -->
      <div class="float-right">
        <button type="button" class="btn btn-success button-right mb-3 mr-3" data-dismiss="modal" (click)="resend()">Resend Email</button>
      </div>

    </div>
  </div>
</div>