.navbar{
  background:#393939;
}
.user-icon{
  width:35px;
  height:35px;
  object-fit: cover;
  border-radius:50%;
  display: inline-block;
}
.navbar-nav .dropdown-menu {
  position: absolute;
  right:0 !important;
}
.white{
  color:#ffffff;
}
.navbar-brand{
  display:contents;
}
.pic-logo-icon{
  padding-bottom:10px;
  width:130px;
}
.add-account{
  font-size: 15px;
  color: white!important;
  margin-right: 6px;
}
.padding-account{
  padding:.4rem .1rem;
}
.custom-display{
  display: inline-block;
}
.p-width{
  width:80px;
}
.dropdown-size{
  min-width:0px;
}
.dropdown-signout{
  font-size: 12px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.blank-display{
  position: absolute;
  background: #353434;
  height: 100%;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width:375px){
  .p-width{
    width:125px;
  }
  .dropdown-menu{
    left:-30px;
  }
}

@media screen and (max-width:320px){
  .p-width{
    width:120px;
  }
  .logo-icon{
    width:70px;
  }
}
.account-number-font{
        height: 25px;
        background-color: red;
        width: 25px;
        border-radius: 50%;
        position: absolute;
        bottom: 34px;
        right: 82px;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        padding-right: 10px;
        padding-top: 4px;
}
.navbar-position{
  position:fixed;
  z-index:999;
  width:100%;
}
