<div [ngClass] = "user.accounts.length == 0 ? 'blank-display' : ''"></div>
<nav class="navbar navbar-light navbar-position">
  <a  (click)="profileSection()" class="navbar-brand cursor-pointer"><img class="pic-logo-icon" src="../../assets/Nexus-new-logo.png" alt="..."></a>
  <!-- navbar right -->
  <ul class="nav navbar-nav ml-auto flex-row text-right responsive-top">
    <li class="nav-item d-none">
      <button class="plaid-button1"><i class="fas fa-plus-square mr-2"></i>{{"H_BUTTON_ADD_ACCOUNT" | translate}}</button>
      <div class="account-number-font">5</div>
    </li>
    <li class="nav-item dropdown p-width">
      <a class="nav-link p-0 clear" data-toggle="dropdown">
        <span class="avatar w-32 white cursor-pointer" *ngIf="(user.picture) != 'NA'">
          <img *ngIf="user.picture && ((user.picture).includes('http') || (user.picture.includes('data')))" class="user-icon" [src]="user.picture" alt="..."> {{user.nickname}}
          <ngx-avatar size="40" class="user-icon" *ngIf="!user.picture || !(user.picture.includes('http')) && !(user.picture.includes('data'))" name="{{user.first_name}}"></ngx-avatar> {{user.nickname}}
          <i class="fa fa-caret-down ml-2" aria-hidden="true"></i>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-overlay ng-scope cursor-pointer dropdown-size">
        <!-- <a class="dropdown-item" ng-href="#!/profile">My Profile</a> -->
        <a class="dropdown-item dropdown-signout" (click)="logout()">{{"H_A_SIGN_OUT" | translate}}</a>
      </div>
    </li>
  </ul>
  <!-- navbar right -->
</nav>
