/* You can add global styles to this file, and also import other style files */

/* start for notifier */
.notifier__container{
  z-index: 999999999 !important;
}
.notifier__container * {
  box-sizing: border-box;
}
.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.notifier__notification {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--material {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}

.notifier__notification--material .notifier__notification-message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  line-height: 32px;
  font-size: 15px;
}

.notifier__notification--material .notifier__notification-button {
  display: inline-block;
  transition: opacity .2s ease;
  opacity: .5;
  margin-right: -10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}

.notifier__notification--material .notifier__notification-button:hover, .notifier__notification--material .notifier__notification-button:focus {
  opacity: 1;
}

.notifier__notification--material .notifier__notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

/*# sourceMappingURL=theme-material.css.map */
.notifier__notification--default {
  background-color: #444;
  color: #FFF;
}

.notifier__notification--default .notifier__notification-button-icon {
  fill: #FFF;
}

/*# sourceMappingURL=type-default.css.map */
.notifier__notification--error {
  background-color: #D9534F;
  color: #FFF;
}

.notifier__notification--error .notifier__notification-button-icon {
  fill: #FFF;
}

/*# sourceMappingURL=type-error.css.map */
.notifier__notification--info {
  background-color: #5BC0DE;
  color: #FFF;
}

.notifier__notification--info .notifier__notification-button-icon {
  fill: #FFF;
}

/*# sourceMappingURL=type-info.css.map */
.notifier__notification--success {
  background-color: #5CB85C;
  color: #FFF;
}

.notifier__notification--success .notifier__notification-button-icon {
  fill: #FFF;
}

/*# sourceMappingURL=type-success.css.map */
.notifier__notification--warning {
  background-color: #F0AD4E;
  color: #FFF;
}

.notifier__notification--warning .notifier__notification-button-icon {
  fill: #FFF;
}

/* end for notifier */

.overflow{
  overflow-x: hidden;
  overflow-y: hidden;
}
button:focus
{
  outline: none !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
.custom-float-right{
  float: right;
}
.custom-dropdown{
  width: 88%;
}
.custom-select{
  font-size: 15px;
}
.custom-text-align{
  text-align: center;
}
.custom-whitespace{
  white-space: nowrap;
}
.custom-display{
  display: inline-block;
}
.custom-bg-white{
  background: white;
}
.custom-red{
  color: rgb(234, 104, 109);
}
.custom-green{
  color: rgb(0, 194, 86);
}
.report-profile .info-section .flex-image{
  display:flex;
  justify-content:center;
  align-items:center;
}
.plaid-button1 {
  background-color: #ffffff;
  font-size:15px !important;
  padding: 0 1rem !important;
  white-space:nowrap !important;
  height:26px !important;
  margin-top:5px;
  font-weight:600 !important;
  border: 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
  color: #000000;
  cursor: pointer;
}
#about {
  min-height: 100vh !important;
}
button:disabled{
  cursor:not-allowed;
}
input:focus, select:focus{
  box-shadow: none !important;
  border-color: #ced4da !important;
}
.table tr:last-child td ul.ngx-pagination{
  margin-bottom: 0px !important;
}
/* style for datepicker */
.bs-datepicker-head button {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Style for report-component */
.report-profile .edit-profile, .report-profile .employer-details a{
  display: none !important;
}

.report-profile .report-bar-graph{
  height: 308px !important;
}
.report-trend .parent-property .hide-in-report{
  display:none !important;
}
.report-trend .parent-property .margin-in-trend{
    margin-left:45px;
}
.report-trend .report-entry{
    margin-left:10%;
}
.report-profile .employer-section{
  margin-left:70px;
  margin-right:70px;
}
.report-profile .employer-section .custom-radio-btn{
    pointer-events:none;
    opacity:0.5;
}
.report-profile .employer-section .custom-mark{
    pointer-events:none;
    opacity:0.5;
}
.report-profile .employer-section .form-control{
    pointer-events:none;
    opacity:0.6;
}
.report-profile .employer-section .make-it-hidden{
    display:none;
}
.report-profile .employer-section .not-visible{
  visibility: hidden;
}
.report-profile .employer-section .make-it-shown{
  display:block;
}
.report-profile .employer-section .make-mark{
  padding: 0px;
}
.report-profile .employer-section .make-mark:after{
  content: '\0078';
  font-size: 33px !important;
  color: red;
}
.report-profile .employer-section .bdr-transaparent{
  border: transparent;
  padding: 0px;
}

input::placeholder {
  color:#d8d2d2;
}

.auth0-lock.auth0-lock.auth0-lock-opened-in-frame{
  z-index: 1 !important;
}


@media print {
  /* style sheet for print goes here */
  body{
    line-height: 17px !important;
  }
  .noprint {
    display: none !important;
  }
  .report-font > .nav-tabs{
    border-bottom: 1px solid transparent !important;
  }
  .main-div-pdf >  div{
    padding-top: 0px !important;
  }
}


@media screen and (max-width:375px){
  button.launch-plaid-link-button.plaid-button1 {
    font-size:14px !important;
    padding: 0 0.4rem !important;
  }
  .report-profile .info-section .profile-section{
    display: block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .report-profile .info-section .spited-div{
    max-width: 100% !important;
  }
  
  .report-profile .info-section .spited-div:nth-child(1){
    margin-bottom: 20px !important;
    border-right:unset !important;
    /* border-bottom: 2px solid #000 !important; */
  }
}
@media screen and (max-width:575px){
  .mt20{
    margin-top: 20px;
  }
   /* .report-profile .info-section .image-fixed-size{
    width: 90px !important;
    height: 90px !important;
  }  */
  .report-profile .info-section .profile-section{
    display: block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .report-profile .info-section .spited-div{
    max-width: 100% !important;
  }
  
  .report-profile .info-section .spited-div:nth-child(1){
    margin-bottom: 20px !important;
    border-right:unset !important;
    /* border-bottom: 2px solid #000 !important; */
  }
}

@media (min-width: 421px) and (max-width: 759px) {
  
  .report-profile .info-section {
    max-width: 695px !important;
   
}
  }
@media (min-width: 721px) and (max-width: 990px) {
  .report-profile .info-section .image-fixed-size{
     width: 109px !important;
    height: 109px !important; 
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* .report-profile .info-section .image-fixed-size{
     width: 90px !important;
    height: 90px !important; 
  } */
  .report-profile .info-section .adjust-image{
    padding-left:0px !important;
  }
}
@media (min-width: 517px) and (max-width: 528px) {
  .change-clr{
    font-size:13px;
  }
}
 @media (min-width: 320px) and (max-width: 459px){
  .set-font{
    font-size:12px;
  }
} 

.gauge-chart{
  height: 167px !important;
  margin-top: 22px;
  width: unset !important;
}
/* .report-profile .gauge-chart{
  width: 522px !important;
} */
.report-profile .info-section .income-div{
  margin-top:1%;
}
.report-profile .info-section span.text-1{
  font-size: 12px;
  font-weight: 800;
  top: 49%;
  right: 69%;
  border-bottom: 4px solid rgb(238, 90, 69);
  color: rgb(238, 90, 69);
  width: 184px;
  text-align: left;
}

.report-profile .info-section span.text-2{
  left: 9%;
  display: block;
  width: 177px;
  font-size: 12px;
  top: 4%;
  border-bottom: 4px solid rgb(241, 128, 72);
  color: rgb(241, 128, 72);
  font-weight: 700;
  text-align: left;
}
.report-profile .info-section span.text-3{
  font-size: 12px;
  font-weight: 800;
  top: 48%;
  right: -2.5%;
  border-bottom: 4px solid rgb(79, 149, 120);
  color: rgb(79, 149, 120);
  display: block;
  text-align: right;
  width: 204px;
}
.report-profile .info-section span.text-4{
    right: 13%;
    display: block;
    width: 164px;
    font-size: 12px;
    bottom:222.5px;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;
}
.report-profile .info-section .cus-pos-1{
  border-bottom: 4px solid rgb(241, 128, 72);
  transform: rotate(72deg);
  top: 27%;
  left: 36%;
}
.report-profile .info-section .cus-pos-2{
  border-bottom: 4px solid rgb(247, 182, 69);
  transform: rotate(101deg);
  top: 26%;
  left: 53%;
}
.report-profile .info-section .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 100px;
    left: 19%;
}
.report-profile .info-section .tippingPoints-tm{
  min-width: 94px;
  height: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 52px;
  left: 25%;
}
.report-profile .info-section .tippingPoints-tb{
  min-width: 94px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 106px;
  left: 35%;
  text-align: left;
}
.report-profile .info-section .font-text{
  font-size:14px;
}
.report-profile .bg-text .report-hide, .report-profile .bg-text .btn,
.report-trend .bg-text .report-hide, .report-trend .bg-text .btn{
  display: none;
}
.report-profile .bg-text .dash-hide, .report-trend .bg-text .dash-hide{
  display: block !important;
}

.spinner-container {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.spinner {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: 0.5em solid;
  border-top-color: #C70039;
  border-right-color: #FF5733;
  border-bottom-color: #ff9800;
  border-left-color: #900C3E;
  -webkit-animation: 0.6s infinite spin ease-in-out;
  animation: 0.6s infinite spin ease-in-out;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px){
  .report-profile .info-section .email-font{
    font-size:12px;
  }
  .report-profile .info-section .score-div{
    width:488px !important;
  }
  .report-profile .info-section .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 18px;
    left: 21%;
  }
  .report-profile .info-section .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 32%;
    text-align: left;
  }
  .report-profile .info-section .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 18%;
  }

  .report-profile .info-section span.text-1{
    font-size: 11px;
    font-weight: 800;
    top: 34%;
    right:67%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 173px;
    text-align: left;
  }

  .report-profile .info-section span.text-2{

    left: 4.7%;
    display: block;
    width: 177px;
    font-size: 11px;
    top: 1%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }


  .report-profile .info-section span.text-3{

    font-size: 11px;
    font-weight: 800;
    top: 42%;
    right: 2.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 155px;

  }

  .report-profile .info-section span.text-4{

    right: 7.5%;
    display: block;
    width: 164px;
    font-size: 11px;
    bottom: 85.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;
  }

  .report-profile .info-section .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 23%;
    left: 37%;
  }
  .report-profile .info-section .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(105deg);
    top: 23%;
    left: 52%;
  }

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
  .report-profile .info-section .email-font{
    font-size:12px;
  }
  .report-profile .info-section .score-div{
    width:488px !important;
  }
  .report-profile .info-section .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 18px;
    left: 21%;
  }
  .report-profile .info-section .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 32%;
    text-align: left;
  }
  .report-profile .info-section .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 18%;
  }

  .report-profile .info-section span.text-1{

    font-size: 12px;
    font-weight: 800;
    top: 40%;
    right: 69%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 173px;
    text-align: left;
  }

  .report-profile .info-section span.text-2{


    left: 2%;
    display: block;
    width: 177px;
    font-size: 12px;
    top: 6%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;
  }


  .report-profile .info-section span.text-3{

    font-size: 12px;
    font-weight: 800;
    top: 48%;
    right: -5.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 177px;
  }

  .report-profile .info-section span.text-4{


    right: 4%;
    display: block;
    width: 164px;
    font-size: 12px;
    bottom: 79.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;
  }

  .report-profile .info-section .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(74deg);
    top: 25%;
    left: 35%;
  }
  .report-profile .info-section .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(107deg);
    top: 25%;
    left: 58%;
}
.report-profile .info-section .cus-stick {
    width: 35px;
    position: absolute;
    display: block;

}
}

@media only screen and (max-width: 767px) and (min-width: 520px){
  .report-profile .info-section .email-font{
    font-size:12px;
  }
  .report-profile .info-section .score-div{
    width:460px !important;
  }
  .report-profile .info-section .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 11px;
    left: 20%;
  }
  .report-profile .info-section .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 32%;
    text-align: left;
  }
  .report-profile .info-section .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 64px;
    left: 18%;
  }

  .report-profile .info-section span.text-1{
    font-size: 9px;
    font-weight: 800;
    top: 40%;
    right: 65%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 165px;
    text-align: left;
  }

  .report-profile .info-section span.text-2{
    left: 9%;
    display: block;
    width: 154px;
    font-size: 9px;
    top: 4%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }


  .report-profile .info-section span.text-3{
    font-size: 9px;
    font-weight: 800;
    top: 41%;
    right: 3.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 135px;

  }

  .report-profile .info-section span.text-4{

    right: 11.7%;
    display: block;
    width: 139px;
    font-size: 9px;
    bottom: 84.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;

  }

  .report-profile .info-section .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 21%;
    left: 39%;
  }
  .report-profile .info-section .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(105deg);
    top: 21%;
    left: 53%;
  }
  .report-profile .info-section .cus-stick {
    width: 42px;
    position: absolute;
    display: block;
  }

}
@media only screen and (max-width: 519px) and (min-width: 371px){
  .report-profile .info-section .email-font{
    font-size:12px;
  }
  .report-profile .info-section .score-div{
    width:239px !important;
  }
  .report-profile .info-section .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 23px;
    left: -7%;
  }
  .report-profile .info-section .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 61px;
    left: 81%;
    text-align: left;
  }
  .report-profile .info-section .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 82px;
    left: -2%;
  }

  .report-profile .info-section span.text-1{
    font-size: 9px;
    font-weight: 800;
    top: 40%;
    right: 77%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 93px;
    text-align: left;
  }

  .report-profile .info-section span.text-2{
    left: -12%;
    display: block;
    width: 112px;
    font-size: 9px;
    top: 6%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }
  .report-profile .info-section span.text-3{
    font-size: 9px;
    font-weight: 800;
    top: 41%;
    right: -8.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 82px;
  }

  .report-profile .info-section span.text-4{

    right: -11.3%;
    display: block;
    width: 99px;
    font-size: 9px;
    bottom: 78.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right;

  }

  .report-profile .info-section .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    transform: rotate(70deg);
    top: 27%;
    left: 29%;
  }
  .report-profile .info-section .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    transform: rotate(105deg);
    top: 27%;
    left: 59%;
  }
  .report-profile .info-section .cus-stick {
    width: 42px;
    position: absolute;
    display: block;
  }

}
@media only screen and (max-width: 371px) and (min-width: 320px){
  .report-profile .info-section .email-font{
    font-size:12px;
  }
  .report-profile .info-section .score-div{
    width:239px !important;
  }
  .report-profile .info-section .tippingPoints-tm{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 18px;
    left: -7%;
  }
  .report-profile .info-section .tippingPoints-tb{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 52px;
    left: 71%;
    text-align: left;
  }
  .report-profile .info-section .tippingPoints-tt{
    min-width: 94px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 70px;
    left: 2%;
  }

  .report-profile .info-section span.text-1{
    font-size: 8px;
    font-weight: 800;
    top: 32%;
    right: 72%;
    border-bottom: 4px solid rgb(238, 90, 69);
    color: rgb(238, 90, 69);
    width: 62px;
    text-align: left;
  }

  .report-profile .info-section span.text-2{
    left: 11%;
    display: block;
    width: 62px;
    font-size: 9px;
    top: 4%;
    border-bottom: 4px solid rgb(241, 128, 72);
    color: rgb(241, 128, 72);
    font-weight: 700;
    text-align: left;

  }
  .report-profile .info-section span.text-3{
    font-size: 9px;
    font-weight: 800;
    top: 33%;
    right: 0.5%;
    border-bottom: 4px solid rgb(79, 149, 120);
    color: rgb(79, 149, 120);
    display: block;
    text-align: right;
    width: 51px;
  }

  .report-profile .info-section span.text-4{

    right: 10.7%;
    display: block;
    font-size:8px;
    width: 58px;
    bottom: 75.5%;
    border-bottom: 4px solid rgb(247, 182, 69);
    color: rgb(247, 182, 69);
    font-weight: 700;
    text-align: right
  }

  .report-profile .info-section .cus-pos-1{
    border-bottom: 4px solid rgb(241, 128, 72);
    -webkit-transform: rotate(70deg);
    transform: rotate(70deg);
    top: 27%;
    left: 33%;
  }
  .report-profile .info-section .cus-pos-2{
    border-bottom: 4px solid rgb(247, 182, 69);
    -webkit-transform: rotate(105deg);
    transform: rotate(105deg);
    top: 27%;
    left: 59%;
  }
  .report-profile .info-section .cus-stick {
    width: 25px;
    position: absolute;
    display: block;
  }

}
