<div class="border border-dark">
  <div class="bg-dark text-white font-weight-bold p-3"><h5>{{"QRGM_DIV_SHARE_REPORT" | translate}} <i class="fa fa-close float-right cursor-pointer" (click)="closeModal()"></i></h5></div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="p-5 qr-center">
        <img [src]="qrCodeData.qr_code_url" alt="">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 border-left border-dark">
      <div class="p-5">
        <div class="font-weight-bold text-center "><h5>{{"QRGM_H5_SCAN_QR_CODE" | translate}}</h5><div>
          <div class="mt-3">
            <form [formGroup]="emailValidate" class="pl-line">
                <input type="email" class="form-control" id="email" [(ngModel)]="emailValue"
                  placeholder="email@example.com" formControlName="emailId" />
            <button class="font-weight-bold ml-3 pl-2 pr-2 text-white bg-success border-0 btn btn-success btn-sm mt-2" (click)="sendEmail()" [disabled]="emailValidate.invalid">{{"QRGM_BUTTON_SEND" | translate}}</button>
            </form>
          </div>
          <p class="mt-3 text-center cursor-pointer text-primary" (click)="goToReport()"><u>{{"QRGM_P_VIEW_REPORT" | translate}}</u></p>
        </div>
        </div>
      </div>
    </div>
