.table td{
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    white-space: nowrap;
  }
  .table tr:last-child td{
    border-bottom:1px solid #999999;
  }
  .table tr td:last-child{
    border-right:1px solid #999999;
  }
  .table-hover tbody tr:hover {
    background-color: #E1E1E1;
  }
  .dateSort{
    float: right;
    width: 23px;
    height: 26px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .d-width{
    min-width: 106px;
  }
  .table td{
    font-size: 15px;
    padding: 0 0 0 3px !important
  }
  .trans-secondary{
    color:rgb(68,68,68) !important;
  }