<div class="container">
  <div class="row mt-3">
    <div class="col-sm-12 col-12 col-md-12 col-lg-12 pl-4 pr-4">
      <h4>{{"RT_H4_ALL_CASH_AND_CREDIT_ACCOUNT_TRANSACTIONS" | translate}}</h4>
    </div>
  </div>
  <div class="row mt-4 d-none">
    <div class="col-sm-1 col-md-1 col-lg-1 mt-2"></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-3 mt-2">
      <select class="form-control cursor-pointer" name="sellist1" (change)="filterForTransactions($event)"
              [(ngModel)]="selectedAccountFilter">
        <option value="all">{{"RT_OPTIONS_ALL ACCOUNTS" | translate}}</option>
        <ng-container *ngFor="let account of accounts">
          <option *ngIf="account.official_name && (account.status == 'ACTIVE')" [ngValue]="account"  [selected]="account.account_id==this.selectedAccId">
            {{account.inst_name}} {{account.official_name}}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-3 mt-2">
      <select class="form-control cursor-pointer" id="sel2" name="sellist2" (change)="filterForTransactions($event)"
              [(ngModel)]="selectedDateFilter">
        <option *ngFor="let index of dateFilterArray" [ngValue]="index.value">{{index.key}}</option>
      </select>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 mt-2 mb-1 d-none">
      <select class="form-control custom-select" id="sel3" name="sellist3" (change)="setDatePrefrence($event)"
              [(ngModel)]="datePrefrence">
        <option value="us">MM-DD-YYYY</option>
        <option value="uk">DD-MM-YYYY</option>
      </select>
    </div>
  </div>
  <div *ngIf="(transactions && transactions.length > 0); else noDataBlock">
    <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-hover mt-4">
      <tbody>
      <tr class="bg-dark text-light">
        <td>
          {{"RT_TD_DATE" | translate}}
          <button class="dateSort" (click) = "orderByDate()"><i class=" fa fa-sort text-light"></i></button>
        </td>
        <td style="width:225px">{{"RT_TD_ACCOUNT_NAME" | translate}}</td>
        <td style="width:375px">{{"RT_TD_DESCRIPTION" | translate}}</td>
        <td style="width:375px">{{"RT_TD_CATEGORY" | translate}}</td>
        <td>{{"RT_TD_AMOUNT" | translate}}</td>
      </tr>
      <tr *ngFor="let trans of transactions | orderBydate : orderByField">
        <td class="d-width">{{trans.date}}</td>
        <td>
          <span placement="top" popover="{{trans.officialName}}" triggers="mouseenter:mouseleave">
            {{trans.officialName ? (trans.officialName.length > 25 ? trans.officialName.substring(0, 25)+"..." : trans.officialName) : "updating soon..."}}
          </span>
        </td>
        <td>
          <span placement="top" popover="{{trans.name}}" triggers="mouseenter:mouseleave">{{trans.name.length > 35 ? trans.name.substring(0, 35)+"..." : trans.name}}</span>
        </td>
        <td>
          <span placement="top" popover="{{trans.category}}" triggers="mouseenter:mouseleave">{{trans.category.length > 35 ? trans.category.substring(0, 35)+"...": trans.category}}</span>
        </td>
        <td [ngClass]="trans.amount > 0 ? 'text-success' : 'trans-secondary'">{{trans.amount > 0 ? (trans.amount | currency) : "&#x2212;" + ((trans.amount * -1) | currency)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noDataBlock>
    <div class="mt-4 mb-4 ml-2 blue text-center">
      {{"RT_DIV_NO_BALANCE_TO_SHOW" | translate}}
    </div>
  </ng-template>
</div>
