.custom-center{
  width: auto;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: auto;
}
.star-color{
  font-size: 28px;
  color: #1686e8;
  width: 40px;
}
.c-text{
  color: #1686e8;
  font-size: 30px;
}
.line-txt{
  color: #797777;
  font-size: 12px;
}
.prize{
  height: 170px;
}
.custom-input-button{
  border-radius: 0 50rem 50rem 0;
  border-left: 0px;
  border: 1px solid #ced4da;
  border-left: 0px;
}
.custom-radius{
  border-radius: 50rem 0 0 50rem;
  border-right: 0px;
}
.icon-color{
  color: #a7a6a2;
}
.a-texture{
  color: #1686e8 !important;
  text-decoration:underline !important;
}
.a-texture:hover{
  cursor:pointer;
}
.account-btn{
  background-color: rgb(0, 133, 228) !important;
  padding: 12px 30px;
}
