<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div align="center" class="mt-4">
      <img src="assets/trophy.gif" alt="imgpic" class="prize"/>
      <p class="custom-text-align c-text">Congratulations!</p>
      <div class="custom-text-align line-txt">You just link your {{accountsLength}} account! Average users like you link only 5 accounts. Way to go!</div>
      <div class="custom-text-align line-txt">The more accounts your link, the stronger your profile is</div>
      <div class="custom-text-align">
        <label class="star-color" *ngIf="!firstStar"><i class="fa fa-star" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="!secondStar"><i class="fa fa-star" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="!thirdStar"><i class="fa fa-star" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="!fourthStar"><i class="fa fa-star" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="!fifthStar"><i class="fa fa-star" aria-hidden="true"></i></label>

        <label class="star-color" *ngIf="firstStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="secondStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="thirdStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="fourthStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
        <label class="star-color" *ngIf="fifthStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
      </div>
      <div class="mt-3 mb-3">
        <!-- <mr-ngx-plaid-link-button env="sandbox" publicKey="58b5868dead2e3931a909a866b60ca" (Success)="onPlaidSuccess($event)"
                                  className="launch-plaid-link-button"
                                  buttonText="Add another account"></mr-ngx-plaid-link-button> -->
        <button class="btn btn-info btn-lg account-btn">Add another account</button>
      </div>
      <div class="col-md-12 mt-3">
        <p class="line-txt" align="right">I'm done Linking Accounts <a class="a-texture" (click)="goToDashboard($event)">Go to Dashboard</a></p>
      </div>
    </div>
  </div>
</div>
