<!-- header -->
<nav class="navbar navbar-light navbar-position">
  <a routerLink="/dashboard" class="navbar-brand">
    <img class="pic-logo-icon" src="../../assets/Nexus-new-logo.png" alt="...">
  </a>
  <div class="col-md-8 col-12 col-lg-8 col-sm-8 pt-1 pb-1 change-clr or-text-align">
    <span *ngIf="report"> {{"OR_SPAN_LINK_EXPIRE" | translate}} {{report.valid_till | datediffformat}}</span>
  </div>
</nav>
<div *ngIf=!reportPage>
<div class="justify-content-around mx-auto" *ngIf="report">
  <div class="row bgclr">
    <div class="col-md-12 p-t-b-2 report-font">
      <ul class="nav nav-tabs button-width header-space header-block">
        <li class="col-md-2 col-sm-2 col-12 text-center">
          <button class="active tabs-border cursor-pointer d-inline set-border set-font" data-toggle="tab" href="#profile" *ngIf="!showPdf">
            <div class="m-0 font-weight-bold"><i class="fa fa-user d-icon"></i>&nbsp;{{"OR_DIV_PROFILE" | translate}}</div>
          </button>
        </li>
        <li [ngClass]="{'tab-visible': !(report.share_trends == 1)}" class="col-md-3 col-sm-3 col-12 text-center">
          <button class="tabs-border cursor-pointer d-inline set-border set-font" data-toggle="tab" href="#trends" *ngIf="!showPdf">
            <div class="m-0 font-weight-bold"><i class="fa fa-bar-chart d-icon"></i> {{"OR_DIV_TRENDS" | translate}}</div>
          </button>
        </li>
        <li [ngClass]="{'tab-visible': !(report.share_trans == 1)}" class="col-md-3 col-sm-3 col-12 text-center">
          <button class="tabs-border cursor-pointer d-inline set-border set-font" data-toggle="tab" href="#transactions" *ngIf="!showPdf">
            <div class="m-0 font-weight-bold"><i class="fa fa-usd d-icon"></i> {{"OR_DIV_TRANSACTIONS" | translate}}</div>
          </button>
        </li>
        <li class="col-md-4 col-sm-4 col-12 text-center noprint">
          <div class="dropdown" *ngIf="!showPdf">
            <button type="button" class="btn btn-sm btn-success button-font dropdown-toggle" data-toggle="dropdown">
              {{"OR_BUTTON_GENERATE_APPLICATION_FORM" | translate}}
            </button>
            <div class="dropdown-menu align-dropdown">
              <a class="dropdown-item" (click)="applicationFormJson('regular')">Regular Loan Application</a>
              <a class="dropdown-item" (click)="applicationFormJson('nissan')">Nissan Loan Application</a>
            </div>
          </div>

          <button class="btn btn-sm btn-danger ml-2" (click)="closingPdf()" *ngIf="showPdf"
                [ngClass]="showPdf ? 'close-btn-customize' : ''">
                     <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>

          <button class="btn btn-sm btn-dark float-right printBtn" (click)= "callPrintPdf()" *ngIf="showPdf"
          [ngClass]="showPdf ? 'float-right' : ''">
            <i class="fa fa-print" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content mt-0" *ngIf="!showPdf">
    <!-- Profile section  -->
    <div id="profile" class="report-profile tab-pane active">
      <app-profile  [tranxData] = "tranxData" [properties]="propertiesData" [report]="report"
        [scoreGraphObj]="scoreValue" [updatedReport] = "reportData" style="margin-top:50px;"></app-profile> 
    </div>

    <!-- Trends Section -->
    <div id="trends" class="tab-pane fade report-trend">
      <app-trends [report]="report" [updatedReport] = "reportData" (tranxDataEmit)="receivedTranxData($event)"></app-trends>
      <div class="pt-3 pl-3" *ngIf="report.share_trends == 0">{{ "OR_DIV_NOT_SHARED_TRENDS_DETAILS" | translate}}</div>
    </div>

    <!-- Transactions Section -->
    <div id="transactions" class="tab-pane fade">
      <app-report-transaction *ngIf="report.share_trans == 1" [accounts]="accounts" [report]="report"></app-report-transaction>
      <div class="pt-3 pl-3" *ngIf="report.share_trans == 0">{{  "OR_DIV_NOT_SHARED_TRANSACTIONS_DETAILS" | translate}}</div>
    </div>
  </div>

  <div *ngIf="showPdf" id="contentToConvert" >
      <app-pdf *ngIf="loanType.name === 'regular'" [applicationJson] = "applicationJson" [invokePdf] = "invokePdf"></app-pdf>
      <app-nisaan *ngIf="loanType.name === 'nissan'" [applicationJson]="applicationJson" [invokePdf] = "invokePdf"></app-nisaan>
  </div>

</div>

<div class="centering" *ngIf="expiredDiv">
  <div class="text-center">
    <h4 class="m-0 p-0"> {{"OR_H4_THIS_LINK_HAS_EXPIRED" | translate}}</h4>
    <h5>{{"OR_H5_PLEASE_CONTACT" | translate}}</h5>
  </div>
</div>
 </div> 
<div *ngIf=reportPage>
    <div class="bg-report-image bg-common"></div>
</div>
