.link-expire{
  background: rgb(255, 231, 213);
  color: rgb(230, 135, 69);
}
.custom-green {
  color: rgb(0, 194, 86);
}
.custom-red {
  color: rgb(234, 104, 109);
}
.link-expire div{
  font-size: 14px;
}
.box-1{
  border: 1px solid black;
  min-height: 22vh;
}
.align-dropdown{
  left:47px !important;
}
.dry-img{
  height: 70px;
  width: 70px;
  vertical-align: super!important;
}
.header-space{
  white-space: pre;
}
.work{
  width: 45px;
}
.f-20{
  font-size: 20px;
}
.f-35{
  font-size: 28px;
}
.f-14{
  font-size: 14px;
}
.custom-sidebar{
  background: rgb(86, 86, 86);
  color: white;
}
.custom-sidebar ul li{
  list-style-type: none;
}
.canvas-div{
  border: 1px solid black;
  padding: 15px;
}
.nav-tabs .nav-link.active{
  background: rgb(38, 129, 208);
  border: 1px solid rgb(38, 129, 208);
  color: #ffffff;
}
.margin-none-upper{
  margin-top:-1px;
}
.bgclr{
  background:#eae8e8;
}
.bgclr > div, .bgclr > div > ul{
  width: 100%;
}
.bgclr > div > ul > li {
  width: 25%;
  display: block;
}

.left{
  margin-left:21%;
}
.button-width{
  margin:0 auto;
}
.set-border{
  border:0px;
  background:0px;
  text-align: center;
}

/* For header */
.change-clr{
  color:white;
}
.navbar{
  background:#393939;
  padding: 0.2rem 1rem;
}
 .user-icon{
  width:35px;
  border-radius:50%;
 } 
 .navbar-nav .dropdown-menu {
  position: absolute;
  right:0 !important;
}  
.white{
  color:#ffffff;
}
.navbar-brand{
  display:contents;
}
.pic-logo-icon{
  padding-bottom:10px;
  width:130px;
}
.p-width{
  width:80px;
}
.blank-display{
  position: absolute;
  background: #353434;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.close-btn-customize{
  float: right;
  margin-right: 45px;
}

.centering{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@media screen and (max-width:375px){
  .p-width{
    width:125px;
  }
  .dropdown-menu{
    left:-30px;
  }

  .or-text-align{
    text-align: center;
  }
}

@media screen and (max-width:380px){
  .p-width{
    width:120px;
  }
  .logo-icon{
    width:70px;
  }
  /* div .d-icon{
    display: block;
  } */
}
.account-number-font{
        height: 25px;
        background-color: red;
        width: 25px;
        border-radius: 50%;
        position: absolute;
        bottom: 34px;
        right: 82px;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        padding-right: 10px;
        padding-top: 4px;
}
@media only screen and (max-width: 708px) {
  .navbar-position {
    position:unset;
  }
 .report-font > ul{
      font-size:small;
      white-space:pre;
    }
  .button-font{
    font-size:9px !important;
  }
}

/* added style */
.p-t-b-2{
  padding-top:0.6rem;
  padding-bottom:0.6rem;
}
.nav-tabs .active{
  /* border-bottom: 2px solid #F5BF13; */
  color: #F5BF13 !important;
}
.tab-visible{
  visibility: hidden;
}
/* @media only screen and (max-width: 480px){
  .header-block{
    display:block;
    width:100%;
  }
} */
.dropdown-menu .dropdown-item:hover {
  background-color: #f0f7ed;
  cursor: pointer;
}
.btn-success:focus {
  box-shadow: unset !important;
}
.dropdown-menu{
  min-width: 14.5rem !important;
  padding: 0 !important;
  transform: translate3d(16%, 54%, 0) !important;
  font-size: 14px;
}
.bg-common {
  /* Add the blur effect */
  filter: blur(7px);
  -webkit-filter: blur(7px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-report-image {
   /* The image used  */
  background-image: url("/../assets/ReportPageUI.png");
  height: 800px;
}

.report-profile{
  margin-left: 30px;
  margin-right: 30px;
}