.blank-display{
  position: absolute;
  background: #353434d4;
  height: 250%;
  width: 100%;
  z-index: 1000;
  cursor: none;
}
.profile-img{
  width:100%;
}
.ul-height{
  height:43px;
}
.underline{
  text-decoration:underline !important;
  color: #007bff !important;
}
.nav-tabs .active{
  border-bottom:2px solid #F5BF13;
  color:#F5BF13 !important;
}
.sidebar-bg{
  /* background: #dcdcdc; */
}
.share-profile-text{
  font-size: 15px;
  color: #5f5b5b;
}
.ml-4{
  margin-left: 4px;
}
.custom-select{
  width: 30% ;
  border-radius: 0px ;
  height: 32px ;
  font-size: 14px;
}
.clock-custom{
  width:70%;
}
.h-style{
  font-size: 20px;
  font-weight: 600;
  line-height:2 ;
}
.generate-report{
  height: 52px;
  background: #dc8925;
  color: white;
  font-size: 14px;
}
.mb-10{
  margin-bottom: 5%;
}
.tabs-border{
  border:0px;
  margin:5px 0;
  background: transparent;
}
/* .d-icon{
  margin-right: 5px;
} */
.cash-font{
  font-size:12px;
  font-weight:600;
}

/*toggle css*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #46a81b;
}

input:focus + .slider {
  box-shadow: none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*end toggle css*/

.report-btn{
  white-space: nowrap;
  position: relative;
  top:46%;
}
.report-div{
  background: #ffffff;
  border: 1px solid #666666;
}
.report-div .row{
  margin-left: 0;
  margin-right: 0;
}
.email-input{
  padding: 5px;
}
.send-input{
  padding: 5px 10px 5px 10px;
}
.report-div .pl-line{
  padding-left:12px;
}
.icon-size i{
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

@media (max-width: 767px){
  .sidebar-bg.pr-0 {
    padding-right:15px !important;
  }
}

@media (max-width: 575px){
  .profile-img{
    width:30%;
  }
  .content-padding{
      padding-left:15px !important;
      padding-right:15px !important;
  }
}

@media screen and (min-width:320px) and (max-width:411px){
  .nav-item .nav-link {
    padding: .5rem 0.3rem;
  }
  .width-100{
    max-width:100% !important;
  }
  .width-100 .scan-code{
    width: 100%;
  }
  .width-100 .report-btn{
    top:0%;
    margin-left: 12px;
  }
}
.border-primary-none{
    background-color:#DCDCDC !important;
}
.table.table-hover .scroll-tbl{
  overflow-y: auto;
  max-height: 360px;
  display: block;
}
.checkbox-top{
  top:0px;
}

.progress-div{
  background: #4a4949;
  color: #ffffff;
  margin-bottom: 0;
}
.progress-div .row{
  margin-left: 0;
  margin-right: 0;
}
.progress{
  height: 0.6rem;
}
.table-faildAccount td:first-child{
  vertical-align: middle;
}
.width-20{
  width:25%;
  font-size:larger;
}
.border-red-left{
  border-left:2px solid red !important;
}
.coming-soon-icon{
  color:red;
  font-size:10px;
  font-weight:bold;
}
@media only screen and (max-width: 600px) {
  .width-20{
    font-size:11px ;
  }
}
.nav-position{
   position:fixed ;
   width:76%;
   z-index:1 ;
   top:61px;
   /* height: 45px; */
}
.upper-margin{
   margin-top:112px;
}
.margin-zero{
   margin-left:0px;
   margin-right:0px;
}
.font-size{
   font-size:22px;
}
.padding-right{
   padding-right:0px ;
}
.padding-left{
   padding-left:0px ;
}
.Generate-Report-btn{
   background-color:#46a81b ;
   border: 0px;
   padding: 8px;
}
.border-right-red{
   border-right:1px solid #000000 ;
}
 /* @media only screen and (max-width: 600px) {
  .nav-position{
       position:unset;
       width:unset;
       z-index:unset;
       top:unset;
  }
  .sidebar-bg{
    background: unset;
    margin-top:0px;
  }
  .upper-margin{
    margin-top:0px !important;
  }
}  */

/* style for Congratulations screen */
.custom-center{
  width: auto;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: auto;
}
.star-color{
  font-size: 28px;
  color: #1686e8;
  width: 40px;
}
.c-text{
  color: #1686e8;
  font-size: 30px;
}
.line-txt{
  color: #797777;
  font-size: 12px;
}
.prize{
  height: 170px;
}
.custom-input-button{
  border-radius: 0 50rem 50rem 0;
  border-left: 0px;
  border: 1px solid #ced4da;
  border-left: 0px;
}
.custom-radius{
  border-radius: 50rem 0 0 50rem;
  border-right: 0px;
}
.icon-color{
  color: #a7a6a2;
}
.a-texture{
  color: #1686e8 !important;
  text-decoration:underline !important;
  cursor:pointer !important;
}
.account-btn{
  background-color: rgb(0, 133, 228) !important;
  padding: 12px 30px;
}

/* Name Selection Modal Starts */
.more-value {
  margin:0 auto;
  width:80%;
 }
 .more-value form p {
  color: #000000 ;
 }
 .confirm-btn{
  border:2px solid #000000;
  border-radius:0px;
 }
 .small-text{
   font-size:12px;
 }
 @media only screen and (max-width: 957px) and (min-width: 700px) {
   .font{
     font-size:smaller;
   }
 }
 @media only screen and (min-width: 767px) and (max-width: 816px){
  .text-padding{
    padding-left:0;
  }
}
@media only screen and (max-width: 767px){
  .grey-height{
    width:97%;
  }
  .font-header{
    font-size:11px !important;
    white-space:pre;
  }
}
@media only screen and (max-width: 700px){
  .font-header{
    width:97%;
    /* font-size:12px;  */
  }
}
@media only screen and (max-width: 600px){
  .font-header{
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 900px){
  .font-size{
      font-size:18px !important;
  }
}
@media only screen and (max-width: 575px) and (min-width: 320px){
  .font-header{
    width:106%;
  }
  .ul-height{
    height:99px !important;
  }
}

/* background images */
.bg-text {
  color: #000000;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.bg-common {
  /* Add the blur effect */
  filter: blur(7px);
  -webkit-filter: blur(7px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-trend-image {
  /* The image used */
  background-image: url("/../assets/trend-image.png");
  height: 160px;
}
