<div *ngIf="checkPoint" class="blank-display">
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
</div>

<div *ngIf="!showScreen.congrateScreen">
  <app-header [user]="user" (hitProfile)="getHitProfile($event)"></app-header>
  <div class="row">
    <div class="col-md-3 col-lg-3 sidebar-bg pr-0">
      <app-sidebar (accEmit)="receivedAccId($event)" (propertyDataEmit)="receivedPropertyData($event)"
        (multipleHandlerEmit)="receivedMultipleHandler($event)" [sidebarReload]="sidebarReload"
        [reloadScreen]="showScreen.reloadScreen" [callPropertyButton]="callPropertyButton"
        (booleanValueForSpinner)="receivedvalueForSpinner($event)"></app-sidebar>
    </div>

    <div id="about" class="col-md-9 col-lg-9 bg-gray about-padding">
      <!-- <div class=""> -->
      <div class="row border border-primary-none nav-position grey-height font-header">
        <ul class="nav nav-tabs w-100 text-center font ul-height">
          <li class="col-12 col-sm-3 col-md-3 col-lg-3">
            <button #capturedProfile class="active tabs-border cursor-pointer d-inline" data-toggle="tab"
              href="#profile">
              <p class="m-0 font-weight-bold"><i class="fa fa-user d-icon"></i> {{ "DASH_P_PROFILE" | translate }} </p>
            </button>
          </li>
          <li class="col-12 col-sm-3 col-md-3 col-lg-3">
            <button (click)="employerSectionHide()" class="tabs-border cursor-pointer d-inline" data-toggle="tab"
              href="#trends">
              <p class="m-0 font-weight-bold"><i class="fa fa-bar-chart d-icon"></i> {{"DASH_P_TRENDS" | translate }}
              </p>
            </button>
          </li>
          <li class="col-12 col-sm-3 col-md-3 col-lg-3 text-padding">
            <button #transactionButton (click)="employerSectionHide()" class="tabs-border cursor-pointer d-inline "
              data-toggle="tab" href="#transactions">
              <p class="m-0 font-weight-bold"><i class="fa fa-usd d-icon"></i> {{ "DASH_P_TRANSACTIONS" | translate }}
              </p>
            </button>
          </li>
          <li class="col-12 col-sm-3 col-md-3 col-lg-3 text-padding">
            <button (click)="employerSectionHide()" class="tabs-border cursor-pointer d-inline" data-toggle="tab"
              href="#shareProfile">
              <p class="m-0 font-weight-bold"><i class="fa fa-lock d-icon"></i> {{  "DASH_P_SECURE_SHARE" | translate }}
              </p>
            </button>
          </li>
          <li class="width-20 d-none">
            <button #manageAccount (click)="employerSectionHide()" class="tabs-border cursor-pointer d-inline"
              data-toggle="tab" href="#manageAccount">
              <p class="m-0 font-weight-bold"><i class="fa fa-lock d-icon"></i>{{"DASH_P_MANAGE_ACCOUNT" | translate}}
              </p>
            </button>
          </li>
        </ul>
      </div>

      <div class="tab-content mt-1">
        <!-- Profile Section -->
        <div id="profile" class="tab-pane active upper-margin">
          <app-profile [tranxData]="tranxData" [properties]="propertiesData" [reloadScreen]="showScreen.reloadScreen"
            (headerEvent)="headerEvent($event)"
            [employerSectionValue]="employerSectionHideValue" (addAccountHandlerEmit)="receivedMultipleHandler($event)"
            (propertyHandlerEmit)="receivedpropertyHandler($event)"></app-profile>
        </div>
        <!-- Trends Section -->
        <div id="trends" class="tab-pane fade upper-margin">
          <app-trends [propertyAttribute]="propertiesData" [sidebarReload]="sidebarReload"
            [reloadScreen]="showScreen.reloadScreen" [controlData]="showScreen.controlData"
            (tranxDataEmit)="receivedTranxData($event)"
            (addAccountHandlerEmit)="receivedMultipleHandler($event)"></app-trends>
        </div>

        <!-- Transactions Section -->
        <div id="transactions" class="tab-pane fade upper-margin">
          <app-transactions [accountId]="emitAccId" [reloadScreen]="showScreen.reloadScreen"
            [controlData]="showScreen.controlData" (addAccountHandlerEmit)="receivedMultipleHandler($event)">
          </app-transactions>
        </div>

        <!--Share Profile New UI Starts-->
        <div id="shareProfile" class="tab-pane upper-margin">
          <div class="border border-dark">
            <div class="row">
              <div class="col-md-6 col-sm-12 text-center font-weight-bold padding-right border-right-red">
                <div class=" margin-zero bg-dark text-light p-3 font-size">
                  {{ "DASH_DIV_SHARE_YOUR_PROFILE" | translate}}</div>
                <div class="p-5">
                  <p class="mb-2 font-size">{{ "DASH_P_THE_REPORT_WILL_EXPIRE_IN" | translate }}</p>
                  <div class="icon-size font-size">
                    <i class="fa fa-clock-o mr-2"></i>
                    <select class="form-control custom-select cursor-pointer mt-2" name="sellist1"
                      [(ngModel)]="selectedHours">
                      <option value="30min">{{"DASH_OPTION_30_MIN" | translate}}</option>
                      <option value="1hour">{{"DASH_OPTION_1_HOUR" | translate}}</option>
                      <option value="8hours">{{"DASH_OPTION_8_HOURS" | translate}}</option>
                      <option value="endofday">{{"DASH_OPTION_UNTIL_END_OF_DAY" | translate}}</option>
                      <option value="7days">{{"DASH_OPTION_7_DAYS" | translate}}</option>
                      <option value="14days">{{"DASH_OPTION_14_DAYS" | translate}}</option>
                      <option value="30days">{{  "DASH_OPTION_30_DAYS" | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 padding-left">
                <div class=" margin-zero bg-dark text-light p-3 font-size text-center font-weight-bold">
                  {{ "DASH_DIV_SHARE_ADDITIONAL_DETAILS" | translate }}
                </div>
                <div class="row p-5" *ngIf="accounts.length == 0">
                  <div class="col-12">
                    <div class="bg-trend-image bg-common"></div>
                    <div class="bg-text">
                      <p>Link your account to view the widget</p>
                      <button type="button" class="btn btn-secondary"
                        (click)="receivedMultipleHandler('callingAddAccountBtn')">Add Account</button>
                    </div>
                  </div>
                </div>

                <div class="row p-5" *ngIf="accounts.length > 0">
                  <div class="col-4 col-md-4 col-lg-4">
                    <div class="mb-3">
                      <label class="switch">
                        <input type="checkbox" [(ngModel)]="shareTrends" (change)="changedShareTrends()">
                        <span class="slider round"></span>
                      </label>
                    </div>
                    <div class="">
                      <label class="switch">
                        <input type="checkbox" [(ngModel)]="shareTransactions" (change)="changedShareTransactions()">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-8 col-md-8 col-lg-8">
                    <div class="h-style mb-3 font-size">{{ 'DASH_P_TRENDS' | translate }}</div>
                    <div class="h-style font-size">{{ 'DASH_P_TRANSACTIONS' | translate }}</div>
                    <p class="mb-2 font-size">{{ 'DASH_P_DURATION_OF_TRANSACTIONS' | translate }}</p>
                    <div class="icon-size font-size">
                      <i class="fa fa-calendar mr-2"></i>
                      <select class="form-control custom-select clock-custom cursor-pointer mt-2" id="sel1"
                        name="sellist1" [(ngModel)]="selectedBackMonths">
                        <option value="3">3 {{ 'DASH_OPTION_MONTHS_BACK' | translate }}</option>
                        <option value="6">6 {{ 'DASH_OPTION_MONTHS_BACK' | translate }}</option>
                        <option value="12">12 {{ 'DASH_OPTION_MONTHS_BACK' | translate }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="font-weight-bold mb-3 mt-3 pl-5 pr-5 cursor-pointer Generate-Report-btn text-white"
                (click)="generateReport(QRCodeTemplate)">{{ 'DASH_BUTTON_GENERATE_REPORT' | translate }}</button>
            </div>
          </div>
        </div>
        <!--Share Profile New UI Ends-->

        <!--Manage Account UI Starts-->
        <div id="manageAccount" class="tab-pane upper-margin">
          <app-manage-account [pubToken]="publicToken.public_token" [logoUpdated]="showScreen.logoUpdated"
            [addAnotherAcc]="addAnotherAcc" [callTheAddAccount]="callAddAccount"
            (syncChildEvent)="callSyncStatusMethod()" (congratePageScreen)="showCongrateScreenSection($event)"
            [propertyAttribute]="propertiesData" (propertyHandlerEmit)="receivedpropertyHandler($event)"
            (employerDivHide)="employerSectionHide()" [hasRealTimeData]="hasRealTimeData"
            (controlData)="gotControlData($event)"></app-manage-account>
        </div>
        <!--Manage Account UI Starts-->
      </div>
      <!-- </div> -->
    </div>
  </div>

  <div *ngIf="failedAcc.length > 0" class="progress-div fixed-bottom" [ngStyle]="hideProgressbar">
    <div class="row">
      <div class="col-sm-12 text-right">
        <span class="cursor-pointer" (click)="closeProgressbar()">&times;</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <span class="ml-5 small">{{failedAcc.length}} {{ 'DASH_SPAN_ACCOUNTS_NEED_ATTENTION' | translate }}</span>
      </div>
      <div class="col-sm-6">
        <span class="cursor-pointer small" (click)="failedAccDetails = !failedAccDetails">
          <span *ngIf="!failedAccDetails"><i class="fa fa-angle-up"></i>{{ 'DASH_SPAN_SEE_DETAILS' | translate }}</span>
          <span *ngIf="failedAccDetails"><i
              class="fa fa-angle-down"></i>{{ 'DASH_SPAN_HIDE_DETAILS' | translate }}</span>
        </span>
        <div class="table-responsive" *ngIf="failedAccDetails">
          <table class="table table-borderless table-sm table-faildAccount">
            <tbody>
              <tr *ngFor="let acc of failedAcc">
                <td>
                  {{acc.inst_name}}
                  <div class="small-text">{{ "DASH_DIV_TRY_ENTERING_USERNAME" | translate }} <br />{{acc.inst_name}}
                  </div>
                </td>
                <td>
                  <button class="btn btn-success btn-sm"
                    (click)="getPublicToken(acc.id)">{{ 'DASH_BUTTON_TRY_AGAIN' | translate }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="mt-1 mb-4 ml-5 mr-5">
          <progressbar [animate]="false" [max]="maxValue" [value]="progressbarPercent" type="danger"></progressbar>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Start barcode-generate-modal-->
<ng-template #QRCodeTemplate>
  <app-qr-generate-modal (childEvent)="editProfileModalClose()" [qrCodeData]="qrCodeModalData"></app-qr-generate-modal>
</ng-template>
<!--End Edit barcode-generate-modal-->

<!-- name selection modal -->
<ng-template #nameSelection [ngIf]="showScreen.nameSelectionScreen">
  <div class="modal-body">
    <div class="container">
      <div class="border border-dark">
        <div class="p-3 bg-dark text-white font-weight-bold">{{ 'DASH_DIV_CONFIRM_DISPLAY_NAME' | translate }}</div>
        <div class="text-danger mt-3 mb-3 more-value"><i class="fa fa-info mr-3"></i>
          {{ 'DASH_DIV_ERR_MORE_THAN_1_NAME_EXISTS_FOR_YOUR_ACCOUNT' | translate }}.
        </div>
        <div class="more-value font-weight-bold  p-3">
          <form #myform="ngForm" (ngSubmit)="updatedName(myform)">
            <div *ngFor="let item of userDetail.names; let i = index">
              <p class="mt-2 mb-2">
                <input type="radio" name="gender" class="cursor-pointer" [(ngModel)]="item[i]" value="{{item}}"
                  [checked]="userDetail.names[0]">
                {{item}}
              </p>
            </div>
            <div class="text-center">
              <button type="submit"
                class="btn btn-success confirm-btn font-weight-bold pl-5 pr-5 mt-3 mb-3">{{ 'DASH_DIV_CONFIRM' | translate }}</button>
            </div>
          </form>
        </div>
        <div class="more-value font-weight-bold mt-5 mb-5">{{ "DASH_DIV_NOTE_E_PROFILE" | translate }}</div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Congratulations screen-->
<div *ngIf="showScreen.congrateScreen">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div align="center" class="mt-4">
        <img src="assets/trophy.gif" alt="imgpic" class="prize" />
        <p class="custom-text-align c-text">{{ 'CP_P_CONGRATULATIONS' | translate }}</p>
        <div class="custom-text-align line-txt">{{ "CP_DIV_YOU_JUST_LINK_YOUR" | translate }} {{accountsLength}}
          {{ "CP_DIV_AVERAGE_ACCOUNTS_5" | translate }}</div>
        <div class="custom-text-align line-txt">{{ 'CP_DIV_STRONGER_PROFILE' | translate }}</div>
        <div class="custom-text-align">
          <label class="star-color" *ngIf="!firstStar"><i class="fa fa-star" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="!secondStar"><i class="fa fa-star" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="!thirdStar"><i class="fa fa-star" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="!fourthStar"><i class="fa fa-star" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="!fifthStar"><i class="fa fa-star" aria-hidden="true"></i></label>

          <label class="star-color" *ngIf="firstStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="secondStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="thirdStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="fourthStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
          <label class="star-color" *ngIf="fifthStar"><i class="fa fa-star-o" aria-hidden="true"></i></label>
        </div>
        <div class="mt-3 mb-3">
          <button class="btn btn-info btn-lg account-btn"
            (click)="addAnotherAccount()">{{ 'CP_BUTTON_ADD_ANOTHER_ACCOUNT' | translate }}</button>
        </div>
        <div class="col-md-12 mt-3">
          <p class="line-txt" align="center">{{ "CP_P_DONE_LINKING_ACCOUNTS" | translate }} <a class="a-texture"
              (click)="goToDashboard()">{{ "DASH_DIV_GO_TO_DASHBOARD" | translate }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Verify Details modal -->
<ng-template #verifyDetailsModal>
  <app-verify-loan-data (verifyChildEvent)="verifyDetailsModalClose($event)"></app-verify-loan-data>
</ng-template>
<!--End Verify Details modal-->
