.ns-font-16{
    font-size: 16px;
}
.ns-font-13{
    font-size: 13px;
}
.ns-font-23{
    font-size: 23px;
}
.ns-font-34{
    font-size: 34px;
}

.ns-font-14{
    font-size: 14px;
}

.ns-font-12{
    font-size: 12px;
}

.ns-font-20{
    font-size: 20px;
}

.ns-font-22{
    font-size: 22px;
}

.ns-font-28{
    font-size: 28px;
}

.ns-font-18{
    font-size: 18px;
}

.ns-color-white{
    color: white;
}

.ns-font-weight-600{
    font-weight: 600;
}

.ns-font-weight-bold{
    font-weight: bold;
}

.ns-display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ns-display-center-items{
    display: flex;
    align-items: center;
}

.ns-visibilty-hidden{
    visibility: hidden;
}

.ns-cursor-pointer{
    cursor: pointer;
}

.ns-width-100p{
    width:100%;
}

.ns-border-none{
    border:none;
}
.ns-bg-none{
    background: none;
}

.ns-required:before{
    color: red;
    content: "*";
    position: absolute;
    margin-left: -10px;
 }
 .ns-justify-text{
     justify-content:center;
 }
 .ns-text-center{
     text-align:center;
 }
 
 .ns-text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }