li[aria-expanded=true] .fa.fa-caret-down{
	display:none;
}
.custom-green {
    color: rgb(0, 194, 86);
  }
  .custom-red {
    color: rgb(234, 104, 109);
  }
.collapsed .fa.fa-caret-up{
	display:none;
}
.list-group a, span{
 color: white;
 /*border: 0px !important;
 background: #454589;*/
}
.ml-4{
  margin-left: 4% !important;
}
.ml-10{
  margin-left: 10%;
}
.main-menu-style{
  font-size: 16px !important;
}
.menu-style{
  font-size: 14px !important;
}
.sub-menu-style{
  font-size: 15px !important;
}
/* .nav-side-menu ul .active{
  background-color: #676796 !important;
}
.nav-side-menu ul :hover{
   background-color: #676796 !important;
 } */



.nav-side-menu {
  overflow: auto;
  font-size: 12px;
  font-weight: 400;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
/*.nav-side-menu li .sub-menu li:before {
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
}*/
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 3px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

.nav-side-menu ul .sub-menu ul .sub-line li.active,
.nav-side-menu li .sub-menu li .sub-line li.active {
  color: #d19b3d;
}

.nav-side-menu ul .sub-menu li .sub-line li.active a,
.nav-side-menu li .sub-menu li .sub-line li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li .sub-line li,
.nav-side-menu li .sub-menu li .sub-line li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li .sub-line li:hover,
.nav-side-menu li .sub-menu li .sub-line li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li .sub-line li:before,
.nav-side-menu li .sub-menu li .sub-line li:before {
  content: "\f105";
  display: inline-block;
  padding-left: 100px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu .sub-menu li {
  padding-left: 20px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu .sub-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.sub-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li .sub-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
 .nav-side-menu .sub-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sub-line ul .sub-press li.active,
  .sub-line li .sub-press li.active {
    color: #d19b3d;
  }

  .sub-line ul .sub-press li.active a,
  .sub-line li .sub-press li.active a {
    color: #d19b3d;
  }
  .sub-line ul .sub-press li,
  .sub-line li .sub-press li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .sub-line ul .sub-press li:hover,
  .sub-line li .sub-press li:hover {
    background-color: #020203;
  }
  .sub-line ul .sub-press li:before,
  .sub-line li .sub-press li:before {
    content: "\f105";
    display: inline-block;
    padding-left: 50px;
    padding-right: 10px;
    vertical-align: middle;
  }

  .sub-line li {
    padding-left: 20px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .sub-line li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .sub-line li a i {
    padding-left: 50px;
    width: 20px;
    padding-right: 20px;
  }
  .sub-line li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}
@media (max-width: 767px) {
  .sub-line {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
}

/*custom css*/
.custom-nav-side{
  top: auto !important;
  position: unset !important;
}
.custom-sidebar{
    background: rgb(86, 86, 86);
    color: white;
}
.brand.sidebar-bg{
  visibility:hidden;
}
.right-align{
  float:right;
  margin-right:6px;
}

/* Start Add Property Modal CSS */
.property-modal-footer{
  padding:10px !important;
  justify-content: normal !important;
  color: #ffffff;
  background: #333333;
  border:1px solid;
  font-size:14px;
}
.common-font{
  font-size: 0.9rem;
}
.w-100{
  width:100%;
}
.cancel{
  float:right;
}
.back{
  float:left;
}
.back:hover, .cancel:hover{
  cursor:pointer;
}
.icon-size{
  font-size:2.2rem;
}
.plus-icon{
  font-size:1.2rem;
}
.hover-color{
  line-height:1.5rem;
  border:1px solid #999999;
}
.hover-color:hover .fa {
  color:#008198;
}
.hover-color:hover{
  border:1px solid #666666;
}
.hover-color .visible-plus{
  visibility:hidden;
}
.hover-color:hover .visible-plus{
  visibility:visible;
}
.mt-btn{
  margin-top:6rem;
}
.mb-btn{
  margin-bottom:4rem;
}
.set-padding{
  padding-left:5px;
  padding-right:5px;
}

@media screen and (max-width: 575px){
  .set-padding{
    margin-top:0.25rem;
    padding-left:25px;
    padding-right:25px;
  }
  .mt-btn{
    margin-top:2rem;
  }
  .mb-btn{
    margin-bottom:1rem;
  }
  .top-sp {
    margin-top: 10px;
  }
  .top-mp{
    margin-top:1px;
  }
}

@media screen and (max-width:350px){
  .property-modal-footer{
    font-size:12px;
  }
  .padding-r{
    padding-right:2px;
  }
  .padding-l{
    padding-left:2px;
  }
}

@media screen and (max-width:480px){
  .padding-r{
    padding-right:4px;
  }
  .padding-l{
    padding-left:4px;
  }
  .btn-Overview{
    margin-right: 0 !important;
    margin-bottom: 16px !important;
  }
}

/* End Add Property Modal CSS */
