<div class="nav-side-menu custom-nav-side custom-sidebar">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
    <div class="menu-list">
  
      <ul id="menu-content" class="menu-content collapse out">
        <!-- <li data-toggle="collapse" data-target="#allAccounts" class="collapsed active">
          <a class="main-menu-style"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i>All Accounts
            <span class="custom-float-right">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="allAccounts">
          <li *ngFor="let accountsByInst of allAccounts">
            <span class="menu-collapsed ml-4 menu-style">{{accountsByInst.inst_name}}</span>
            <p class="menu-collapsed ml-10 menu-style" *ngFor="let accounts of accountsByInst.accounts">{{accounts.subtype}} ****{{accounts.mask}} <span class="right-align">${{accounts.balances.current}}</span></p>
          </li>
        </ul> -->
  
        <!--Bank Accounts -->
        <li data-toggle="collapse" data-target="#products" class="collapsed active">
          <a class="main-menu-style"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i>{{"RSB_A_CASH" | translate}}
            <span class="custom-float-right">
            <span>${{totalBal.cash}}</span>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="products">
          <li *ngFor="let accountsByInst of allAccounts; let parentIndex = index">
            <span class="menu-collapsed ml-4 menu-style">{{accountsByInst.inst_name}}</span>
            <p class="menu-collapsed ml-10 menu-style" *ngFor="let depository of accountsByInst.accounts; let childIndex = index">
              <span *ngIf="depository.type == 'depository'">
                <span *ngIf="!depository.showFullName" (mouseover)="showFullAccName(parentIndex,childIndex)">{{depository.name.length > 20 ? depository.name.substring(0,15)+"..." : depository.name}}</span>
                <span *ngIf="depository.showFullName" (mouseout)="hideFullAccName(parentIndex,childIndex)">{{depository.name}}</span>  
                <span class="right-align custom-green">${{depository.balances.current}}</span>
              </span>
            </p>
            <!--<p class="menu-collapsed ml-10 menu-style">Savings ****9800</p>-->
          </li>
        </ul>
       
        <!-- Credit Cards -->
        <li data-toggle="collapse" data-target="#service" class="collapsed">
          <a class="main-menu-style"><i class="fa fa-caret-down "></i><i class="fa fa-caret-up"></i>{{"RSB_SPAN_CREDIT CARDS" | translate}}<span>
            <span class="custom-float-right">
              <span>${{totalBal.credit}}</span>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </span>
          </span></a>
        </li>
        <ul class="sub-menu collapse" id="service">
          <li *ngFor="let accountsByInst of allAccounts; let parentIndex = index">
            <span class="menu-collapsed menu-style ml-4">{{accountsByInst.inst_name}}</span>
            <p class="menu-style ml-10" *ngFor="let credit of accountsByInst.accounts; let childIndex = index">
              <span *ngIf="credit.type == 'credit'">
                <span *ngIf="!credit.showFullName" (mouseover)="showFullAccName(parentIndex,childIndex)">{{credit.name.length > 20 ? credit.name.substring(0,15)+"..." : credit.name}}</span>
                <span *ngIf="credit.showFullName" (mouseout)="hideFullAccName(parentIndex,childIndex)">{{credit.name}}</span> 
                <span class="right-align custom-red">${{credit.balances.current}}</span>
              </span>
            </p>
          </li>
        </ul>
  
        <li data-toggle="collapse" data-target="#loans" class="collapsed">
          <a class="main-menu-style"><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i>{{"RSB_A_LOANS" | translate}}
            <span class="custom-float-right">
              <span>$0</span>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </span>
          </a>
        </li>
        <ul class="sub-menu collapse" id="loans">
          <li>
            <span class="menu-collapsed menu-style ml-4">{{"RSB_SPAN_COMING SOON" | translate}}</span>
          </li>
        </ul>
      </ul>
    </div>
  </div>
